@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/webfonts/icomoon.eot?bxjfki');
  src:  url('../fonts/webfonts/icomoon.eot?bxjfki#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/icomoon.ttf?bxjfki') format('truetype'),
  url('../fonts/webfonts/icomoon.woff?bxjfki') format('woff'),
  url('../fonts/webfonts/icomoon.svg?bxjfki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ichiba-plugin:before {
  content: "\e90d";
}
.icon-rakuten:before {
  content: "\e90e";
}
.icon-yahoo-shopping:before {
  content: "\e90f";
}
.icon-ichiba-add-cart:before {
  content: "\e900";
}
.icon-ichiba-icon-1:before {
  content: "\e901";
}
.icon-ichiba-icon-2 .path1:before {
  content: "\e902";
  color: rgb(248, 161, 54);
}
.icon-ichiba-icon-2 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ichiba-icon-2 .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ichiba-icon-2 .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ichiba-icon-2 .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ichiba-icon-2 .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ichiba-auction-success:before {
  content: "\e908";
}
.icon-ichiba-auction:before {
  content: "\e909";
}

