#page_lisu {padding: 15px 0;
  @media (min-width: $bp-md) {
    padding: 40px 0;
  }
}
.page_lisu_header {padding: 20px 0}
.page_lisu_logo {display: block;text-align: center;padding: 15px 0;
  img {max-width: 200px}
}
.page_lisu_body {margin: 0 0 30px;}
.page_lisu_footer {text-align: center}
.page_lisu_col {padding: 0 15px;position: relative;height: 100%;
  &.page_login--colleft {display: none;
    @media (min-width: $bp-l) {
      height: 100%;display: block;padding: 0;
    }
    img {width: 100%;height: 100%;object-fit: cover;
      @include border-radius(10px);
    }
  }
  &.page_login--colright {background: white;display: flex;flex-direction: column;
    @include border-radius(10px);
  }
}
.page_lisu_wrap_form {padding: 0;
  @media (min-width: $bp-md) {
    padding: 50px 70px;
  }
}
.page_lisu_introduce {text-align: center;position: absolute;left: 50%;top: 32%;width: 100%;padding: 45px;
  @include transform(translate(-50%,-50%));
  h3 {font-size: 28px;margin-bottom: 30px;text-transform: uppercase;font-weight: $font-medium;}
  p {font-size: $font-size-m;}
}

.lisu_frm_row {margin-bottom: 10px;position: relative}
.lisu_frm_grpbtn {display: flex;justify-content: space-between;align-items: center;flex-direction: column;
  @media (min-width: $bp-md) {
    flex-direction: row;
  }
  button {width: 100%;font-size: $font-size-b;font-weight: normal;margin: 0 0 10px;
    @media (min-width: $bp-md) {
      width: 45%;
    }
    span {font-weight: $font-medium}
  }
}

.lisu_frm_header {text-align: center;margin-bottom: 50px;
  img {margin-bottom: 10px}
}
.lisu_notice {color: $color-red;margin: 0}
.lisu_frm_grpinput {margin-bottom: 30px}
.lisu_frm_label {background: white;margin: 0;position: absolute;top: -16px;left: 15px;padding: 5px;}
.lisu_frm_input {border: solid 1px $color-border;width: 100%;display: block;padding: 10px;
  @include border-radius(10px);
}
.lisu_forgot {color: $color-facebook}
.lisu_remember {display: flex;
  input {margin: 4px 5px 0 0}
}
.lisu_frm_line {text-align: center;padding: 15px 0;position: relative}
.lisu_with_socials {display: flex;justify-content: center;align-items: center;
  a {background: white;display: inline-block;padding: 5px 15px;border: solid 1px transparent;text-align: center;color: white;margin: 0 15px;white-space: nowrap;
    @media (min-width: $bp-md) {
      min-width: 150px
    }
    @include border-radius(20px);
    i {vertical-align: -1px;margin-right: 10px}
    &.lisu_with_fb {border-color: $color-facebook;color: $color-facebook;
      &:hover {background: $color-facebook;color: white}
    }
    &.lisu_with_gg {border-color: $color-orange;color: $color-orange;
      &:hover {background: $color-orange;color: white}
    }
  }
}