.product_detail_seller {}

.produc_detail_auction {
  .product_detail_auction--bg {background: $color-base;text-align: center;padding: 15px;height: 100%;
    @include border-radius(10px);
    h5 {margin: 0 0 5px;font-size: $font-size-s;font-weight: $font-medium}
    strong {font-size: $font-size-bb}
    p {margin: 0;font-size: $font-size-b;}
  }
}
.product_auction_btns {display: flex;align-items: center;
  .button_large {margin: 0 30px 0 0;font-size: 20px;padding: 9px 15px;
    &:last-child {margin: 0}
  }
}

.product_auction_tbl_info {background: $color-bg;width: 100%;padding: 15px;margin: 15px 0 0;
  @include border-radius(8px);
  table {width: 100%;
    tr {}
    td {}
  }
}