.prodct_source_meta {padding-bottom: 15px;margin-bottom: 15px;border-bottom: dashed 1px $color-border;}
.product_source_ribbon {background: $color-orange-secondary;color: white;display: inline-block;position: relative;padding: 3px 20px;text-align: center;margin: 0 15px 0 0;
  @include border-radius(3px);
  &::before {content: '';position: absolute;right: 0;top: 0;
    @include css-triangle(left,white,25px,10px);
  }
}
//Price
.product_source_price {margin-bottom: 16px;
  .source_price_col {
      &--left {}
      &--right {}
    table {background: $color-bg;width: 100%;padding: 8px;
      @include border-radius(8px);
      td {border: none;vertical-align: top}
    }
  }
  .source_price_buttons {display: flex;justify-content: space-between;
    a {width: 48%}
  }
}

//Short Description
.product_short_des {background: $color-bg-third;margin: 0 0 16px;padding: 16px;
  @include border-radius(4px);
}
.product_short_des_link {color: $color-facebook}

//Estimate time
.product_source_estimate_time {padding: 0 0 0 45px;font-size: $font-size-xs;position: relative;margin: 10px 0;
  i {background: $color-orange;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;color: white;position: absolute;left: 0;top: 0;font-size: $font-size-s;
    @include border-radius(50%);
  }
  p {}
}

//Fillter
.product_source_filter {
  .source_filter_item {display: flex;align-items: center;
    label {margin: 0 10px 0 0}
  }
  .source_filter_color {display: flex;
    a {display: block;margin: 0 10px 0 0;overflow: hidden;border: solid 1px $color-border;width: 70px;height: 70px;
      @include border-radius(5px);
      &:hover {border-color: $color-orange}
    }
    img {width: 100%;height: 100%;object-fit: cover}
  }
}

.product_source_grp_btn {display: flex;margin-bottom: 26px;
 a.button_large {font-size: 20px;min-width: 240px;min-height: 48px;line-height: 36px;margin: 0 15px 0 0}
}

.product_source_links {display: flex;
  a {display: inline-block;margin:  0 15px 0 0;
    i {vertical-align: -1px;margin: 0 5px 0 0}
  }
}