#page_yahoo_auction_category {}
#block_yauction_category {
  .block_header {justify-content: center}
}
.yauction_category {}
.yauction_category_item {background: $color-bg-third;padding: 15px;margin-bottom: 30px;display: flex;justify-content: space-between;align-items: center}

.yauction_box_container {margin: 0 -7.5px;
  @extend %clearfix;
}
.yauction_box_item {margin-bottom: 30px}
.yauction_box_thumb {display: block;
  img {width: 100%}
}
.yauction_box_name {font-weight: $font-medium;margin-bottom: 5px;font-size: $font-size-s}
.yauction_box_lst {background: $color-bg;padding: 10px;
  @extend %reset-lst;
  li {padding: 2px 0}
  a {}
}