#page_product_detail {}
.product_detail {background: white;padding: 15px;justify-content: space-between;display: flex;margin-bottom: 15px;
  @include border-radius(15px);
}
.product_detail_col {
  &--left {width: 370px;margin-right: 15px;}
  &--right {width: 825px;display: flex;flex-wrap: wrap}
}

.product_detail_row {margin-bottom: 15px}
.product_detail_header {margin: 0 0 15px;}
.product_detail_body {}
.product_detail_info {flex: 1;margin: 0 15px 0 0}

.product_detail_share {display: flex;justify-content: space-around;margin-bottom: 16px;
  a {min-width: 120px}
}

.product_detail_sidebar {width: 200px}
.product_sidebar_block {background: $color-bg;padding: 10px;margin-bottom: 16px;
  @include border-radius(8px);
}
.product_sidebar_block_header {}
.product_sidebar_block_title {margin: 0 0 10px}
.product_sidebar_block_body {font-size: $font-size-xs;
  h5 {font-size: $font-size-s;color: $color-orange;font-weight: normal}
}

.product_detail_name {font-size: $font-size-b;font-weight: $font-medium;line-height: 1.6;margin: 0 0 15px;}

.product_detail_tab {margin-bottom: 15px;
  .tab_item {}
  .tab_item a {font-size: $font-size-b;padding: 10px 30px}
  .tab_content_item {padding: 15px;
  }
}

.product_detail_des {}
.product_detail_review {}
.product_detail_overview {
  table {width: 100%;border-collapse: collapse;
    tr {}
    td {padding: 5px;border: solid 1px $color-bg;
      &:first-child {background: $color-bg;}
    }
  }
}
.product_detail_qa {
  .qa_list {font-size: $font-size-xs}
  .qa_item {position: relative;margin-bottom: 15px;padding: 0 0 0 70px;min-height: 60px}
  .qa_item_content {}
  .qa_item_row {display: flex;margin: 0 0 5px;
    span {display: inline-block;min-width: 80px;margin: 0 15px 0 0}
    p {margin: 0}
  }
  .qa_vote {background: $color-bg-secondary;width: 56px;height: 56px;position: absolute;left: 0;top: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;
    @include border-radius(4px);
  }
  .qa_item_author {color: $color-text-third;}
  .qa_item_more {text-align: right}
}

.product_auction_price_col {background: $color-base;padding: 10px;
  @include border-radius(10px);
  h4 {margin:0 0 10px;font-size: $font-size-m;font-weight: $font-medium}
  .detail_price_current {color: $color-orange;text-align: right;
    &--vn {font-size: $font-size-m;font-weight: $font-medium}
    &--jp {margin-bottom: 10px}
  }
  .detail_price_more {@extend %reset-lst;font-size: $font-size-xs}
}
.detail_price_current {}

//Review product
.review_user {}
.review_filter {display: flex;align-items: center;padding: 5px 0;border-bottom: solid 1px $color-border;margin-bottom: 15px}
.review_filter_item {margin: 0 15px 0 0;cursor: pointer;
  input {margin-right: 5px}
  label {margin: 0}
}

.review_lst {}
.review_item {margin:0 0 15px;font-size: $font-size-xs}
.review_item_name {background: white;font-weight: $font-medium;font-size: $font-size-s;margin:0 0 5px;}
.reiview_item_content {margin: 0 0 5px;color: $color-link}
.review_item_comment {}


.source_stars {display: inline-block;width: 75px;margin: 0 15px 0 0;
  span {background: url(../../images/icon-star.svg) repeat-x 0 50%;background-size: 15px;display: block;height: 15px;}
}