#page_yauction_list {

}
.yauction_list_tbl {font-size: $font-size-xs;
  tr {}
  th {background: $color-bg;padding: 5px;
    .select_common {background: transparent;border: none !important;}
  }
  td {padding: 5px;
    .product_grp_btn a {padding: 1px;
      span {padding: 3px 10px}
    }
  }
  .product_thumb {
    width: 150px;
    height: 150px;
  }
}
