#page_website {}

.website_section_container {margin-bottom: 15px}
.website_section_header {display: flex;align-items: center;justify-content: center;margin-bottom: 15px;padding: 0 0 15px;border-bottom: solid 1px $color-border}
.website_section_title {margin: 0;font-size: $font-size-m;font-weight: $font-medium;
  span {display: block;color: $color-orange;padding: 5px 10px;border: solid 1px $color-orange;
    @include border-radius(20px);
  }
}
.website_section_body {}