#page_addon {}
#block_addon {}
.addon_item {text-align: center}
.addon_row {padding: 0 100px}
.addon_col {}
.addon_thumb {margin-bottom: 15px;display: block}
.addon_title {margin: 0;font-size: $font-size-s;font-weight: $font-medium;margin-bottom: 10px}

.addon_step {}
.addon_step_item {padding: 0 200px;margin-bottom: 30px}
.addon_step_header {text-align: center}
.addon_step_name {font-weight: $font-medium;font-size: $font-size-m}
.add_step_caption {margin-bottom: 15px}
.addon_step_title {font-size: $font-size-m;margin-bottom: 15px}
.addon_step_body {}

.addon_browser {display: flex;align-items: center;justify-content: center}
.addon_browser_item {display: flex;flex-direction: column;align-items: center;margin: 0;padding: 15px;font-weight: $font-medium;min-width: 140px;
  img {margin-bottom: 10px}
  &:hover,
  &.active {background: $color-bg-third}
  @include border-radius(10px 10px 0 0);
}
.addon_browser_data {display: none;
  &.active {display: block}
}