#page_payment {padding: 50px 0}
.page_payment_header {background: white;padding: 10px 0;margin-bottom: 30px}
.page_payment_footer {}
.page_payment_footer_link {display: flex;align-items: center;justify-content: center;padding: 15px 0;
  span {display: block;padding: 0 10px}
  a {}
}

.payment_support {text-align: center;
  p {margin:0 0 5px}
}
.payment_hotline {position: relative;border: solid 1px $color-orange;padding: 3px 20px 3px 50px;
  @include border-radius(30px);
  span {background: $color-orange;position: absolute;left: 2px;top: 2px;width: 40px;height: 40px;color: white;font-size: $font-size-b;text-align: center;line-height: 40px;
    @include border-radius(50%);
  }
}

.paymen_container {}
.page_payment_body {}

.payment_section {background: white;margin-bottom: 30px;padding: 20px;
  @include border-radius(8px);
}
.payment_section_header {margin-bottom: 15px;}
.payment_section_title {font-size: $font-size-bb;margin: 0;

}
.payment_section_body {}


.payment_prd_lst {font-size: $font-size-xs;}
.payment_prd_item {display: flex;margin-bottom: 15px;padding-bottom: 15px;border-bottom: dashed 1px $color-border}
.payment_prd_thumb {width: 80px;margin: 0 15px 0 0;height: 80px;position: relative;
  &::before {content: '';position: absolute;left: 0;top: 0;display:block;width: 100%;height: 100%;
    @include responsive-ratio(100%,100%);
  }
  img {object-fit: contain;width: 100%;height: 100%}
}
.payment_prd_info {flex: 1}
.payment_prd_name {margin: 0 0 5px;font-size: $font-size-m;
  a {color: $color_link;font-weight: $font-medium}
}
.payment_prd_quantity {font-size: $font-size-s;margin: 0 0 5px}
.payment_prd_price {font-size: $font-size-s}


.payment_order {}
.payment_order--top {display: flex;align-items: center;font-size: $font-size-b;padding: 0 0 5px;margin: 0 0 10px;border-bottom: dashed 1px $color-border;
  div {margin: 0 10px 0 0;padding: 0 10px 0 0}
}

#payment_order_tbl {font-size: $font-size-m;
  @include border-radius(0);
  tr {}
  td {}
}

.payment_address {background: $color-base;border: solid 1px $color-border;padding: 15px 30px 15px 15px;position: relative;margin-bottom: 15px}
.payment_address_name {font-size: $font-size-s;margin: 0 0 15px}
.payment_address_edit {position: absolute;right: 15px;top: 15px}
.payment_address_add {color: $color_link}



//Hình thức thanh toán
#payment_section_type {

  .payment_type_container {background: $color-base;padding: 15px;position: relative}
  .payment_type_selector {position: absolute;top: 0;left: 0;width: 320px}
  .payment_type_selector--item {background: $color-bg-secondary;width: 300px;height: 100px;display: flex;align-items: center;margin: 0 0 1px;padding: 20px 10px 20px 110px;
    font-size: $font-size-b;position: relative;
    color: $color-text-secondary;
    &::before {content: '';position: absolute;right: -16px;top: 0;display: none;
      @include css-triangle(right,$color-bg-secondary,100px,16px);
    }
    img {width: 80px;position: absolute;top: 10px;left: 10px}
    &.active,
    &:hover {cursor: pointer;color: white;background: $color-orange;}
    &.active {
      &::before {display: block;border-left-color: $color-orange}
    }
  }
  .payment_type {padding: 0 0 0 320px;display: none;
    &.active {display: block}
  }
  .payment_type_total {padding: 0 0 0 320px;margin: 0 0 15px}
  .payment_type_panel {background: white;padding: 15px;line-height: 22px;
    @include border-radius(8px);
  }

  .payment_type_body {background: white;padding: 15px;line-height: 22px;
    @include border-radius(8px);
  }
  .payment_type_tbl {max-width: 500px;
    tr {}
    td {padding: 5px}
    hr {margin: 5px 0;border-top-style: dashed}
    input[type="checkbox"] {margin: 0 5px 0 0}
    input[type="text"] {padding: 5px}
  }

  .payment_type_textheading {font-size: $font-size-m;padding: 5px 0;font-weight: $font-medium;margin: 0 0 15px}
  .payment_type_tab {margin: 0 0 15px}
  .payment_type_tab_item {display: flex;
    a {display: block;width: 25%;padding: 20px 10px;text-align: center;
      &.active {background: $color-bg-third}
      img {width: 100px}
    }
  }
  .payment_type_tab_content {padding: 15px;display: none;
    &.active {background: $color-bg-third;display: block}
    h5 ,
    h6 {margin: 0 0 10px;font-size: $font-size-xs;font-weight: $font-medium}
    h5 {font-size: $font-size-s;}

    .payment_type_bank {background: white;margin: 0;border: solid 1px $color-bg-secondary;padding: 10px;width: 100%;font-size: $font-size-xs;
      @include border-radius(10px);
    }
  }

  .payment_type_locations {}
  .payment_type_location {background: $color-bg-third;padding: 15px;margin-bottom: 15px;
    @include border-radius(5px);
    h5 {margin: 0 0 10px;font-size: $font-size-s;font-weight: $font-medium;}
    p {margin: 0}
  }

  .payment_notice {background: #FFFEF9 ;border: dashed 1px #FFE9B5;font-size: $font-size-xs;padding: 15px;
    @include border-radius(8px);
  }
}


.address_form {}
.address_form--row {margin-bottom: 15px;}
.address_form--label {margin: 0;min-width: 150px}
.address_form--input {border: solid 1px $color-border;width: 100%}
.address_form--select {width: 100%}
.address_form--detail {}