.page_yahoo_auction {
  .product_detail_seller {margin-bottom: 50px;padding-bottom: 50px;}
}
.yh_auction_notice {background: $color-bg;padding: 20px 50px;margin: 50px 0;
  &--success {color: #009B41}
}
.yh_auction_input {border: solid 1px $color-border;text-align: center;max-width: 100px;
  @include border-radius(20px);
}
.yh_auction_button {min-width: 150px}

