#page_ichiba_news {}
.top_news {display: flex;justify-content: space-between;margin: 0 0 15px;}
.top_news_slide {
  &.slick_custom {margin: 0;
    .slick-dots {bottom: 10px;width: inherit;right: 30px;}
  }
}
.top_news_left {width: 590px;margin: 0 8px 0 0;
  .top_news_thumb {
    &::before {@include responsive-ratio(590,390);}
  }
}
.top_news_right {width: 332px;display: flex;flex-direction: column;justify-content: space-between;
  .top_news_item:first-child {margin-bottom: 8px}
  .top_news_thumb {
    &::before {@include responsive-ratio(332,190);}
  }
}
.top_news_item {position: relative;flex: 1}
.top_news_content {position: absolute;left: 0;bottom: 0;padding: 10px}
.top_news_thumb {background-size: cover;background-position: 50% 50%;background-repeat: no-repeat;display: block;font-size: 0;position: relative;height: 100%;
  &::before {content: '';display: block;}
}
.top_news_title {margin: 0 0 5px;font-weight: normal}


.box_news_group {display: flex}
.box_news_highlight {width: 490px;margin: 0 24px 0 0;
  .box_news_thumb {width: 100%;height: 325px;margin: 0 0 15px}
  .box_news_des {height: 45px;}
}
.box_news_list {flex: 1;
  @extend %reset-lst;
}
.box_news_thumb {display: block;width: 100px;height: 80px;margin: 0 16px 0 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.box_news_row {display: flex;margin: 0 0 10px;
  &:last-child {margin: 0}
}
.box_news_content {flex: 1}
.box_news_des {margin: 0 0 5px;font-weight: $font-regular;height: 57px;overflow: hidden}
.box_news_date {font-size: $font-size-xs;}

.list_news {}
.list_news_row {}
.list_news_col {margin-bottom: 16px}
.list_news_thumb {display: block;
  img {}
}
.list_news_content {}
.list_news_title {font-weight: $font-regular;margin: 0 0 8px}
.list_news_date {margin: 0 0 5px}


//Article Detail
.article_container {margin-bottom: 50px}
.article_header {margin-bottom: 15px}
.article_title {font-size: $font-size-b;margin: 0 0 15px}
.article_header_meta {display: flex;margin: 0 0 15px;
  i {margin: 0 5px 0 0}
}
.article_publised_date {margin: 0 15px 0 0}
.article_seen {}

.article_header_summary {}

.article_body {margin-bottom: 30px}
.article_summary {background: $color-bg;border: solid 1px $color-border;padding: 10px;float: left;margin: 0 0 15px;width: 100%;min-width: 290px;
  @media (min-width: $bp-mobile) {
    width: auto;margin: 0 15px 15px 0;
  }
  @include border-radius(10px);

  h5 {font-size: $font-size-m;font-weight: $font-regular;margin-bottom: 15px}
  ul {@extend %reset-lst;padding-left: 15px;
    li {padding: 2px 0}
  }
}
.article_footer {}
.article_share {
  strong {display: inline-block;margin-bottom: 5px}
}
.article_share_icon {}
.article_author {text-align: right;}