#page_signup {}
.page_signup_header {margin: 0 0 20px;text-align: center;padding: 20px 0}
.page_signup_logo {
  img {width: 200px}
}
.page_signup_body {margin: 0 0 30px;}
.page_signup_footer {text-align: center}
.page_signup_col {padding: 0 15px;position: relative;
  &.page_signup--colleft{}
  &.page_signup--colright {background: white;
    @include border-radius(10px);
  }
}
.page_signup_wrap_form {padding: 50px 80px}
.page_signup_introduce {text-align: center;position: absolute;left: 50%;top: 32%;width: 100%;padding: 45px;
  @include transform(translate(-50%,-50%));
  h3 {font-size: 28px;margin-bottom: 30px;text-transform: uppercase;font-weight: $font-medium}
  p {font-size: $font-size-m}
}

.signup_frm_row {margin-bottom: 10px;position: relative}
.signup_frm_grpbtn {display: flex;justify-content: space-between;align-items: center;
  .button_border {width: 46%;font-size: $font-size-b;font-weight: normal;
    span {font-weight: $font-medium}
  }
}

.signup_frm_grpinput {margin-bottom: 30px}
.signup_frm_label {background: white;margin: 0;position: absolute;top: -16px;left: 15px;padding: 5px;text-transform: uppercase}
.signup_frm_input {border: solid 1px $color-border;width: 100%;display: block;padding: 10px;
  @include border-radius(10px);
}
.signup_forgot {color: $color-facebook}
.signup_remmeber {}
.signup_frm_line {text-align: center;padding: 15px 0;position: relative}
.signup_with_socials {display: flex;justify-content: center;align-items: center;
  a {background: white;display: inline-block;padding: 5px 15px;border: solid 1px transparent;text-align: center;color: white;min-width: 150px;margin: 0 15px;
    @include border-radius(20px);
    i {vertical-align: -1px;margin-right: 10px}
    &.signup_with_fb {border-color: $color-facebook;color: $color-facebook;
      &:hover {background: $color-facebook;color: white}
    }
    &.signup_with_gg {border-color: $color-orange;color: $color-orange;
      &:hover {background: $color-orange;color: white}
    }
  }
}