#page_profile {}

.sidebar_profile{background: white;padding: 16px;border: solid 1px $color-bg-secondary;
  @include border-radius(8px);
}
.sidebar_profile_header{text-align: center;margin-bottom: 24px}
  .profile_avarta {}
  .profile_avarta_thumb {display: inline-block;width: 100px;height: 100px;overflow: hidden;position: relative;font-size: $font-size-xs;border: solid 1px white;
    @include box-shadow(-2px,2px,2px, rgba(0,0,0, 0.3));
    @include border-radius(50%);
    img {}
    a {display: flex;align-items: center;justify-content: center;flex-direction: column;height: 50%;position: absolute;width: 100%;bottom: 0;left: 0;color: white;line-height: 50%;opacity: 0;
      @include transparent-backgound($color-orange);
      @include transition(all .3s ease);
    }
    &:hover {
      a {opacity: 1}
    }
  }
  .profile_medals {color: $color-orange;font-size: $font-size-xs}
  .profile_name {font-weight: $font-regular;margin: 0 0 5px}

.sidebar_profile_body{}

.profile_function_lst {
  @extend %reset-lst;
  & > li {margin-bottom: 5px;
    & > a {display: block;background: $color-bg;font-size: $font-size-m;padding: 9px 10px;font-weight: $font-medium;
      @include border-radius(8px);
      i {margin: 0 5px 0 0}
    }
  }
}
.profile_function_sub_lst {
  @extend %reset-lst;
  padding: 0 0 0 30px;
  li {font-size: $font-size-s;padding: 3px 0}
}

//
.profile_actions {}
.action_box {background: white;display: flex;overflow: hidden;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.action_box_icon {background: $color-orange;color: white;display: flex;align-items: center;justify-content: center;width: 80px;height: 80px;font-size: 30px}
.action_box_content {min-height: 80px;display: flex;justify-content: center;flex: 1;flex-direction: column;padding: 0 5px 0 15px;
  span.color_orange {font-size: 24px;font-weight: $font-medium}
}

//
.profile_vip_box {background: white;padding: 16px 8px;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.profile_vip_icon {text-align: center;margin-bottom: 10px;
  i {font-size: 24px;color: $color-gray-thirdty}
  span {text-transform: uppercase;display: inline-block;margin: 5px 0 0}
}
.profile_vip_progess {background: $color-gray;height: 24px;line-height: 24px;position: relative;margin: 0 0 5px;
  @include border-radius(4px);
}
.profile_vip_loading {background: $color-orange;color: white;position: absolute;left: 0;top: 0;height: 100%;padding: 5px;width: 0;display: flex;align-items: center;
  @include border-radius(4px);
  @include transition(all .3s ease);
}
.profile_vip_flag {display: flex;justify-content: space-between;color: $color-gray-thirdty}

//
.profile_coupons_lst {}
.profile_coupon {overflow: hidden;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.profile_coupon_content {background: white;padding: 16px}
.profile_coupon_thumb {display: block;max-height: 135px;overflow: hidden;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_coupon_name {font-size: $font-size-s;margin:0 0 5px}
.profile_coupon_time {}


//
.profile_setting {}
#section_profile_setting {
  .section_body {background: white;padding: 24px;
    @include border-radius(8px);
  }
}
.profile_setting_form {padding: 0 80px;
  label {min-width: 140px;margin: 10px 0 0}
  .fieldset_common {display: flex;margin: 0 0 15px}
  .input_common {width: 100%}
}
.profile_setting_form_row {width: 100%;min-height: 40px;
  &.profile_setting_gender {display: flex;align-items: center;
    input {margin: 0 5px 0 0}
    label {min-width: 0;margin: 0 30px 0 0;cursor: pointer}
  }
}
.profile_setting_subcribe_mail {display: flex;padding: 10px 0;
  input {margin: 15px 15px 0 0}
}

//
.profile_address_lst {}
.profile_address_item {
  &.active {
    .profile_address_form{opacity: 1;visibility: visible;max-height: inherit}
  }
}
.profile_address_info {background: $color-bg;padding: 15px;margin-bottom: 15px;display: flex;
  @include border-radius(8px);
  .button_secondary,
  .button_secondary_gray {margin: 0 2px 0 0;
    &:last-child {margin: 0}
  }
}
.profile_address_form {opacity: 0;visibility: hidden;max-height: 0;overflow: hidden;
  @include transition(all .3s ease);
}
.profile_address_more {background: $color-bg;height: 90px;display: flex;align-items: center;justify-content: center;border: dashed 1px $color-border;color: $color-orange;font-size: $font-size-m;
  i {margin: 0 10px 0 0}
  @include border-radius(8px);
  @include transition(all .3s ease);
  &:hover {background: $color-bg-secondary}
}

//
#section_profile_change_password {
  .section_body {background: white;padding: 24px;
    @include border-radius(8px);
  }
}
.profile_change_password {
  .button_save_password,
  .button_cancel_password {margin: 0 5px;min-width: 100px}
  .profile_setting_form {padding: 0 150px}
  label {min-width: 150px;margin-right: 30px}
}

//
.profile_favorite_lst {}
.profile_favorite_col {margin-bottom: 15px}
.profile_favorite_item {background: white;height: 100%;font-size: $font-size-xs;padding: 15px;position: relative;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.profile_favorite_header {display: flex;padding: 0 0 15px;margin-bottom: 15px;border-bottom: dashed 1px $color-bg-secondary}
.profile_favorite_name {font-size: $font-size-s;font-weight: $font-regular;margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
  a {}
}
.profile_favorite_thumb {width: 56px;height: 56px;display: block;margin: 0 15px 0 0;overflow: hidden;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_favorite_info {flex: 1;padding-right: 45px}
.profile_favorite_footer {
  p {margin: 0}
}
.profile_favorite_btn {position: absolute;top: 15px;right: 15px;
  i {margin: 0}
}

//
#section_profile_orders {}
.section_profile_table {
  table {}
}

//Profile Cart shopping
#section_profile_cart {
  .button_primary.button_purchase {min-width: 200px;margin: 0 0 0 8px}
  .button_primary.button_purchase_all{min-width: 220px;margin: 0 0 0 8px}
}

//
.profile_auction_container {padding: 0 0 30px}
.profile_auction_header {}
.profile_auction_title {font-size: $font-size-m;margin: 0 0 16px;padding: 0 0 5px;border-bottom: solid 1px $color-gray}
.profile_auction_body {}
.profile_auction_row {padding: 0 0 15px 135px;position: relative;margin: 0 0 15px;border-bottom: solid 1px $color-gray;
  &:last-child {border: none}
}
.profile_auction_thumb {display: block;width: 120px;height: 120px;position: absolute;left: 0;top: 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_auction_info {}
.profile_auction_name {font-weight: normal;font-size: $font-size-m;margin: 0 0 5px;
  a {
    &:hover {color: $color-orange}
  }
}
.profile_auction_meta {display: flex;font-size: $font-size-xs;margin-bottom: 5px;
  span {margin: 0 15px 0 0}
}
.profile_auction_boxes {display: flex;overflow: hidden;font-size: $font-size-xs;}
.profile_auction_box {background: $color-bg-third;display: flex;align-items: center;justify-content: center;flex-direction: column;flex: 1;padding: 10px 15px;margin: 0 20px 0 0;min-width: 135px;
  @include border-radius(8px);
  &:last-child {margin: 0}
}
.profile_auction_box_title {margin: 0 0 5px}
#profile_auction_tab {
  .tab_nav_lst .tab_item a {padding: 8px 30px}
  .tab_content_item {padding: 15px}
}