#header {background: white;color: $color-orange;padding: 30px 0;position: relative;z-index: 1}
.header_container {display: flex;align-items: center}
.header_col {
  &--left {margin: 0 15px 0 0}
  &--center {width: 600px;padding: 0 15px}
  &--right {flex: 1}
}


