#navigation_main {background: $color-orange;font-weight: $font-medium;margin: 0;}
.navigation_container {}
.navigation_lst {display: flex;align-items: center;
  @extend %reset-lst;
}
.navigation_item {flex: 1;font-size: $font-size-m;padding: 1px;
  &.active a {background: $color-orange-secondary}
  a {display: flex;align-items: center;justify-content: center;padding: 15px 5px;position: relative;color: white;
    &:hover {background: $color-orange-secondary}
    @include transition(all .3s ease);
    img {width: 16px}
  }
  i {margin: 0 5px 0 0;font-size: $font-size-b}
  img {margin: 0 5px 0 0}
}