#topbar {background: $color-orange;position: relative;z-index: 2}
.topbar_col{
  &--left {display: flex;justify-content: flex-start;align-items: center}
  &--right {display: flex;justify-content: flex-end}
}
.topbar_item {padding: 0 10px}
.topbar_item_location {}
.topbar_item_tracking {
  label {margin: 0 0 5px;display: block}
  a {text-decoration: underline;font-weight: bold}

  .tracking_order {}
  .tracking_form {}
  .tracking_form_row {margin-bottom: 15px}
  .tracking_input {background: transparent;display: block;width: 100%;
    &::placeholder {}
  }
  .tracking_btn {}
  p {margin: 0}

}

.topbar_item_customer {
  .customer_care_lst {
    @extend %reset-lst
  }
  .customer_care_item {display: flex;justify-content: space-between;align-items: center;padding: 3px 0;
    a {}
  }
}