<div id="banner">
    <div class="banner_home">
        <div class="banner_slide slick_custom">
            {% for i in 0..3 %}
                <div class="banner_slide_item">
                    <a title="" href="#"><img src="http://placehold.jp/640x360.png" alt="" /></a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>