<div class="block_container" id="">
    <div class="block_header">
        <h3 class="block_title">Phổ biến trên Amazon</h3>
        <a href="/mobile/supplier-popular.html" class="block_header_more">Xem thêm <i class="fas fa-angle-right"></i></a>
    </div>
    <div class="block_body">
        <ul class="tab_nav_lst tab_nav_lst--primary scroll_mobile_h" id="">
            <li class="tab_item active"><a href="javascript:void(0)" title="Product & Department stores" class="active">Product & Department stores</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Toys & Games">Toys & Games</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Condom">Condom</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Brazzers">Brazzers</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Xvideo">Xvideo</a></li>
        </ul>
        <div class="category_grid">
            <div class="category_grid_row scroll_mobile_h">
                {% for i in 0..7 %}
                    <div class="category_grid_col category_grid_col--2-item">
                        <a href="#" class="category_grid_item">
                            <img src="http://placehold.jp/230x195.png" alt=""/>
                        </a>
                        <a href="#" class="category_grid_item">
                            <img src="http://placehold.jp/230x195.png" alt=""/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>