<div class="block_container" id="block_supplier_category">
    <div class="block_header">
        <h3 class="block_title">Danh mục sản phẩm</h3>
        <a href="/mobile/supplier-category-all.html" class="block_header_more">Xem thêm <i class="fas fa-angle-right"></i></a>
    </div>
    <div class="block_body">
        <div class="supplier_category">
            <div class="supplier_category_row scroll_mobile_h">
                {% for i in 0..9 %}
                    <div class="supplier_category_col">
                        <a href="#" title="Truyện tranh,phim hoạt hình" class="supplier_category_item">
                            <img src="http://placehold.jp/100x100.png" class="supplier_category_thumb" alt="Truyện tranh,phim hoạt hình"/>
                            <span class="supplier_category_name">Truyện tranh,phim hoạt hình</span>
                        </a>
                        <a href="#" title="Truyện tranh,phim hoạt hình" class="supplier_category_item">
                            <img src="http://placehold.jp/100x100.png" class="supplier_category_thumb" alt="Truyện tranh,phim hoạt hình"/>
                            <span class="supplier_category_name">Truyện tranh,phim hoạt hình</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>