<div id="modal_set_price_auction" class="modal modal_primary modal_set_price">
    <div class="modal_header">
        <h4 class="modal_title">Đặt giá đấu</h4>
    </div>
    <div class="modal_body">
        <p class="font_size_12">Please place a bud higher than 102.000 Yen sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna </p>
        <div class="text_right">
            <input type="text" class="input_common input_common--small input_common--full text_right mb-2" placeholder="¥"/>
            <span class="color_orange">4.000.000.000đ</span>
        </div>
        <p class="font_size_12">* Hãy đặt “<span class="color_orange">đấu giá tự động</span>” với giá cuối cùng bạn muốn mua sản phẩm này. Điều này giúp bạn không mất nhiều thời gian để đấu giá lại.</p>
        <div class="d-flex align-items-center">
            <label for="set_price_input" class="mr-2">Số lượng</label> <input id="set_price_input" class="input_common input_common--small mr-2" value="1" type="number" min="1"/> /5 sản phẩm
        </div>

        <p class="font_size_12">Hãy chắc chắn rằng bạn đã kiểm tra đánh giá thông tin người đăng đấu giá và mô tả sản phẩm trước khi đấu giá!</p>
    </div>
    <div class="modal_footer">
        <div class="modal_group_button">
            <a href="javascript:void(0)" class="button_secondary button_small" rel="modal:close">Đóng</a>
            <a href="#modal_after_set_price" rel="modal:open" class="button_primary button_small"><i class="icon-ichiba-auction"></i> Đặt giá</a>
        </div>
    </div>
</div>