<div class="product_detail_info">
    <div class="product_detail_header">
        <h1 class="product_detail_name">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除 docomo softbank 1円スタート 最低落札なし jetblack</h1>
        <div class="text_center">
            <a href="#" class="button_secondary_gray"><i class="fas fa-desktop"></i> Xem trên Yahoo Auction</a>
        </div>
    </div>
    <div class="product_detail_body">
        <div class="row mb-3">
            <div class="col-6">
                <div class="product_auction_price_col">
                    Giá hiện tại <br/>
                    <span class="color_orange font_size_14">20.000.000¥</span>
                    <br/>
                    <span class="color_orange font_size_12">4.000.000.000đ</span>
                </div>
            </div>
            <div class="col-6">
                <div class="product_auction_price_col">
                    Giá mua ngay <br/>
                    <span class="color_orange font_size_14">20.000.000¥</span>
                    <br/>
                    <span class="color_orange font_size_12">4.000.000.000đ</span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            * Thuế tại nhật 200.000¥ <br/>
            * Phí vận chuyển nội địa 2.000.000¥
        </div>
        <div class="product_source_estimate_time">
            <i class="fas fa-truck"></i>
            <p class="m-0">
                Thời gian dự kiến quý khách nhận được hàng vào khoảng ngày
                <time datetime="" class="color_orange">13-03-2019</time>
                đến
                <time datetime="" class="color_orange">13-03-2019</time>
                .
                <br>
                Nếu quý khách thanh toán trong hôm nay
            </p>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <div class="product_auction_box_gray text_center">
                    Số lượt đấu <br/>
                    <span class="color_orange font_size_16">24</span>
                </div>
            </div>
            <div class="col-6">
                <a href="#modal_history_auction" rel="modal:open" class="button_secondary_gray button_micro button_full mb-2">
                    <i class="far fa-clock"></i> Xem lịch sử đấu
                </a>
                <a href="#" class="button_secondary_gray button_micro button_full">
                    <i class="fas fa-calculator"></i> Ước tính giá cuối
                </a>
            </div>
        </div>
        {% include '../../components/mobile/product_auction_tbl_info.twig' %}

        <div class="block_container mb-0">
            <div class="block_header">
                <h3 class="block_title">Sản phẩm gợi ý</h3>
            </div>
            <div class="block_body">
                <div class="product_list">
                    <div class="row product_row scroll_mobile_h">
                        {% for i in 0..5 %}
                            <div class="product_col">
                                <div class="product_item">
                                    <a href="#" class="product_thumb">
                                        <img src="http://placehold.jp/320x320.png" alt=""/>
                                    </a>
                                    <div class="product_info">
                                        <div class="product_info_top">
                                            <div class="product_info_top--left">
                                                <span class="product_info_time_countdown">05:14:59:59</span>
                                            </div>
                                            <div class="product_info_top--right">
                                            <span class="product_source_web">
                                                <i class="icon-ichiba-auction"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="product_name">
                                        <a href="#" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
                                    </h3>
                                    <div class="product_info_row">
                                        <div class="product_stars">
                                            <span class="product_stars_icon " style="width: 60%"></span>
                                        </div>
                                    </div>
                                    <div class="product_info_row">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="product_price">
                                                <span class="product_price_japan">60,000,000¥</span> <br/>
                                                <span class="product_price_vn">12,720,000,000đ</span>
                                            </div>
                                            <a href="#" class="button_primary button_micro product_button product_add_cart"><i class="icon-ichiba-auction"></i> Đấu</a>
                                        </div>
                                    </div>
                                    <div class="product_info_row">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="product_price">
                                                <span class="product_price_japan">60,000,000¥</span> <br/>
                                                <span class="product_price_vn">12,720,000,000đ</span>
                                            </div>
                                            <a href="#" class="button_secondary button_micro product_button product_add_cart"><i class="icon-ichiba-add-cart"></i> Mua</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>