<div class="product_detail_info">
    <div class="product_detail_header">
        <h1 class="product_detail_name">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除 docomo softbank 1円スタート 最低落札なし jetblack</h1>
        <div class="text_center">
            <a href="#" class="button_secondary_gray"><i class="fas fa-desktop"></i> Xem trên Amazon</a>
        </div>
    </div>
    <div class="product_detail_body">
        <div class="prodct_source_meta">
            <div class="row">
                <div class="col-md-6 mb-2 d-flex align-items-center">
                    <strong class="source_stars">
                        <span style="width: 100%"></span>
                    </strong>
                    <span>(1.000.000 đánh giá)</span>
                </div>
                <div class="col-md-6">
                    <span class="product_source_ribbon">#1 Best seller</span> mục
                    <a href="#" class="color_blue">Men’s Working Shoes</a>
                </div>
            </div>
        </div>
        <div class="row product_source_price">
            <div class="source_price_col source_price_col--left col-md-5">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Giá:</td>
                        <td align="right">
                            <div class="font_size_14 color_orange ">20.000.000 đ</div>
                            <div class="font_size_12 color_orange">2160.0 円</div>
                            <del class="font_size_12 text-truncate">200.000</del>
                        </td>
                    </tr>
                    <tr>
                        <td>Tiết kiệm:</td>
                        <td align="right"><span class="color_orange">5.000.000đ</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">
                <div class="product_source_estimate_time">
                    <i class="fas fa-truck"></i>
                    <p class="m-0">
                        Thời gian dự kiến quý khách nhận được hàng vào khoảng ngày
                        <time datetime="" class="color_orange">13-03-2019</time>
                        đến
                        <time datetime="" class="color_orange">13-03-2019</time>
                        .
                        <br>
                        Nếu quý khách thanh toán trong hôm nay
                    </p>
                </div>
                <div class="source_price_buttons">
                    <a href="#" class="button_secondary button_micro">
                        <i class="far fa-chart-bar"></i> Xem biến động giá
                    </a>
                    <a href="#" class="button_secondary button_micro">
                        <i class="fas fa-calculator"></i> Ước tính giá cuối
                    </a>
                    <a href="#modal_shop_same_sale" rel="modal:open" class="button_secondary button_micro">
                        <i class="fas fa-store"></i> Cửa hàng cùng bán
                    </a>
                </div>
            </div>
        </div>
        <div class="product_source_attribute mb-2">
            <div class="row mb-3">
                <div class="col-md-6 mb-1">
                    <div class="source_attribute_item">
                        <label for="" class="">Size:</label>
                        <div class="select_wrap">
                            <select name="" id="" class="select_common">
                                <option value="">Size M</option>
                                <option value="">Size L</option>
                                <option value="">Size XL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="source_attribute_item">
                        <label for="" class="">Offer type:</label>
                        <div class="select_wrap">
                            <select name="" id="" class="select_common">
                                <option value="">Size M</option>
                                <option value="">Size L</option>
                                <option value="">Size XL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="source_attribute_item flex-column align-items-start">
                        <div class="mb-2">
                            <label for="" class="">Color:</label><span>Blue</span>
                        </div>
                        <div class="source_attribute_color scroll_mobile_h">
                            {% for i in 0..4 %}
                                <a href="#" title="">
                                    <img src="http://placehold.jp/50x50.png" alt=""/>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_source_quantity d-flex align-items-center mb-2">
                <span class="mr-2">Số lượng :</span>
                <div class="count_box">
                    <button type="button" id="" class="button_minus" data-field="quantity">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="number" id="1" value="1" min="1" class="count_box_input" name="quantity" />
                    <button type="button" id="" class="button_plus" data-field="quantity">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div>
                <a href="" class="mr-5">Còn <strong class="">10.000</strong> sản phẩm </a>
            </div>
        </div>

        <div class="block_container mb-0">
            <div class="block_header">
                <h3 class="block_title">Sản phẩm mua kèm</h3>
            </div>
            <div class="block_body">
                <div class="product_list">
                    <div class="row product_row scroll_mobile_h">
                        {% for i in 0..5 %}
                            <div class="product_col">
                                <div class="product_item">
                                    <a href="#" class="product_thumb">
                                        <img src="http://placehold.jp/320x320.png" alt=""/>
                                    </a>
                                    <div class="product_info">
                                        <div class="product_info_top">
                                            <div class="product_info_top--left">
                                                <span class="product_info_discount">Giảm 50%</span>
                                            </div>
                                            <div class="product_info_top--right">
                                                <span class="product_source_web">
                                                    <img src="../../../images/icon-amazon.svg" alt="" width=""/>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="product_name">
                                        <a href="#" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
                                    </h3>
                                    <div class="product_info_row">
                                        <div class="product_stars">
                                            <span class="product_stars_icon " style="width: 60%"></span>
                                        </div>
                                    </div>
                                    <div class="product_info_row">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="product_price">
                                                <span class="product_price_japan">60,000,000¥</span> <br/>
                                                <span class="product_price_vn">12,720,000,000đ</span>
                                            </div>
                                            <a href="#" class="button_primary button_micro product_button product_add_cart"><i class="fas fa-shopping-cart"></i> Thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>