<div class="product_auction_tbl_info">
    <div class="row">
        <div class="col-md-6">
            <table>
                <tbody><tr>
                    <td>ID Phiên đấu:</td>
                    <td>IDl526435128</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>Overall condition is bad</td>
                </tr>
                <tr>
                    <td>Số lượng:</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Thời gian bắt đầu:</td>
                    <td>2019.02.25 (Monday) 19: 50</td>
                </tr>
                <tr>
                    <td>Thời gian kết thúc:</td>
                    <td> 2019.03.02 (Sat) 21 : 25</td>
                </tr>
                <tr>
                    <td>Tự động mở rộng:</td>
                    <td>Có</td>
                </tr>
                <tr>
                    <td>Kết thúc sớm::</td>
                    <td>Có</td>
                </tr>
                </tbody></table>
        </div>
        <div class="col-md-6">
            <table>
                <tbody><tr>
                    <td>Hoàn trả</td>
                    <td>Return</td>
                </tr>
                <tr>
                    <td>Giới hạn người đấu:</td>
                    <td>Có  </td>
                </tr>
                <tr>
                    <td>Xác thực người đấu:</td>
                    <td>Có  </td>
                </tr>
                <tr>
                    <td>Người đấu cao nhất:</td>
                    <td>9 * M * v *** / Evaluation 114</td>
                </tr>
                <tr>
                    <td>Giá khởi điểm</td>
                    <td>215 VNĐ (1 yên)</td>
                </tr>
                <tr>
                    <td>Auction ID</td>
                    <td>F333695516</td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>