<!--Header Login-->
<div class="header_login">
    <div class="header_login_item">
        <a href="#"><i class="fas fa-heart"></i> Yêu thích</a>
    </div>
    <div class="header_login_item">
        <a href="#"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a>
    </div>
    <div class="header_login_item">
        <a href="#"><i class="fas fa-user"></i> Đăng nhập/Đăng ký</a>
    </div>
</div>
<!--//Header Login-->