<!--=======================HEADER=======================-->
<header id="header">
    <div class="container-custom header_container">
        <div class="header_col header_col--left">
            <h1 id="logo">
                <a href="#" title="{{ slogan }}"><img src="images/logo-2.svg" alt="{{ slogan }}" width="165" /></a>
                <strong>{{ slogan }}</strong>
            </h1>
        </div>
        <div class="header_col header_col--center">
            {% include "header_search.twig" %}
        </div>
        <div class="header_col header_col--right">
            {% include "header_login.twig" %}
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->