<!--Header Search-->
<div class="header_search">
    <form action="" class="header_search_form">
        <div class="header_search_field">
            <input type="text" placeholder="Tìm kiếm sản phẩm" class="input_common input_common--small  header_search_input" />
            <select class="header_search_select" name="" id="">
                <option value="">Yahoo Auction</option>
                <option value="">Yahoo Shopping</option>
                <option value="">Amazon</option>
                <option value="">Rakuten</option>
                <option value="">Add-ons</option>
                <option value="">List Website</option>
                <option value="">iChiba Place</option>
            </select>
        </div>
        <div class="header_search_button">
            <button type="submit" class="button_primary button_large"><i class="fas fa-search"></i> Tìm kiếm</button>
        </div>
    </form>
    {#<div class="hotkey">
        <ul class="hotkey_lst">
            <li class="hotkey_item">
                <a href="#" title="">iPhone</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Macbook</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Đồng Hồ</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Máy tính</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Quần áo</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Phụ kiện</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Android</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">trang sức</a>
            </li>
            <li class="hotkey_item">
                <a href="#" title="">Game</a>
            </li>
            <li class="hotkey_item hotkey_showmore js-hotkey_item">
                <a href="#" title="Xem thêm">Xem thêm </a>
                <div class="hotkey_showmore_data">
                    {% for i in 0..20 %}
                        <a href="#" title="Hotkey" class="">Hotkey</a>
                    {% endfor %}

                </div>
            </li>
        </ul>
    </div>#}
</div>

<!--//Header Search-->