<div id="banner">
    <div class="banner_container banner_supplier">
        <div class="banner_left">
            <div class="banner_slide slick_custom">
                {% for i in 0..3 %}
                    <div class="banner_slide_item">
                        <a title="" href="#"><img src="http://placehold.jp/648x372.png" alt="" /></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="banner_right">
            <a href="#" title="">
                <img src="http://placehold.jp/320x182.png" alt="" />
            </a>
            <a href="#" title="">
                <img src="http://placehold.jp/320x182.png" alt="" />
            </a>
        </div>
    </div>
</div>