<div id="banner">
    <div class="slick_custom banner_slide">
        <div class="banner_slide_item">
            <a href=""><img src="http://placehold.jp/930x265.png" alt="" /></a>
        </div>
        <div class="banner_slide_item">
            <a href=""><img src="http://placehold.jp/930x265.png" alt="" /></a>
        </div>
        <div class="banner_slide_item">
            <a href=""><img src="http://placehold.jp/930x265.png" alt="" /></a>
        </div>
        <div class="banner_slide_item">
            <a href=""><img src="http://placehold.jp/930x265.png" alt="" /></a>
        </div>
    </div>
</div>