<div id="banner">
    <div class="container-custom">
        <div class="banner_container banner_home">
            <div class="banner_left">
                <div class="banner_slide slick_custom">
                    {% for i in 0..3 %}
                        <div class="banner_slide_item">
                            <a title="" href="#"><img src="http://placehold.jp/836x480.png" alt="" /></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="banner_right">
                <a href="#" title="">
                    <img src="http://placehold.jp/396x236.png" alt="" />
                </a>
                <a href="#" title="">
                    <img src="http://placehold.jp/396x236.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>