<div class="block_container" id="block_suggest_for_you">
    <div class="block_header">
        <h3 class="block_title">Gợi ý dành cho bạn</h3>
    </div>
    <div class="block_body">
        <ul class="tab_nav_lst tab_nav_lst--primary" id="tab_suggest">
            <li class="tab_item active">
                <a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Auction" class="active">
                    <i class="icon-ichiba-auction"></i> Yahoo! Auction
                </a>
            </li>
            <li class="tab_item">
                <a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Shopping">
                    <i class="icon-yahoo-shopping"></i> Yahoo! Shopping
                </a>
            </li>
            <li class="tab_item">
                <a data-toggle="tab" href="javascript:void(0)" title="Amazon">
                    <i class="fab fa-amazon"></i> Amazon
                </a>
            </li>
            <li class="tab_item">
                <a data-toggle="tab" href="javascript:void(0)" title="Rakuten">
                    <i class="icon-rakuten"></i> Rakuten
                </a>
            </li>
            <li class="tab_item">
                <a data-toggle="tab" href="javascript:void(0)" title="Rakuten">
                    <img src="../../images/icons/ichiba-icon-2.svg" alt=""/> iChiba Place
                </a>
            </li>
        </ul>
        {% for i in 0..1 %}
        <div class="category_grid">
            <div class="category_grid_banner">
                <a href="#" title="" class="category_grid_banner_thumb">
                    <img src="http://placehold.jp/258x408.png" alt=""/>
                </a>
            </div>
            <div class="category_grid_row">
                {% for i in 0..7 %}
                    <div class="category_grid_col">
                        <a href="#" class="category_grid_item">
                            <img src="http://placehold.jp/224x184.png" alt=""/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>