<div class="rakuten_caroulsel">
    <div class="rakuten_caroulsel_lst">
        {% for i in 0..9 %}
            <div class="rakuten_caroulsel_item">
                <a href=""><img src="http://placehold.jp/160x160.png" alt="" /></a>
            </div>
        {% endfor %}
    </div>
</div>