<div class="block_container" id="block_coupon_yshopping">
    <div class="block_header">
        <h3 class="block_title">Phiếu giảm giá</h3>
        <span class="">2019/2/21 13: 50 updated</span>
    </div>
    <div class="block_body">
        <div class="slick_custom">
            <div class="row coupon_yshopping_lst">
                {% for i in 0..9 %}
                    <div class="col-3 coupon_yshopping_item">
                        <a href="#" class="coupon_yshopping_thumb" title="">
                            <img src="http://placehold.jp/200x200.png" alt="" />
                        </a>
                        <h3 class="coupon_yshopping_name">
                            <a href="#" title="">All items subject! From price of best  price ... From</a>
                        </h3>
                        <div class="coupon_yshopping_date">
                            <time>2019/4/10/00: 00</time>
                        </div>
                        <div class="coupon_yshopping_price">
                            <strong class="">215.000 vnđ</strong><br/>
                            <small>100 円</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>