<div class="block_container" id="block_live_stream">
    <div class="block_header">
        <h3 class="block_title"><img src="/images/icon-livestream.svg" alt=""> &nbsp; Kênh bán hàng trực tuyến </h3>
    </div>
    <div class="block_body">
        <div class="slick_custom">
            <div class="row livestream_lst">
                {% for i in 0..8 %}
                    <div class="col-3 livestream_item">
                        <a href="#" class="livestream_thumb">
                            <span class="livestream_status play">Live</span>
                            <img src="http://placehold.jp/200x200.png" alt=""/>
                        </a>
                        <h3 class="livestream_name">
                            <a href="#" title="[New] Premiums gathering up, useful gadgets are at 5:30">[New] Premiums gathering up, useful gadgets are at 5:30</a>
                        </h3>
                        <div class="livestream_info">
                            <time class="livestream_date">2019/4/10/00: 00</time>
                            <div class="livestream_data">
                                <span class="livestream_data_item"><i class="fas fa-play-circle"></i> 922</span>
                                <span class="livestream_data_item"><i class="fas fa-thumbs-up"></i> 922</span>
                            </div>
                        </div>
                        <div class="livestream_shop"><img src="/images/icons/icon-store.svg" alt="" width="15"/> Second party premium anet shop</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>