<div class="block_container" id="block_my_coupons">
    <div class="block_header">
        <h3 class="block_title">Phiếu giảm giá cho bạn</h3>
    </div>
    <div class="block_body">
        <div class="my_coupons_lst slick_custom">
            {% for i in 0..9 %}
                <div class="my_coupons_item">
                    <a href="#" class="my_coupons_thumb"><img src="http://placehold.jp/160x160.png" alt="" /></a>
                    <div class="my_coupons_data">
                        <span class="my_coupons_price my_coupons_price--vn">108.000 VNĐ</span>
                        <span class="my_coupons_price my_coupons_price--jp">1080.0 円</span>
                    </div>
                    <div class="my_coupons_data">
                        <span class="my_coupons_price my_coupons_price--vn">108.000 VNĐ</span>
                        <span class="my_coupons_price my_coupons_price--down">1080.0 円</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>