
<div class="block_container" id="block_store">
    <div class="block_header">
        <h3 class="block_title">Website mua hàng nhật</h3>
    </div>
    <div class="block_body">
        <div class="tab_main store_tab">
            <div class="store_tab_list ">
                <div class="active"><a  href="#" title="Yahoo! Auction" class="">Yahoo! Auction & Yahoo! Auction </a></div>
                {% for i in 0..11 %}
                    <div class=""><a  href="#" title="" class="">Site Name</a></div>
                {% endfor %}
            </div>
            <div class="tab_content">
                {% for i in 0..9 %}
                    <div class="tab_content_item">
                        <div class="store_items">
                            {% for item in 0..9 %}
                                <div class="store_item">
                                    <div class="store_item_inner">
                                        <a href="#" class="store_thumb" title="">
                                            <img src="http://placehold.jp/200x100.png" alt="" />
                                        </a>
                                        <h5 class="store_name">Forever 21</h5>
                                        <h6 class="store_type">forever.com</h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>