{% extends "block_product_common.twig" %}

{% block block_product_common %}
    <div class="block_container block_product_common" id="block_best_sale ">
        <div class="block_header">
            <h3 class="block_title">Giảm giá CỰC SHOCK! <a href="#">Xem tiếp <i class="fas fa-chevron-right"></i></a></h3>
        </div>
        <div class="block_body">
            <ul class="tab_nav_lst tab_nav_lst--primary">
                <li class="tab_item active"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Auction" class="active">Yahoo! Auction</a></li>
                <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Shopping">Yahoo! Shopping</a></li>
                <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Amazon">Amazon</a></li>
                <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">Rakuten</a></li>
                <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">iChiba Place</a></li>
                <li class="tab_item"><a data-toggle="tab" href="#" title="">Chi tiết</a></li>
            </ul>
            <div class="block_product_list">
                <div class="block_product_tab">
                    <div class="tab_content">
                        <div class="tab_content_item active">
                            <div class="row product_row">
                                {% for i in 0..3 %}
                                    <div class="col-md-3 product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab_content_item">
                            <div class="row product_row">
                                {% for i in 0..3 %}
                                    <div class="col-md-3 product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab_content_item">
                            <div class="row product_row">
                                {% for i in 0..3 %}
                                    <div class="col-md-3 product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab_content_item">
                            Rakuten
                        </div>
                        <div class="tab_content_item">
                            iChiba Place
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}