{% extends "block_product_common.twig" %}

{% block block_product_common %}
    <div class="block_container block_product_common" id="block_update_everyday">
        <div class="block_header">
            <h3 class="block_title">DEALS HOT! Sản phẩm cập nhật mỗi ngày<a href="#">Xem tiếp <i class="fas fa-chevron-right"></i></a></h3>
        </div>
        <div class="block_body">
            <div class="block_product_list">
                <div class="block_product_tab">
                    <div class="tab_content">
                        <div class="tab_content_item active">
                            <div class="row product_row">
                                {% for i in 0..3 %}
                                    <div class="col-md-3 product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="block_pagination">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="tab_content_item">
                            <div class="row product_row">
                                {% for i in 0..3 %}
                                    <div class="col-md-3 product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab_content_item">
                            <div class="row product_row">
                                {% for i in 0..3 %}
                                    <div class="col-md-3 product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab_content_item">
                            Rakuten
                        </div>
                        <div class="tab_content_item">
                            iChiba Place
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}