{%
    set arr = [
        'Tôi có thể mua hàng tại Amazon Japan hoặc các website khác qua iChiba mà không sử dụng Plugin Add to iChiba được không?',
        '"Add to iChiba" không thể hoạt độn bình thường',
        'Có sản phẩm nào không thể mua qua iChiba trên Amazon.jp không? ',
        'Tôi có thể "Add to iChiba" mà không cần đăng nhập tài khoản iChiba không?',
        'Tôi không thể cài đặt Add-ons “Add to iChiba”',
        'Add to iChiba” là gì?',
        'Tôi đã cài đặt "Add to iChiba", nhưng nó không xuất hiện khi tôi truy',
        'Một vài website không hiển thị danh sách “Add to iChiba” khi sử dụng trình duyệt Firefox',
        'Điểm khác biệt giữa những website cho “Add to iChiba” và những website khác trong iChiba là gì?',
        'Có thể thêm nhiều sản phẩm giống nhau vào giỏ hàng khi sử dụng "Add to iChiba" không?',
    ]
%}

<div class="block_container" id="block_questions">
    <div class="block_header justify-content-center">
        <h3 class="block_title">FAQ (Câu hỏi thường gặp)</h3>
    </div>
    <div class="block_body">
        <ul class="row questions_lst">
            {% for i in arr %}
                <li class="col-6"><a href="#" title=""><i class="fas fa-chevron-circle-right"></i> {{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>