{% set services = [
    { name: "Fulfillment by iChiba (FBI)", url: "images/icons/service-icon1.svg",des: 'Mua sắm hàng Nhật với quy trình trọn gói, thủ tục đơn giản, thanh toán dễ dàng!' },
    { name: "Hỗ trợ khách hàng 24/7", url: "images/icons/service-icon2.svg",des: 'Dịch vụ khách hàng tư vấn nhiệt tình, hỗ trợ Quý khách hàng 24/24h mọi lúc mọi nơi.' },
    { name: "Vận chuyển nhanh chóng", url: "images/icons/service-icon3.svg",des: 'Thời gian vận chuyển hàng hóa nhanh chóng, an toàn  chỉ từ 3-5 ngày' },
    { name: "Bảo hiểm 100% hàng hóa", url: "images/icons/service-icon4.svg",des: 'Chính sách bảo hiểm hàng hóa tới 100%, nói KHÔNG với các trường hợp hàng hóa thất lạc, rơi vỡ, móp méo, tráo hàng, ...' },
    { name: "Săn SALE khủng dễ dàng", url: "images/icons/service-icon5.svg",des: 'Mua sắm hàng Nhật với quy trình trọn gói, thủ tục đơn giản, thanh toán dễ dàng!' },
] %}

<div class="block_container" id="block_services">
    <div class="block_header">
        <h3 class="block_title">Mua hàng NHẬT BẢN tận GỐC chưa bao giờ dễ dàng đến thế</h3>
    </div>
    <div class="block_body">
        <div class="services_grp">
            {% for item in services %}
                <div class="services_item">
                    <h4 class="services_name">{{ item.name }}</h4>
                    <div class="services_body">
                        <p class="services_content">{{ item.des }}</p>
                        <a href="#" class="services_link" title="{{ item.name }}">Chi tiết</a>
                    </div>
                    <img src="{{ item.url }}" alt="" class="services_icon" />
                </div>
            {% endfor %}
        </div>
    </div>
</div>