<div class="block_container" id="block_addon_guide">
    <div class="block_header justify-content-center">
        <h3 class="block_title">Hướng dẫn sử dụng “Add to iChiba”</h3>
    </div>
    <div class="block_body">
        <p class="text-center">
            Bạn hãy chọn biểu tượng trình duyệt bạn đang sử dụng ở bên dưới. <br>
            Để tải xuống <a href="#" class="color-orange">Add-ons</a> tương thích với trình duyệt, vui lòng click vào <strong>“Install  Add to iChiba”</strong> để đến cửa hàng
            <strong>Plugin</strong> của trình duyệt.
            <br/>
            Sau đó, vui lòng trở lại cửa sổ trình duyệt ban đầu để cài đặt <strong>"Add to iChiba"</strong>.
        </p>
        <div class="addon_browser">
            <a href="javascript:void(0)" class="addon_browser_item active">
                <img src="images/icon-firefox.svg" alt=""/>
                Mozilla firefox
            </a>
            <a href="javascript:void(0)" class="addon_browser_item">
                <img src="images/icon-chrome.svg" alt=""/>
                Google Chrome
            </a>
            <a href="javascript:void(0)" class="addon_browser_item">
                <img src="images/icon-coccoc.svg" alt=""/>
                Cốc Cốc
            </a>
        </div>
        <hr class="mt-0" />
        <div class="addon_browser_data active">
            <div class="addon_step">
                <div class="addon_step_item">
                    <div class="addon_step_header">
                        <h4 class="addon_step_name">Bước 1:</h4>
                        <p class="add_step_caption">
                            Chọn "Install Add to iChiba" ở bên dưới
                            <br/>
                            <br/>
                            <a href="#" class="button_secondary"><span> <i class="icon-icon-ichiba-addon"></i>Install Add to Ichiba</span></a>
                        </p>
                    </div>
                    <div class="addon_step_body">
                        <div class="row">
                            <div class="col-6 addon_col">
                                <div class="addon_item">
                                    <h5 class="addon_step_title">Click "＋ADD TO CHROME"</h5>
                                    <a href="#" title="" class="addon_thumb">
                                        <img src="http://placehold.jp/370x220.png" alt="Yahoo! Shopping"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 addon_col">
                                <div class="addon_item">
                                    <h5 class="addon_step_title">Click "Add extension"</h5>
                                    <a href="#" title="" class="addon_thumb">
                                        <img src="http://placehold.jp/370x220.png" alt="Yahoo! Shopping"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addon_step_item">
                    <div class="addon_step_header">
                        <h4 class="addon_step_name">Bước 2:</h4>
                        <p class="add_step_caption">
                            Tìm kiếm sản phẩm bạn yêu thích trên website sau đó click vào biểu tượng <img src="images/ichiba-plus.svg" alt=""/>
                            ở góc trên cùng bên phải của trình duyệt. Sau đó click vào “Add to iChiba Cart” để thêm vào giỏ hàng của bạn
                        </p>
                    </div>
                    <div class="addon_step_body">
                        <div class="row">
                            <div class="col-6 addon_col">
                                <div class="addon_item">
                                    <a href="#" title="" class="addon_thumb">
                                        <img src="http://placehold.jp/370x220.png" alt="Yahoo! Shopping"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 addon_col">
                                <div class="addon_item">
                                    <a href="#" title="" class="addon_thumb">
                                        <img src="http://placehold.jp/370x220.png" alt="Yahoo! Shopping"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addon_step_item">
                    <div class="addon_step_header">
                        <h4 class="addon_step_name">Bước 3:</h4>
                        <p class="add_step_caption">
                            Xác nhận sản phẩm trong giỏ hàng iChiba của bạn trước khi click “Xác nhận thanh toán”
                        </p>
                    </div>
                    <div class="addon_step_body">
                        <div class="row">
                            <div class="col-6 addon_col">
                                <div class="addon_item">
                                    <a href="#" title="" class="addon_thumb">
                                        <img src="http://placehold.jp/370x220.png" alt="Yahoo! Shopping"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 addon_col">
                                <div class="addon_item">
                                    <a href="#" title="" class="addon_thumb">
                                        <img src="http://placehold.jp/370x220.png" alt="Yahoo! Shopping"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="addon_browser_data">
            Chrome
        </div>
        <div class="addon_browser_data">
            Coc coc
        </div>
    </div>
</div>