<div class="block_container" id="block_estimate">
    <div class="block_header">
        <h3 class="block_title">Công cụ ước lượng</h3>
    </div>
    <div class="block_body">
        <div class="estimate_container">
            <form action="" class="estimate_frm">
                <div class="row">
                    <div class="col-6">
                        <div class="estimate_frm_row">
                            <label for="estimate_price" class="estimate_label">Giá hàng hóa</label>
                            <div class="d-flex align-items-center">
                                <input type="number" placeholder="VD: 30.000" id="estimate_price" class="input_common input_common--tiny estimate_input_text" /> VND
                            </div>
                        </div>
                        <div class="estimate_frm_row">
                            <label for="estimate_city" class="estimate_label">Vị trí</label>
                            <div class="select_wrap tiny" id="estimate_city">
                                <select name="" id="" class="select_common">
                                    <option value="">Hà Nội</option>
                                    <option value="">TPHCM</option>
                                    <option value="">Da Nang</option>
                                    <option value="">TPHCM</option>
                                </select>
                            </div>
                        </div>
                        <div class="estimate_frm_row">
                            <label for="estimate_weight" class="estimate_label">Cân nặng hàng hóa</label>
                            <div class="d-flex align-items-center">
                                <input type="number" placeholder="VD: 30.000" id="estimate_weight" class="input_common input_common--tiny estimate_input_text" /> G
                            </div>
                            <small class="color_red">* Xin hãy nhập trọng lượng tính bằng gam (1000g - 1kg)</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="estimate_frm_row">
                            <label for="estimate_length" class="estimate_label">Kích thước gói </label>
                            <div class="d-flex justify-content-between align-items-center">
                                <input type="number" placeholder="Chiều dài" id="estimate_length" class="input_common input_common--tiny estimate_input_text" />
                                <input type="number" placeholder="Chiều rộng" id="estimate_width" class="input_common input_common--tiny estimate_input_text" />
                                <input type="number" placeholder="Chiều cao" id="estimate_height" class="input_common input_common--tiny estimate_input_text" />
                                CM
                            </div>
                            <small class="color_red">* Xin hãy nhập kích thước tính bằng Cm</small>
                        </div>
                        <div class="estimate_frm_row">
                            <span class="estimate_label">Nguồn hàng</span>
                            <div class="estimate_source">
                                <div class="estimate_source_item">
                                    <input type="radio" name="estimate_source" class="estimate_radio" id="estimate_source1" />
                                    <label for="estimate_source1">Yahoo! Auction</label>
                                </div>
                                <div class="estimate_source_item">
                                    <input type="radio" name="estimate_source" class="estimate_radio" id="estimate_source2" />
                                    <label for="estimate_source2">Yahoo! Shopping, Rakuten, Amazon</label>
                                </div>
                                <div class="estimate_source_item">
                                    <input type="radio" name="estimate_source" class="estimate_radio" id="estimate_source3" />
                                    <label for="estimate_source3">Khác</label>
                                </div>
                            </div>
                        </div>
                        <div class="estimate_frm_row d-flex align-items-center">
                            <input type="checkbox" id="estimate_insurrance"/>
                            <label for="estimate_insurrance" class="estimate_label mb-0">Bảo hiểm hàng hoá</label>
                        </div>

                        <div class="estimate_frm_row">
                            <button type="button" class="button_primary button_small estimate_btn"><span>Ước lượng</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>