<div class="block_container" id="block_addon">
    <div class="block_header justify-content-center">
        <h3 class="block_title">Add-ons “Add to iChiba là gì?</h3>
    </div>
    <div class="block_body">
        <p class="text-center">
            Bạn có thể mua hàng từ tất cả những Website tại Nhật Bản và dễ dàng vận chuyển hàng hóa về Việt nam
            bằng cách sử dụng “Add to iChiba”
        </p>
        <div class="row addon_row">
            <div class="col-4 addon_col">
                <div class="addon_item">
                    <a href="#" title="" class="addon_thumb">
                        <img src="http://placehold.jp/270x150.png" alt="Yahoo! Shopping"/>
                    </a>
                    <h4 class="addon_title"><a href="">Website mua hàng Nhật</a></h4>
                    <p class="addon_des">Danh sách hơn 160 website
                        tại Nhật Bản
                    </p>
                </div>
            </div>
            <div class="col-4 addon_col">
                <div class="addon_item">
                    <a href="#" title="" class="addon_thumb">
                        <img src="http://placehold.jp/270x150.png" alt="Yahoo! Shopping"/>
                    </a>
                    <h4 class="addon_title"><a href="#">Website mua hàng Nhật</a></h4>
                    <p class="addon_des">
                        Hướng dẫn sử dụng Add-ons mua hàng
                        tại website Nhật Bản
                    </p>
                </div>
            </div>
            <div class="col-4 addon_col">
                <div class="addon_item">
                    <a href="#" title="" class="addon_thumb">
                        <img src="http://placehold.jp/270x150.png" alt="Yahoo! Shopping"/>
                    </a>
                    <h4 class="addon_title"><a href="#">Website mua hàng Nhật</a></h4>
                    <p class="addon_des">
                        Giải đáp mọi thắc mắc của bạn trong
                        quá trình sử dụng Add-ons
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>