<div class="block_container" id="block_good_deals">
    <div class="block_header">
        <h3 class="block_title">Deals tốt mỗi ngày</h3>
    </div>
    <div class="block_body">
        <ul class="tab_nav_lst tab_nav_lst--primary">
            <li class="tab_item active"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Auction" class="active">Yahoo! Auction</a></li>
            <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Shopping">Yahoo! Shopping</a></li>
            <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Amazon">Amazon</a></li>
            <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">Rakuten</a></li>
            <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">iChiba Place</a></li>
            <li class="tab_item"><a data-toggle="tab" href="#" title="">Chi tiết</a></li>
        </ul>
        <div class="block_product_list">
            <div class="block_product_banner">
                <img src="http://placehold.jp/270x770.png" alt="" />
            </div>
            <div class="block_product_tab">
                <div class="tab_content">
                    <div class="tab_content_item active">
                        <div class="row product_row">
                            {% for i in 0..7 %}
                                <div class="col-md-3 product_col">
                                    {% include "../components/product_item.twig" %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="block_pagination">
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="tab_content_item">
                        <div class="row product_row">
                            {% for i in 0..7 %}
                                <div class="col-md-3 product_col">
                                    {% include "../components/product_item.twig" %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab_content_item">
                        <div class="row product_row">
                            {% for i in 0..7 %}
                                <div class="col-md-3 product_col">
                                    {% include "../components/product_item.twig" %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab_content_item">
                        Rakuten
                    </div>
                    <div class="tab_content_item">
                        iChiba Place
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>