{% extends "block_product_common.twig" %}

{% block block_product_common %}
    <div class="block_container block_product_common" id="block_recent_view">
        <div class="block_header">
            <h3 class="block_title">Sản phẩm vừa xem<a href="#">Xem tiếp <i class="fas fa-chevron-right"></i></a></h3>
        </div>
        <div class="block_body">
            <div class="block_product_list">
                <div class="row product_row">
                    {% for i in 0..3 %}
                        <div class="product_col">
                            {% include "../components/product_item.twig" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="block_pagination">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}