<div class="block_container block_product_common" id="block_product_freeship">
    <div class="block_header">
        <h3 class="block_title">Sản phẩm miến phí vận chuyển<a href="#">Xem tiếp <i class="fas fa-chevron-right"></i></a></h3>
    </div>
    <div class="block_body">
        <div class="block_product_list">
            <div class="row product_row product_col_5">
                {% for i in 0..4 %}
                    <div class="product_col">
                        {% include "../components/product_item_auction.twig" %}
                    </div>
                {% endfor %}
            </div>
            <div class="block_pagination">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>