<div class="filter_result">
    <div class="row filter_result_row">
        <div class="col">Khoảng <strong class="">2,002,531</strong> sản phẩm</div>
        <div class="col text_right">Từ 1 đến 20 sản phẩm</div>
    </div>
    <div class="d-flex justify-content-between filter_result_row">
        <div class="filter_result_keywords">
            Từ khoá: <a href="#">iPhone</a> &nbsp; | &nbsp; Tìm kiếm trên: <a href="#">iPhone <i class="fas fa-times-circle"></i></a> <a href="#">iPhone <i class="fas fa-times-circle"></i></a>
        </div>
        <div class="filter_result_display">
            Hiển thị: <a href="#" class="active"><i class="fas fa-list"></i></a> &nbsp; <a href="#" class=""><i class="fas fa-th-large"></i></a>
        </div>
    </div>
    <div class="filter_result_row">
        <div class="filter_display">
            <span>Bộ lọc:</span>
            <div class="mr-2">
                <div class="select_wrap">
                    <select name="" class="select_common tiny" id="sort_price_select">
                        <option value="">Thấp đến cao</option>
                        <option value="">Cao đến Thấp</option>
                        <option value="">Thấp đến cao</option>
                        <option value="">Cao đến Thấp</option>
                    </select>
                </div>
            </div>
            <a href="javascript:void(0)" class="filter_display_item">4 Stars & Up </a>
            <a href="javascript:void(0)" class="filter_display_item">iPhone 8 </a>
            <a href="javascript:void(0)" class="filter_display_item">iPhone X </a>
            <a href="javascript:void(0)" class="filter_display_item">iPhone 7 </a>
            &nbsp;&nbsp;
            <a href="#"><i class="fas fa-trash-alt"></i> Xoá hết</a>
        </div>
    </div>
    <div class="row filter_result_row">
        <div class="col-8 d-flex align-items-center">
            {% include '../components/pagination.twig' %}
        </div>
        <div class="col-4">
            <div class="filter_sort filter_sort_product">
                <label for="sort_product_select">Hiển thị sản phẩm:</label>
                <div class="select_wrap">
                    <select name="" class="select_common tiny" id="sort_product_select">
                        <option value="">20 Sản phẩm</option>
                        <option value="">20 Sản phẩm</option>
                        <option value="">20 Sản phẩm</option>
                        <option value="">20 Sản phẩm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>