{#<div class="languages">
    <div class="language_item">Ngôn ngữ:</div>
    <div class="language_item"><a href="#" title="日本語"><img src="images/flag-japan.svg" alt="日本語" /></a></div>
    <div class="language_item"><a href="#" title="English"><img src="images/flag-en.svg" alt="English"/></a></div>
    <div class="language_item"><a href="#" title="Tiếng việt"><img src="images/flag-vn.svg" alt="Tiếng việt"></a></div>
</div>#}
<div class="topbar_item languages">
    <div class="topbar_menu dropdow_menu">
        <div class="dropdown_menu_inner">
            <div class="dropdown_menu_header">
                <h6 class="dropdown_menu_name"><img src="images/flag-vn.svg" alt="Tiếng việt"><span>Tiếng việt</span></h6>
            </div>
            <div class="dropdown_menu_body left">
                <div class="dropdown_menu_data">
                    <div class="dropdown_menu_item">
                        <div class="language_item"><a href="#" title="Tiếng việt"><img src="images/flag-vn.svg" alt="Tiếng việt"> Tiếng việt</a></div>
                    </div>
                    <div class="dropdown_menu_item">
                        <div class="language_item"><a href="#" title="日本語"><img src="images/flag-japan.svg" alt="日本語" /> Tiếng nhật</a></div>
                    </div>
                    <div class="dropdown_menu_item">
                        <div class="language_item"><a href="#" title="English"><img src="images/flag-en.svg" alt="English"/> Tiếng anh</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>