{% set categories = [
    {name: 'Fashion · Inner',total: '9,000,988',subcat: ['Fashion · Inner 1','Fashion · Inner 2','Fashion · Inner 3']},
    {name: 'Fashion · Accessories',total: '323',subcat: ['Fashion · Accessories 1','Fashion · Accessories 2','Fashion · Accessories 3']},
    {name: 'Gourmet',total: '9,000,988',subcat: ['Gourmet 1','Gourmet 2','Gourmet 3']},
    {name: 'Kids · Baby · Toys',total: '9,000,988',subcat: ['Kids · Baby · Toys 1','Kids · Baby · Toys 2','Kids · Baby · Toys 3',]},
    {name: 'Sports · Golf',total: '9,000,988',subcat: ['Sports · Golf 2','Sports · Golf 1','Sports · Golf 3',]},
    {name: 'Home electronics · TV · camera',total: '9,000,988',subcat: ['Home electronics · TV · camera','Home electronics · TV · camera','Fashion · Inner 3',]},
    {name: 'PC · smartphone · communication',total: '9,000,988',subcat: ['PC · smartphone · communication 1','PC · smartphone · communication 2','PC · smartphone · communication 3',]},
    {name: 'Fashion · Inner',total: '9,000,988',subcat: ['Fashion · Inner 1','Fashion · Inner 2','Fashion · Inner 3',]},
    {name: 'Food and sweets',total: '9,000,988',subcat: ['Food and sweets 1','Food and sweets 2','Food and sweets 3',]},
    {name: 'Interior · BeddingInterior · Bedding',total: '9,000,988',subcat: ['Interior · Bedding 1','Interior · Bedding','Interior · Bedding 3',]},
    {name: 'Books · e-book · music',total: '9,000,988',subcat: ['Books · e-book · music','Books · e-book · music','Books · e-book · music',]},
    {name: 'Car / Motorcycle',total: '9,000,988',subcat: ['Car / Motorcycle 1','Car / Motorcycle 2','Car / Motorcycle 3',]},
]

%}


<div class="menu_categories">
    <div class="menu_categories_header">
        <h4 class="menu_categories_title"><i class="fas fa-bars"></i> Danh mục sản phẩm</h4>
    </div>
    <ul class="categories_lst">
        {% for values in categories %}
            <li class="categories_item">
                <div class="categories_item_title">
                    <a href="#" title="{{ values.name }}">{{ values.name }}</a>
                    <span class="categories_item_arrow"><i class="fas fa-chevron-right"></i></span>
                </div>
                <div class="mega_menu_container">
                    <div class="mega_menu_inner">
                        {% for i in 0..random(5, 30) %}
                            <div class="sub_menu">
                                <h4 class="sub_menu_title">
                                    <a href="#" title="{{ values.name }}">{{ values.name }}</a>
                                </h4>
                                <ul class="sub_menu_lst">
                                    {% for i in 0..random(5, 30) %}
                                        <li><a href="#" title="{{ values.name }}">{{ values.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mega_menu_banner">
                        <img src="http://placehold.jp/230x390.png" alt=""/>
                    </div>
                </div>
            </li>
        {% endfor%}
    </ul>
</div>

<div class="menu_categories">
    <div class="menu_categories_header">
        <h4 class="menu_categories_title"><i class="fas fa-bars"></i> Danh mục sản phẩm</h4>
    </div>
    <ul class="categories_lst">
        {% for values in categories %}
            <li class="categories_item">
                <div class="categories_item_title">
                    <a href="#" title="{{ values.name }}">{{ values.name }}</a>
                    <span class="categories_item_arrow categories_item_toggle"><i class="fas fa-chevron-right"></i></span>
                </div>
                <div class="categories_sub">
                    <ul class="categories_sub_lst">
                        {% for i in values.subcat %}
                            <li class="categories_sub_lst_item">
                                <a href="#" title="{{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor%}
    </ul>
</div>

