<div class="menu_fix">
    <ul class="menu_fix_lst">
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-bell"></i>Thông báo</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-user"></i>Tài khoản</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-shopping-cart"></i>Giỏ hàng</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-heart"></i>Yêu thích</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title="">Đang đấu</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title="">Đấu xong</a>
        </li>
        {#<li class="menu_fix_item">
            <a href="#" title="">Đã xem</a>
            <div class="fix_item_slide">
                <div class="fix_item_product">
                    <a href="#" title="" title="">
                        <img src="" alt="" />
                    </a>
                </div>
            </div>
        </li>#}
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-plane"></i>Shipping</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-question-circle"></i>Hướng dẫn</a>
        </li>
        <li class="menu_fix_item">
            <a href="#" title=""><i class="fas fa-chevron-circle-up"></i>Lên đầu</a>
        </li>
    </ul>
</div>