<div class="pagination_container">
    <span>Trang 1/999:</span>
    <div class="pagination_lst">
        <a href="#" class="pagination_item pagination_arrow pagination_back"><i class="fas fa-chevron-left"></i></a>
        <span class="pagination_item pagination_number current">1</span>
        <a href="#" class="pagination_item pagination_number">2</a>
        <a href="#" class="pagination_item pagination_number">3</a>
        <span class="pagination_item  break">...</span>
        <a href="#" class="pagination_item pagination_number">2</a>
        <a href="#" class="pagination_item pagination_number">5</a>
        <a href="#" class="pagination_item pagination_number">10</a>
        <a href="#" class="pagination_item pagination_arrow pagination_next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="pagination_goto">
        <span>Đi tới</span>
        <input type="number" class="input_common input_common--tiny pagination_input" />
        <a href="#" class="pagination_item"><i class="fas fa-arrow-right"></i></a>
    </div>


</div>