<div class="payment_section" id="payment_section_delivery">
    <div class="payment_section_header">
        <h3 class="payment_section_title">
            <span>Thông tin giao hàng</span>
        </h3>
    </div>
    <div class="payment_section_body">
        <div class="payment_address">
            <h5 class="payment_address_name">Nguyễn Như Hiếu</h5>
            <strong>Địa chỉ:</strong> Liên đoàn bóng đá Việt Nam - Số 8 Lê Quang Đạo
            - Phường Phú Đô - Quận Nam Từ Liêm - TP. Hà Nội. <br/>
            <strong>Email:</strong> hieunn94@gmail.com <br/>
            <strong>Điện thoại:</strong> 0964 491 243 <br/>
            <a href="javascript:void(0)" title="Edit" class="payment_address_edit"><i class="fas fa-edit"></i></a>
        </div>
        <p>
            Bạn muốn giao hàng đến địa chỉ khác? <a href="#" class="payment_address_add">Thêm địa chỉ giao hàng mới</a>
        </p>

        <hr/>
        <form class="address_form">
            <div class="row address_form--row">
                <label for="address_input_name" class="col-2 address_form--label">Họ và tên*</label>
                <div class="col-5">
                    <input type="text" class="input_common address_form--input" id="address_input_name" placeholder="Nguyễn Như Hiếu" />
                </div>
            </div>
            <div class="row address_form--row">
                <label for="address_input_phone" class="col-2 address_form--label">Điện thoại*</label>
                <div class="col-5">
                    <input type="text" class="input_common address_form--input" id="address_input_phone" placeholder="0964 491 243" />
                </div>
                {#<div class="col-5">
                    iChiba sẽ liên hệ quý khách theo số điện thoại này <br/>
                    để xác nhận hoặc thông báo giao hàng
                </div>#}
            </div>
            <div class="row address_form--row">
                <label for="address_input_email" class="col-2 address_form--label">Email*</label>
                <div class="col-5">
                    <input type="text" class="input_common address_form--input" id="address_input_email" placeholder="hieunn94@gmail.com" />
                </div>
            </div>
            <div class="row address_form--row">
                <label for="address_form--city" class="col-2 address_form--label">Tỉnh/ Thành phố*</label>
                <div class="col-5">
                    <div class="select_wrap">
                        <select name="address_form--city" id="address_form--city" class="select_common address_form--select">
                            <option value="">Hà Nội</option>
                            <option value="">Hà Nội</option>
                            <option value="">Hà Nội</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row address_form--row">
                <label for="address_form--district" class="col-2 address_form--label">Quận/ Huyện*</label>
                <div class="col-5">
                    <div class="select_wrap">
                        <select name="address_form--district" id="address_form--district" class="select_common address_form--select">
                            <option value="">Hà Nội</option>
                            <option value="">Hà Nội</option>
                            <option value="">Hà Nội</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row address_form--row">
                <label for="address_form--wards" class="col-2 address_form--label">Phường/ Xã*</label>
                <div class="col-5">
                    <div class="select_wrap">
                        <select name="address_form--wards" id="address_form--wards" class="select_common address_form--select">
                            <option value="">Hà Nội</option>
                            <option value="">Hà Nội</option>
                            <option value="">Hà Nội</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row address_form--row">
                <label for="address_form--detail" class="col-2 address_form--label">Địa chỉ chi tiết*</label>
                <div class="col-5">
                                                    <textarea name="address_form--detail" class="address_form--detail" id="address_form--detail" cols="" rows="10" placeholder="Địa chỉ chi tiết*">
                                                </textarea>
                </div>
            </div>
            <div class="row address_form--row">
                <label for="" class="col-2 address_form--label">&nbsp;</label>
                <div class="col-5">
                    <button class="button_secondary"><span>Thêm Địa chỉ</span></button>
                </div>
            </div>
        </form>
    </div>
</div>