<div class="payment_block">
    <div class="payment_block_header">
        <span>Thông tin mua hàng</span>
        <a href="#" class=""><i class="fas fa-edit"></i></a>
    </div>
    <div class="payment_block_body">
        <div>
            <h4 class="font_size_14  mb-2">Nguyễn Như Hiếu</h4>
            <strong class="">Địa chỉ:</strong> Liên đoàn bóng đá Việt Nam - Số 8 Lê Quang Đạo - Phường Phú Đô - Quận Nam Từ Liêm - TP. Hà Nội
            <br/>
            <strong class="">Email: </strong>hieunn94@gmail.com
            <br/>
            <strong class="">Điện thoại:</strong> 0964 491 243
        </div>
    </div>
</div>
<div class="payment_block">
    <div class="payment_block_header">
        <span>Người nhận hàng</span>
        <a href="#" class=""><i class="fas fa-edit"></i></a>
    </div>
    <div class="payment_block_body">
        <div>
            <h4 class="font_size_14  mb-2">Nguyễn Như Hiếu</h4>
            <strong class="">Địa chỉ:</strong> Liên đoàn bóng đá Việt Nam - Số 8 Lê Quang Đạo - Phường Phú Đô - Quận Nam Từ Liêm - TP. Hà Nội
            <br/>
            <strong class="">Email: </strong>hieunn94@gmail.com
            <br/>
            <strong class="">Điện thoại:</strong> 0964 491 243
        </div>
    </div>
</div>
<div class="payment_block">
    <div class="payment_block_header">
        ĐƠN HÀNG <a href="#" class="color_blue">Mã: #ICB2911994</a>
    </div>
    <div class="payment_block_body">
        <div class="payment_prd_lst">
            {% for i in 0..2 %}
                <div class="payment_prd_item">
                    <a href="#" class="payment_prd_thumb">
                        <img src="http://placehold.jp/100x100.png" alt="" />
                    </a>
                    <div class="payment_prd_info">
                        <h4 class="payment_prd_name">
                            <a href="#">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
                        </h4>
                        <div class="payment_prd_code">Mã SP: l495630609</div>
                        <div class="payment_prd_price">
                            <strong class="font_size_14  color_orange">233,982đ </strong><del> 233,982đ</del>
                        </div>
                        <span class="color_orange">1080.0 円</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="payment_block">
    <table class="table table-borderless payment_type_tbl">
        <tr>
            <td>
                <strong class="">Tạm tính</strong>
            </td>
            <td align="right">
                <strong class="color_orange ">10.000.000đ</strong>
            </td>
        </tr>
        <tr>
            <td>Phí mua hộ</td>
            <td align="right">
                <span class="color_orange">10.000.000đ</span>
            </td>
        </tr>
        <tr>
            <td>Phí vận chuyển Quốc tế</td>
            <td align="right">
                <span class="color_orange">10.000.000đ</span>
            </td>
        </tr>
        <tr>
            <td>Phí giao hàng</td>
            <td align="right">
                <span class="color_orange">10.000.000đ</span>
            </td>
        </tr>
        <tr>
            <td>VAT</td>
            <td align="right">
                <span class="color_orange">10.000.000đ</span>
            </td>
        </tr>
        <tr>
            <td>Dịch vụ quà tặng</td>
            <td align="right">
                <span class="color_orange">10.000.000đ</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" class="mr-1"/>Bảo hiểm vận chuyển
            </td>
            <td align="right">
                <span class="color_orange">10.000.000đ</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                * Ước tính phí vận chuyển <a href="#" class="color_blue">tại đây</a>
            </td>
        </tr>
    </table>
    <table class="table table-borderless payment_type_tbl">
        <tr>
            <td>
                <strong class="">Thành tiền </strong><span>(Tạm tính)</span>
            </td>
            <td align="right">
                10.000.000đ
            </td>
        </tr>
        <tr>
            <td colspan="2">
                * Đơn hàng của bạn được miễn phí vận chuyển nội thành
                Hà Nội và TP. Hồ Chí Minh.
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <strong class=" font_size_m">
                    Cảm ơn bạn!
                </strong>
            </td>
        </tr>
    </table>
</div>