<div class="payment_section" id="payment_section_type">
    <div class="payment_section_header">
        <h3 class="payment_section_title">
            <span>Chọn hình thức thanh toán</span>
        </h3>
    </div>
    <div class="payment_section_body">
        <div class="payment_type_container">
            <div class="payment_type_selector">
                <div class="payment_type_selector--item active">
                    <img src="/images/payment_icon_1.svg" alt="Chuyển khoản trực tiếp cho iChiba"/>
                    Chuyển khoản trực tiếp cho iChiba
                </div>
                <div class="payment_type_selector--item">
                    <img src="/images/payment_icon_2.svg" alt="Thanh toán trực tiếp tại văn phòng iChiba"/>
                    Thanh toán trực tiếp tại văn phòng iChiba
                </div>
                <div class="payment_type_selector--item">
                    <img src="/images/payment_icon_3.svg" alt="Thanh toán bằng Ví iChiba"/>
                    Thanh toán bằng Ví iChiba
                </div>
            </div>
            <div class="payment_type_total">
                <div class="payment_type_panel">
                    <table class="table table-borderless payment_type_tbl">
                        <tr class="font_size_18">
                            <td class="">Số tiền đã thanh toán:</td>
                            <td>
                                <span class="color_orange">10.000.000đ</span>
                            </td>
                        </tr>
                        <tr class="font_size_18">
                            <td class="">
                                Tổng giá trị tất toán (tạm tính):
                            </td>
                            <td>
                                <span class="color_orange">-10.000.000đ</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="mb-2">
                                    <label for="option_request_1">
                                        <input type="radio" class="mr-2" id="option_request_1" name="option_request"/> Yêu cầu tạm ứng 70% giá trị tất toán <span class="color_orange">~ 700.000đ</span>
                                    </label>
                                </div>
                                <div class="mb-2">
                                    <label for="option_request_2">
                                        <input type="radio" class="mr-2" id="option_request_2" name="option_request"/> Yêu cầu tạm ứng 70% giá trị tất toán <span class="color_orange">~ 700.000đ</span>
                                    </label>
                                </div>
                                <p>
                                    * Vui lòng nạp thêm tiền vào tài khoản sau khi xác nhận thanh toán
                                </p>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="button_primary button_regular">Xác nhận thanh toán</button>
                </div>
            </div>
            <div class="payment_type active">
                <div class="payment_type_body">
                    <h5 class="payment_type_textheading">
                        Chọn ngân hàng thanh toán
                    </h5>
                    <div class="payment_type_tab">
                        <div class="payment_type_tab_item">
                            <a href="javascript:void(0)" class="active">
                                <img src="/images/banks/vcb.png" alt=""/>
                            </a>
                            <a href="javascript:void(0)" class="">
                                <img src="/images/banks/vietinbank.png" alt=""/>
                            </a>
                            <a href="javascript:void(0)" class="">
                                <img src="/images/banks/tcb.png" alt=""/>
                            </a>
                            <a href="javascript:void(0)" class="">
                                <img src="/images/banks/bidv.png" alt=""/>
                            </a>
                        </div>
                        <div class="payment_type_tab_content active">
                            <h5>Thông tin chuyển khoản</h5>
                            <h6>Ngân hàng ngoại thương Việt Nam - iChiba Việt Nam</h6>
                            <div class="payment_type_bank">
                                <table class="table table-borderless payment_type_tbl">
                                    <tr>
                                        <td>Số tài khoản</td>
                                        <td>0881000451717</td>
                                    </tr>
                                    <tr>
                                        <td>Tên chủ tài khoản</td>
                                        <td>Công Ty Cổ Phần iChiba Việt Nam</td>
                                    </tr>
                                    <tr>
                                        <td>Chi nhánh Ngân hàng</td>
                                        <td>Chi nhánh Thăng Long</td>
                                    </tr>
                                    <tr>
                                        <td>Tỉnh/ Thành Phố</td>
                                        <td>TP. Hà Nội</td>
                                    </tr>
                                    <tr>
                                        <td>Nội dung chuyển khoản</td>
                                        <td>[[Mã đơn hàng] + [Ngày tháng] + [Số điện thoại]]</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="payment_type_tab_content">

                        </div>
                        <div class="payment_type_tab_content">

                        </div>
                        <div class="payment_type_tab_content">

                        </div>
                    </div>
                    <div class="payment_notice color_gray font_size_12">
                        <i>
                            * Lưu ý: Vui lòng chuyển tiền chính xác theo thông tin tài khoản ngân hàng và nội dung chuyển khoản. Sẽ được hiển thị sau khi quý khách hoàn click Xác nhận đặt hàng bên dưới
                            <br/>
                            - Đơn hàng được thanh toán tại máy ATM, vì không thể ghi chú nội dung thanh toán nên qúy khách vui lòng thông báo qua email hoặc gọi trực tiếp tổng đài Fado để được hỗ trợ
                            <br/>
                            - Đơn hàng được của quý khách chỉ được xác nhận thanh toán sau khi Fado nhận được thông báo từ Ngân hàng với nội dung thanh toán đầy đủ. Bất cập: một số Ngân hàng không hỗ trợ kiểm tra sau 19h00: Agribank, Đông Á, Sacombank, Vietinbank,...
                            <br/>
                            - iChiba đảm bảo giá sản phẩm không thay đổi trong vòng 60 phút. Căn cứ vào thời điểm quý khách [Xác nhận đặt hàng] thành công
                        </i>
                    </div>
                </div>
            </div>
            <div class="payment_type">
                <div class="payment_type_body">
                    <h5 class="payment_type_textheading">
                        Địa chỉ văn phòng iChiba
                    </h5>
                    <p class="font_size_14">
                        Quý khách vui lòng đến trực tiếp tại một trong các địa chỉ sau để thực hiện thanh toán:
                    </p>
                    <div class="row payment_type_locations">
                        {% for i in 0..3 %}
                            <div class="col-6">
                                <div class="payment_type_location">
                                    <h5>Chi nhánh Hà Nội</h5>
                                    <p>
                                        Số 8 đường Lê Quang Đạo, Phường Phú Đô,
                                        Quận Nam Từ Liêm, TP. Hà Nội <br/>
                                        <strong class="">1900 988 950</strong>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="payment_type">
                <div class="payment_type_body">
                    <h5 class="payment_type_textheading">
                        Ví của bạn
                    </h5>
                    <div class="payment_type_wallet">
                        <div class="row">
                            <div class="col-6">
                                <table class="table payment_type_tbl table-borderless">
                                    <tr>
                                        <td>Tổng số dư:</td>
                                        <td>
                                            <span class="color_orange">10.000.000đ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Số dư khả dụng:</td>
                                        <td>10.000.000đ</td>
                                    </tr>
                                    <tr>
                                        <td>Số dư đóng băng:</td>
                                        <td>10.000.000đ</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-6">
                                <a href="#" class="button_secondary">
                                    <span>Nạp tiền</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>