{%
    set arr = [
        {
            name: 'Đặt hàng hoặc đấu giá',
            des: 'Đặt hàng hoặc đấu giá sản phẩm từ iChiba.vn',
            btn: 'Hướng dẫn đấu giá',
        },
        {
            name: 'Thanh toán lần 1',
            des: 'Thanh toán khoản đặt cọc ban đầu cho đơn hàng',
            btn: 'Quy trình vận chuyển',
        },
        {
            name: 'Chuyển hàng đến kho Nhật',
            des: 'Sản phẩm sẽ được giao đến kho của chúng tôi tại Nhật Bản',
            btn: 'Biểu phí dịch vụ',
        },
        {
            name: 'Vận chuyển Quốc Tế',
            des: 'Sản phẩm sẽ được vận chuyển từ Nhật Bản về kho tại Việt Nam từ 3-5 ngày',
            btn: 'Gợi ý danh mục sản phẩm',
        },
        {
            name: 'Nhận hàng và Tất toán',
            des: 'Quý khách thanh toán nốt khoản phí còn thiếu của đơn hàng và nhận hàng',
            btn: 'Điều khoản & dịch vụ',
        },
    ]
%}
<div class="block_container">
    <div class="block_body">
        <div class="process_order">
            <h3 class="process_order_title">Quy trình mua hàng</h3>

            <p class="process_order_des">
                Chúng tôi giúp bạn mua và vận chuyển hàng hóa xuyên biến giới! <br/>
                “Mang tinh hoa Nhật Bản tới tận tay của bạn!”
            </p>
            <div class="process_order_row">
                {% for i in arr %}
                    <div class="process_order_col">
                        <img src="http://placehold.jp/120x120.png" alt="{{ i.name }}" class="process_order_thumb"/>
                        <h4 class="process_order_name">{{ i.name }}</h4>
                        <p class="process_order_content">
                            {{ i.des }}
                        </p>
                        <a href="#" class="button_secondary button_regular button_full process_order_button">{{ i.btn }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-6 offset-3">
            <div class="process_order_estimate">
                <h4>Công cụ ước tính giá cuối cùng</h4>
                <p>
                    Vui lòng nhập các thông tin liên quan đến mặt hàng bạn đang quan tâm.
                    Chúng tôi sẽ giúp bạn ước lượng giá cuối cùng khi chúng đến tay của bạn!
                </p>
                <a href="#" class="button_primary">Ước tính giá cuối cùng</a>
            </div>
        </div>
    </div>
</div>