<div class="product_detail_qa" id="">
    <div class="qa_list">
        {% for i in 0..4 %}
            <div class="qa_item">
                <div class="qa_vote">
                    <strong>7</strong>
                    <span>Votes</span>
                </div>
                <div class="qa_item_row">
                    <span>Câu hỏi:</span>
                    <div class="qa_item_content">
                        <p>Does this have HDMI 2.0 for 4K</p>
                    </div>
                </div>
                <div class="qa_item_row">
                    <span>Trả lời:</span>
                    <div class="qa_item_content">
                        <p>
                            This does not have a hdmi port, however it has 2 DP (Display Ports) which is better than HDMI. You will need to purchase a DP to HDMI dongle or converter in order to plug into HDMI.
                        </p>
                        <div class="qa_item_author">
                            By Gregory L. Dye on August 27, 2017
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="qa_item_more">
            <a href="#" class="button_secondary">Xem thêm (30)</a>
        </div>
    </div>
</div>