<div class="product_short_des">
    Material: キャンバス
    <br/>
    Heel Height: 2 centimeters cm
    <br/>
    Introducing our more canvas all star hi Converse (converse). Since 1917 you've loved by many years since it was introduced as a universal 1 pair that will match with any style in the design are perfect for casual occasions. High cut ankle has dainty form the right volume a good item for both a casual pants, skirt with balance. A traditional formula to protect your sneakers in between comfort and design, you'll want to take you a staple.
    <br/>
    Material: Canvas
    <br/>
    Approx size heel: 2 cm Tall:/14 cm
    <div class="text_center">
        <a href="javascript:void(0)" class="product_short_des_link">Chi tiết sản phẩm  <i class="fas fa-angle-down"></i></a>
    </div>
</div>