<div class="product_item">
    <div class="product_body">
        <a href="#" class="product_thumb">
            <img src="images/product-item.jpg" alt="ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ..." />
        </a>
        <div class="product_info">
            <div class="product_info_top">
                <span class="product_info_discount">Giảm 50%</span>
                <span class="product_source_web"><img src="../../images/icon-amazon.svg" alt=""/> Amazon</span>
            </div>
            <div class="product_info_row">
                <div class="d-flex justify-content-between">
                    <strong class="">Người đấu: <span class="color_red">32</span></strong>
                    <strong class="">Độ uy tín: <span class="color_red">100%</span></strong>
                </div>
            </div>
            <h3 class="product_name">
                <a href="" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
            </h3>
            <div class="product_info_row">
                <span>Mã SP: 1495630609</span> <br/>
                <span>Vận chuyển nội địa: <strong class="color_red ">Free</strong></span>
            </div>
            <div class="product_info_row">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="product_price">
                        <span class="font_size_s">233,982 Vnd</span><br/>
                        <span class="product_price_japan">
                        1080.0 円
                    </span>
                    </div>
                    <a href="#" class="button_primary button_tiny button_add_cart"><i class="fas fa-shopping-cart"></i> Thêm giỏ</a>
                </div>
            </div>
            <p class="mt-0 mb-2">* Chưa gồm phí phát sinh</p>
            <div class="product_showmore">
                <div class="product_info_row product_assess">
                    <i class="far fa-grin"></i>
                    <div class="product_assess_title">
                        Đánh giá:
                        <span class="product_assess_icon">100 <i class="far fa-sun"></i></span>
                        <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
                        <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
                    </div>
                </div>
                <div class="product_info_row product_status">
                    <i class="fas fa-medal"></i>
                    <div class="product_status_title"> Tình trạng: Đã sử dụng</div>
                </div>
                <div class="product_info_row product_return">
                    <i class="fas fa-undo-alt"></i>
                    <div class="product_return_title">Trả hàng: <span> Không trả lại</span></div>
                </div>
                <div class="product_info_row product_grp_btn">
                    <a href="#" class="button_common btn_product_heart">
                        <span><i class="fas fa-heart"></i> Yêu Thích</span>
                    </a>
                    <a href="#" class="button_common btn_product_share">
                        <span><i class="fab fa-facebook-f"></i> Chia sẻ</span>
                    </a>
                </div>
                <div class="product_note">
                    *Sản phẩm sẽ được giao đến địa chỉ quý khách vào
                    khoảng <strong class=""><time datetime="09/11/2018">09/11/2018</time></strong> đến <strong class=""><time datetime="09/11/2018">09/11/2018</time></strong> nếu quý
                    khách thanh toán trong hôm nay.
                </div>
                <div class="product_seller">
                    <i class="fas fa-store"></i> Ngừoi bán: <a href="#" title="Yahoo! Auction">Yahoo! Auction</a>
                </div>
            </div>
        </div>
    </div>
</div>
