<div class="tab_main product_detail_tab" id="product_detail_tab">
    <ul class="tab_nav_lst tab_nav_lst--secondary">
        <li class="tab_item active">
            <a href="javascript:void(0)" title="Mô tả sản phẩm">Mô tả sản phẩm</a>
        </li>
        <li class="tab_item">
            <a href="javascript:void(0)" title="Thông tin sản phẩm">Thông tin sản phẩm</a>
        </li>
        <li class="tab_item">
            <a href="javascript:void(0)" title="Đánh giá">Đánh giá</a>
        </li>
        <li class="tab_item">
            <a href="javascript:void(0)" title="Hỏi đáp">Hỏi đáp</a>
        </li>
    </ul>
    <div class="tab_content">
        <div class="tab_content_item active">
            {% include '../components/product_detail_des.twig' %}
        </div>
        <div class="tab_content_item">
            {% include '../components/product_detail_overview.twig' %}
        </div>
        <div class="tab_content_item">
            {% include '../components/product_detail_review.twig' %}
        </div>
        <div class="tab_content_item">
            {% include '../components/product_detail_qa.twig' %}
        </div>
    </div>
</div>