<div class="product_detail_share">
    <a href="javascript:void(0)" class="button_micro button_heart">
        <span><i class="fas fa-heart"></i> Yêu Thích</span>
    </a>
    <a href="javascript:void(0)" class="button_micro button_facebook_share">
        <span><i class="fab fa-facebook-f"></i> Chia sẻ</span>
    </a>
</div>
<div class="">
    <img src="http://placehold.jp/370x170.png" alt=""/>
</div>