<div class="product_detail_review" id="">
    <div class="review_user">
        <div class="review_filter">
            <div class="review_filter_item">
                Lọc đánh giá:
            </div>
            <div class="review_filter_item">
                <input type="radio" name="input_review" id="input_review_all"/> <label for="input_review_all">Tất cả</label>
            </div>
            <div class="review_filter_item">
                <input type="radio" name="input_review" id="input_review_good"/> <label for="input_review_good">Đánh giá tốt</label>
            </div>
            <div class="review_filter_item">
                <input type="radio" name="input_review" id="input_review_normal"/> <label for="input_review_normal">Đánh giá bình thường</label>
            </div>
            <div class="review_filter_item">
                <input type="radio" name="input_review" id="input_review_bad"/> <label for="input_review_bad">Đánh giá xấu</label>
            </div>
        </div>
        <div class="review_lst">
            {% for i in 0..5 %}
                <div class="review_item">
                    <h5 class="review_item_name">
                        <strong class="source_stars">
                            <span style="width: 100%"></span>
                        </strong> Evaluation: It is a very good very good seller.	Evaluator: _ * L * b *** (36)
                    </h5>
                    <div class="mb-1">
                        Gửi bởi: <strong>Ben Collins</strong> <time datetime="" class="color_orange">June 23, 2015</time>
                    </div>
                    <p class="reiview_item_content">
                        iphone 6 16gb softbank Softbank Silver As new as replacement item Battery 100% beautiful goods Lowest No bid 1 yen start
                    </p>
                    <div class="review_item_comment">
                        <strong class="">Comment:</strong>
                        Thank you very much. Very good dealings were made. Also, if there is a chance, thank you. (Evaluation date: within 1 month)
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                {% include '../components/pagination.twig' %}
            </div>
        </div>
    </div>
</div>