<div class="product_detail_overview" id="">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Trạng thái:</td>
                    <td>Overall condition is bad</td>
                </tr>
                <tr>
                    <td>Số lượng:</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Thời gian bắt đầu:</td>
                    <td>2019.02.25 (Monday) 19: 50</td>
                </tr>
                <tr>
                    <td>Thời gian kết thúc:</td>
                    <td> 2019.03.02 (Sat) 21 : 25</td>
                </tr>
                <tr>
                    <td>Tự động mở rộng:</td>
                    <td>Co</td>
                </tr>
                <tr>
                    <td>Kết thúc sớm:</td>
                    <td>Overall condition is bad</td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Hoàn trả:</td>
                    <td>Return</td>
                </tr>
                <tr>
                    <td>Hạn chế thẩm định:</td>
                    <td>Co</td>
                </tr>
                <tr>
                    <td>Giới hạn xác thực: </td>
                    <td>Co</td>
                </tr>
                <tr>
                    <td>Trả giá cao nhất:</td>
                    <td>9 * M * v *** / Evaluation 114</td>
                </tr>
                <tr>
                    <td>Giá khởi điểm:</td>
                    <td>215 VNĐ (1 yên)</td>
                </tr>
                <tr>
                    <td>Auction ID:</td>
                    <td>F333695516</td>
                </tr>
            </table>
        </div>
    </div>
</div>