<div class="product_item">
    <div class="product_body">
        <a href="#" class="product_thumb">
            <img src="images/product-item.jpg" alt="ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ..." />
        </a>
        <div class="product_info">
            <div class="product_info_top">
                <span class="">14h 59’ 59s</span>
                <span class="product_source_web"><img src="../../images/icon-auction.svg" alt=""/> Y! Auction</span>
            </div>
            <h3 class="product_name">
                <a href="" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
            </h3>
            <div class="product_info_row">
                <span>Vận chuyển nội địa: <strong class="color_orange">Free</strong></span>
            </div>
            <div class="product_info_row">
                <div class="product_price_auction">
                    <div class="product_price_auction--current">
                        Giá hiện tại <br/>
                        <span class="color_orange font_size_16">60,000,000¥</span><br/>
                        <span class="color_orange font_size_12">60,000,000¥</span>
                    </div>
                    <div class="product_price_auction--buynow">
                        Giá hiện tại <br/>
                        <span class="color_orange font_size_16">60,000,000¥</span><br/>
                        <span class="color_orange font_size_12">60,000,000¥</span>
                    </div>
                </div>
            </div>
            <div class="product_info_row product_info_action">
                <a href="#" class="button_primary button_tiny button_auction"><i class="icon-ichiba-auction"></i> Đấu giá</a>
                <a href="#" class="button_secondary button_tiny button_buynow"><i class="icon-ichiba-plugin"></i> Mua ngay</a>
            </div>
            <p class="mt-0 mb-2">* Chưa gồm phí phát sinh</p>
            <div class="product_showmore">
                <div class="product_info_row product_assess">
                    <i class="far fa-grin"></i>
                    <div class="product_assess_title">
                        Đánh giá:
                        <span class="product_assess_icon">100 <i class="far fa-sun"></i></span>
                        <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
                        <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
                    </div>
                </div>
                <div class="product_info_row product_status">
                    <i class="fas fa-medal"></i>
                    <div class="product_status_title"> Tình trạng: Đã sử dụng</div>
                </div>
                <div class="product_info_row product_return">
                    <i class="fas fa-undo-alt"></i>
                    <div class="product_return_title">Trả hàng: <span> Không trả lại</span></div>
                </div>
                <div class="product_info_row product_grp_btn">
                    <a href="#" class="button_common btn_product_heart">
                        <span><i class="fas fa-heart"></i> Yêu Thích</span>
                    </a>
                    <a href="#" class="button_common btn_product_share">
                        <span><i class="fab fa-facebook-f"></i> Chia sẻ</span>
                    </a>
                </div>
                <div class="product_note">
                    *Sản phẩm sẽ được giao đến địa chỉ quý khách vào
                    khoảng <strong class=""><time datetime="09/11/2018">09/11/2018</time></strong> đến <strong class=""><time datetime="09/11/2018">09/11/2018</time></strong> nếu quý
                    khách thanh toán trong hôm nay.
                </div>
                <div class="product_seller">
                    <i class="fas fa-store"></i> Ngừoi bán: <a href="#" title="Yahoo! Auction">Yahoo! Auction</a>
                </div>
            </div>
        </div>
    </div>
</div>
