<div class="block_container" id="">
    <div class="block_header">
        <h3 class="block_title">9 cửa hàng cùng bán</h3>
    </div>
    <div class="block_body">
        <div class="source_seller_sort">
            <div>Sắp xếp:</div>
            <div class="select_wrap">
                <select name="" id="" class="select_common">
                    <option value="">Người bán</option>
                    <option value="">Người bán</option>
                    <option value="">Người bán</option>
                </select>
            </div>
            <div class="select_wrap">
                <select name="" id="" class="select_common">
                    <option value="">Gía</option>
                    <option value="">Người bán</option>
                    <option value="">Người bán</option>
                </select>
            </div>
            <div class="select_wrap">
                <select name="" id="" class="select_common">
                    <option value="">Tình trạng hàng</option>
                    <option value="">Người bán</option>
                    <option value="">Người bán</option>
                </select>
            </div>
        </div>
        <table class="table table_common source_seller_tbl">
            <thead>
            <tr>
                <th>Người bán</th>
                <th>Tình trạng hàng</th>
                <th>Thời gian nhận hàng</th>
                <th>Giá</th>
                <th>Thao tác</th>
            </tr>
            </thead>
        </table>
        <table class="table table_common source_seller_tbl">
            <tbody>
            {% for i in 0..4 %}
                <tr>
                    <td>
                        <h4 class="source_seller_name"><i class="fas fa-store"></i> DJames9978</h4>
                        <div class="d-flex align-items-center mb-1">
                            <strong class="source_stars">
                                <span style="width: 100%"></span>
                            </strong> (1.000 đánh giá)
                        </div>
                        <div class="color_orange">95% đánh giá uy tín</div>
                    </td>
                    <td>
                        <strong class="">New</strong>
                    </td>
                    <td>
                        16-03-2019 đến 18-03-2019
                    </td>
                    <td align="center">
                        <strong class="color_orange ">233,982đ</strong><br/>
                        <small class="color_orange">1080.0円</small>
                    </td>
                    <td align="center">
                        <div class="source_seller_btns">
                            <a href="javascript:void(0)" class="button_primary mb-2">
                                <i class="icon-ichiba-add-cart"></i> Mua ngay
                            </a>

                            <a href="javascript:void(0)" class="button_secondary">
                                <i class="icon-ichiba-add-cart"></i> Thêm vào giỏ
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>