<div class="product_detail_sidebar">
    <a href="#" class="button_secondary_gray button_full mb-2">
        <span><i class="fas fa-desktop"></i> Xem trên Y! Auction</span>
    </a>
    <a href="#" class="button_secondary button_full mb-3">
        <span><i class="far fa-bell"></i> Báo giá phút chót</span>
    </a>
    <div class="product_sidebar_block">
        <div class="product_sidebar_block_header">
            <h4 class="product_sidebar_block_title">Thông tin người bán</h4>
        </div>
        <div class="product_sidebar_block_body">
            <h5 class="m-0 mb-2"><i class="fas fa-store"></i> Yahoo Auction</h5>
            <div class="product_assess_icon_grp mb-2">
                <span class="product_assess_icon">100 <i class="far fa-sun"></i> </span>
                <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
                <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
            </div>
            <div class="color_orange mb-3">95% đánh giá uy tín</div>
            <a href="#" class="button_secondary button_full">
                <span>Xem Shop</span>
            </a>
        </div>
    </div>
    <div class="product_sidebar_block">
        <div class="product_sidebar_block_header">
            <h4 class="product_sidebar_block_title">Hỗ trợ nhanh</h4>
        </div>
        <div class="product_sidebar_block_body">
            <div class="mb-2">
                <input type="text" class="input_common input_common--small input_common--full" placeholder="Số điện thoại của bạn ..."/>
            </div>
            <p>
                *Hãy để lại số điện thoại, iChiba sẽ liên lạc với bạn ngay lập tức!
            </p>
            <div class="text_center">
                <button class="button_primary">
                    <i class="fab fa-telegram-plane"></i> Gửi
                </button>
            </div>
            <hr/>
            <div class="mb-2">
                <strong>Liên hệ</strong>
            </div>
            Hotline: 1900 988 950 (Từ 8-21h kể cả T7 và CN)
            <br/>
            <br/>
            Email: cskh@ichiba.vn
        </div>
    </div>
</div>