<div class="product_auction_price">
    <div class="row product_detail_row ">
        <div class="col-6">
            <div class="product_auction_price_col">
                <h4>Giá hiện tại</h4>
                <div class="detail_price_current detail_price_current--vn">8,745,500 VND</div>
                <div class="detail_price_current detail_price_current--jp">1080.0 円</div>
                <ul class="detail_price_more">
                    <li>* Thuế tại Nhật 0 đồng</li>
                    <li>* Phí vận chuyển nội địa 96,500 Đồng</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="product_auction_price_col">
                <h4>Giá mua ngay</h4>
                <div class="detail_price_current detail_price_current--vn">8,745,500 VND</div>
                <div class="detail_price_current detail_price_current--jp">1080.0 円</div>
                <ul class="detail_price_more">
                    <li>* Thuế tại Nhật 0 đồng</li>
                    <li>* Phí vận chuyển nội địa 96,500 Đồng</li>
                </ul>
            </div>
        </div>
    </div>
</div>