<div class="gallery">
    <span class="gallery_label">Giảm 50%</span>
    <div class="gallery_full">
        {% for i in 0..5 %}
            <a href="javascript:void(0)" class="gallery_full_thumb"><img src="http://placehold.jp/370x370.png" alt="" /></a>
        {% endfor %}
    </div>
    <div class="gallery_thumb_lst">
        {% for i in 0..5 %}
            <a href="javascript:void(0)" class="gallery_thumb"><img src="http://placehold.jp/370x370.png" alt="" /></a>
        {% endfor %}
    </div>
</div>