<div class="product_source_estimate_time">
    <i class="fas fa-truck"></i>
    <p class="m-0">
        Thời gian dự kiến quý khách nhận được hàng vào khoảng ngày
        <time datetime="" class="color_orange">13-03-2019</time> đến <time datetime="" class="color_orange">13-03-2019</time>.
        <br/>
        Nếu quý khách thanh toán trong hôm nay
    </p>
</div>