<div class="search_category">
    <form class="search_category_frm">
        <input type="text" class="search_category_input" placeholder="Tìm kiếm trong thư mục ..." />
        <button type="button" class="search_category_btn"><i class="fas fa-search"></i></button>
    </form>
</div>