<div class="section_container">
    <div class="section_header">
        <h3 class="section_title">Ưu đãi của riêng tôi</h3>
    </div>
    <div class="section_body">
        <div class="row profile_coupons_lst">
            {% for i in 0..3 %}
                <div class="col-3">
                    <div class="profile_coupon">
                        <a href="#" class="profile_coupon_thumb">
                            <img src="http://placehold.jp/430x270.png" alt=""/>
                        </a>
                        <div class="profile_coupon_content">
                            <h4 class="profile_coupon_name"><a href="#" title="Voucher thời trang">Voucher thời trang</a></h4>
                            <div class="profile_coupon_time">
                                Từ 23:00 - 16/01/2019 <br/>
                                Đến 23:00 - 20/01/2019
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>