<div class="section_container">
    <div class="section_header">
        <h3 class="section_title">Ví của tôi</h3>
    </div>
    <div class="section_body">
        <div class="row">
            <div class="col-6">
                <div class="d-flex align-items-center wallet_box">
                    <div class="col">
                        <strong class="wallet_box_name">Tổng số dư</strong> <br/>
                        <strong class="wallet_box_money">10.000.000.000đ</strong>
                    </div>
                    <div class="col">
                        <a href="#" class="button_primary button_small">Nạp tiền</a>
                        <a href="#" class="button_secondary button_small">Rút tiền</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="wallet_box">
                    <strong class="wallet_box_name">Số dư khả dụng</strong>
                    <span class="wallet_box_money">10.000.000.000đ</span>
                </div>
            </div>
            <div class="col-3">
                <div class="wallet_box">
                    <strong class="wallet_box_name">Số dư đóng băng</strong>
                    <span class="wallet_box_money">10.000.000.000đ</span>
                </div>
            </div>
        </div>
    </div>
</div>