<div class="section_container">
    <div class="section_body">
        <div class="row profile_actions">
            <div class="col-3">
                <div class="action_box">
                    <div class="action_box_icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="action_box_content">
                        <span class="font_size_16">Giỏ hàng</span>
                        <span class="color_orange">1000</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="action_box">
                    <div class="action_box_icon">
                        <i class="icon-ichiba-auction"></i>
                    </div>
                    <div class="action_box_content">
                        <span class="font_size_16">Đang đấu giá</span>
                        <span class="color_orange">1000</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="action_box">
                    <div class="action_box_icon">
                        <i class="icon-ichiba-auction-success"></i>
                    </div>
                    <div class="action_box_content">
                        <span class="font_size_16">Đấu thành công</span>
                        <span class="color_orange">1000</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="action_box">
                    <div class="action_box_icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="action_box_content">
                        <span class="font_size_16">Yêu thích</span>
                        <span class="color_orange">1000</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>