<div class="section_container">
    <div class="section_header">
        <h3 class="section_title">Cấp độ của tôi</h3>
    </div>
    <div class="section_body">
        <div class="row">
            <div class="col-3">
                <div class="profile_vip_box">
                    <div class="profile_vip_icon">
                        <i class="fas fa-medal"></i>
                        <br/>
                        <span>Vip 1</span>
                    </div>
                    <div class="profile_vip_progess">
                        <div class="profile_vip_loading">
                            <span>25%</span>
                        </div>
                    </div>
                    <div class="profile_vip_flag">
                        <span class="start">0</span>
                        <span class="end">1000</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="profile_vip_box">
                    <div class="profile_vip_icon">
                        <i class="fas fa-medal"></i>
                        <i class="fas fa-medal"></i>
                        <br/>
                        <span>Vip 2</span>
                    </div>
                    <div class="profile_vip_progess">
                        <div class="profile_vip_loading" style="width: 25%">
                            <span>25%</span>
                        </div>
                    </div>
                    <div class="profile_vip_flag">
                        <span class="start">0</span>
                        <span class="end">1000</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="profile_vip_box">
                    <div class="profile_vip_icon">
                        <i class="fas fa-medal"></i>
                        <i class="fas fa-medal"></i>
                        <i class="fas fa-medal"></i>
                        <br/>
                        <span>Vip 3</span>
                    </div>
                    <div class="profile_vip_progess">
                        <div class="profile_vip_loading">
                            <span>25%</span>
                        </div>
                    </div>
                    <div class="profile_vip_flag">
                        <span class="start">0</span>
                        <span class="end">1000</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="profile_vip_box">
                    <div class="profile_vip_icon">
                        <i class="fas fa-medal"></i>
                        <i class="fas fa-medal"></i>
                        <i class="fas fa-medal"></i>
                        <i class="fas fa-medal"></i>
                        <br/>
                        <span>Vip 4</span>
                    </div>
                    <div class="profile_vip_progess">
                        <div class="profile_vip_loading">
                            <span>25%</span>
                        </div>
                    </div>
                    <div class="profile_vip_flag">
                        <span class="start">0</span>
                        <span class="end">1000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <strong>* Note</strong> <br/>
            <ul>
                <li>Điểm số được tính dựa trên lượng tiền bạn đã giao dịch thành công trên <a class="color_orange" href="iChiba.vn">iChiba.vn</a></li>
                <li>Điểm tích lũy này rất quan trọng. Chúng tôi có rất nhiều ưu đãi đặc dành cho những khách hàng thân thiết</li>
                <li>Giá trị quy đổi là <span class="color_orange">100.000đ = 1 điểm</span></li>
            </ul>
        </div>
    </div>
</div>