{% set arrProfile = [
    {
        name: 'Sản phẩm',
        icon: 'fas fa-shopping-cart',
        url: '/profile-cart.html',
        sub: [
            {
                name: 'Giỏ hàng Shopping',
                url: '/profile-cart.html',
            },
            {
                name: 'Đấu giá',
                url: '/profile-auction.html',
            },
        ]
    },
    {
        name: 'Yêu thích',
        icon: 'far fa-heart',
        url: '',
        sub: [
            {
                name: 'Sản phẩm yêu thích',
                url: '/profile-product-favorite.html',
            },
            {
                name: 'Cửa hàng yêu thích',
                url: '/profile-store-favorite.html',
            },
        ]
    },
    {
        name: 'Đơn hàng',
        icon: 'fas fa-shopping-bag',
        url: '/profile-orders.html',
        sub: [
            {
                name: 'Quản lý đơn hàng',
                url: '/profile-orders.html',
            },
            {
                name: 'Đơn hàng khiếu nại',
                url: '/profile-complain.html',
            },
        ]
    },
    {
        name: 'Ví của tôi',
        icon: 'fas fa-wallet',
        url: '/profile-wallet.html',
        sub: []
    },
    {
        name: 'Tài khoản',
        icon: 'far fa-user',
        url: '/profile-setting.html',
        sub: [
            {
                name: 'Cài đặt tài khoản',
                url: '/profile-setting.html',
            },
            {
                name: 'Đổi mật khẩu',
                url: '/profile-change-password.html',
            },
            {
                name: 'Tích điểm',
                url: '/profile-vip.html',
            },
        ]
    },
    {
        name: 'Khuyến mãi',
        icon: 'fas fa-gift',
        url: '/profile-coupons.html',
        sub: []
    }
] %}

<div class="sidebar_profile">
    <div class="sidebar_profile_header">
        <div class="profile_avarta">
            <span class="profile_avarta_thumb">
                <img src="http://placehold.jp/250x250.png" alt=""/>
                <a href="#" class="text_center"><i class="fas fa-camera"></i>  <br/> Cập Nhật</a>
            </span>
        </div>
        <h4 class="profile_name">
            Xin chào <br/>
            <strong>Nguyễn Văn A</strong>
        </h4>
        <div class="profile_medals">
            <i class="fas fa-medal"></i>
            <i class="fas fa-medal"></i>
            <i class="fas fa-medal"></i>
        </div>
    </div>
    <div class="sidebar_profile_body">
        <ul class="profile_function_lst">
            {% for i in arrProfile %}
                <li class="">
                    <a href="{{ i.url }}" title="{{ i.name }}"><i class="{{ i.icon }}"></i>{{ i.name }}</a>
                    <ul class="profile_function_sub_lst">
                        {% for j in i.sub %}
                            <li>
                                <a href="{{ j.url }}" title="{{j.name}}">{{j.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>