<div class="sidebar_filter">
    <div class="sidebar_filter_block" id="sidebar_filter_auction">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">
                Giá đấu
            </h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="sidebar_filter_row">
                <label for="" class="sidebar_filter_label">Giá hiện tại</label>
                <div class="row filter_auction">
                    <div class="col-6 filter_auction_row">
                        <div class="d-flex align-items-center">
                            <input type="text" class="input_common input_common--tiny sidebar_filter_input" />
                        </div>
                        <small>1080.0 円</small>
                    </div>
                    <div class="col-6  filter_auction_row">
                        <div class="d-flex align-items-center">
                            <input type="text" class="input_common input_common--tiny sidebar_filter_input" /> <span>¥</span>
                        </div>
                        <small>1080.0 円</small>
                    </div>
                </div>
            </div>
            <div class="sidebar_filter_row">
                <label for="" class="sidebar_filter_label">Giá quyết định</label>
                <div class="row filter_auction">
                    <div class="col-6 filter_auction_row">
                        <div class="d-flex align-items-center">
                            <input type="text" class="input_common input_common--tiny sidebar_filter_input" />
                        </div>
                        <small>1080.0 円</small>
                    </div>
                    <div class="col-6 filter_auction_row">
                        <div class="d-flex align-items-center">
                            <input type="text" class="input_common input_common--tiny sidebar_filter_input" /> <span>¥</span>
                        </div>
                        <small>1080.0 円</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_filter_block" id="sidebar_filter_status">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">Trạng thái sản phẩm</h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="filter_status_grp">
                <a href="#" class="button_secondary_gray button_micro filter_status_item">
                    <span>Mới</span>
                </a>
                <a href="#" class="button_secondary_gray button_micro filter_status_item">
                    <span>Đã sử dụng</span>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar_filter_block" id="sidebar_filter_seller">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">Người bán</h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="filter_seller_grp">
                <a href="#" class="button_secondary_gray button_micro filter_seller_item">
                    <span>Cửa hàng</span>
                </a>
                <a href="#" class="button_secondary_gray button_micro filter_seller_item">
                    <span>Cá nhân</span>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar_filter_block" id="sidebar_filter_color">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">Màu sắc</h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="filter_color_lst">
                {% for i in 0..14 %}
                    <a href="#" class="filter_color_item"></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="sidebar_filter_block" id="sidebar_filter_size">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">Size</h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="filter_size">
                <div class="filter_size_item">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="size_s" />
                    <label for="size_s" class="sidebar_filter_label">SM</label>
                </div>
                <div class="filter_size_item">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="size_m" />
                    <label for="size_m" class="sidebar_filter_label">M</label>
                </div>
                <div class="filter_size_item">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="size_l" />
                    <label for="size_l" class="sidebar_filter_label">L</label>
                </div>
                <div class="filter_size_item">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="size_xl" />
                    <label for="size_xl" class="sidebar_filter_label">XL</label>
                </div>
                <div class="filter_size_item">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="size_xxl" />
                    <label for="size_xxl" class="sidebar_filter_label">XXL</label>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar_filter_block" id="sidebar_filter_rating_seller">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">Đánh giá người bán</h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="filter_rating">
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_5" />
                    <label for="sidebar_filter_5" class="sidebar_filter_label sidebar_filter_5">
                        <span style="width: 100%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_4" />
                    <label for="sidebar_filter_4" class="sidebar_filter_label sidebar_filter_4">
                        <span style="width: 80%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_3" />
                    <label for="sidebar_filter_3" class="sidebar_filter_label sidebar_filter_3">
                        <span style="width: 60%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_2" />
                    <label for="sidebar_filter_1" class="sidebar_filter_label sidebar_filter_2">
                        <span style="width: 40%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_1" />
                    <label for="sidebar_filter_1" class="sidebar_filter_label sidebar_filter_1">
                        <span style="width: 20%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_filter_block" id="sidebar_filter_rating_product">
        <div class="sidebar_filter_header">
            <h4 class="sidebar_filter_title">Đánh giá sản phẩm</h4>
        </div>
        <div class="sidebar_filter_body">
            <div class="filter_rating">
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_5" />
                    <label for="sidebar_filter_5" class="sidebar_filter_label sidebar_filter_5">
                        <span style="width: 100%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_4" />
                    <label for="sidebar_filter_4" class="sidebar_filter_label sidebar_filter_4">
                        <span style="width: 80%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_3" />
                    <label for="sidebar_filter_3" class="sidebar_filter_label sidebar_filter_3">
                        <span style="width: 60%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_2" />
                    <label for="sidebar_filter_1" class="sidebar_filter_label sidebar_filter_2">
                        <span style="width: 40%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
                <div class="filter_rating_row">
                    <input type="checkbox" class="sidebar_filter_checkbox" id="sidebar_filter_1" />
                    <label for="sidebar_filter_1" class="sidebar_filter_label sidebar_filter_1">
                        <span style="width: 20%"></span>
                    </label>
                    <span>Trở lên</span>
                </div>
            </div>
        </div>
    </div>
</div>