<div class="top_news">
    <div class="top_news_left">
        <div class="top_news_slide slick_custom">
            {% for i in 0..3 %}
            <div class="top_news_item">
                <a href="#" class="top_news_thumb" title="" style="background-image: url('http://placehold.jp/590x390.png')"></a>
                <div class="top_news_content">
                    <h2 class="top_news_title font_size_18">
                        <a href="#" title="">Inadequate careers advice is exacerbating skills gap report finds 7 Affordable Items For Your Pinterest Worthy Hari Raya Decor</a>
                    </h2>
                    <div class="top_news_date"><time datetime="">Thứ 5 - 29 Thánh Sáu, 2019</time></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="top_news_right">
        {% for i in 0..1 %}
            <div class="top_news_item">
                <a href="#" class="top_news_thumb" title="" style="background-image: url('http://placehold.jp/320x190.png')">

                </a>
                <div class="top_news_content">
                    <h2 class="top_news_title font_size_14">
                        <a href="#" title="">Inadequate careers advice is exacerbating skills gap report finds 7 Affordable Items For Your Pinterest Worthy Hari Raya Decor</a>
                    </h2>
                    <div class="top_news_date"><time datetime="">Thứ 5 - 29 Thánh Sáu, 2019</time></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>