#banner {margin-bottom: 15px;
  .slick-slider {padding: 0;margin: 0}
  .slick-dots {bottom: 15px}
}
.banner_container {display: flex;overflow: hidden;}
.banner_left {background: $color-bg-secondary;margin: 0 8px 0 0}
.banner_slide {opacity: 0;visibility: hidden;overflow: hidden;
  &.slick-initialized {opacity: 1;visibility: visible}
}
.banner_slide_item {}

.banner_right{display: flex;flex-direction: column;flex: 1;
  a {display: block;margin:  0 0 8px;height: calc(50% - 4px);font-size: 0;
    &:last-child {margin: 0}
  }
  img {object-fit: cover;width: 100%;height: 100%}
}

//
.banner_home {
  .banner_left {width: 836px;}
}

//
.banner_supplier {
  .banner_left {width: 648px;}
}