#block_coupon_yshopping {
  .block_header {display: flex;justify-content: space-between}
}
.coupon_yshopping_lst {}
.coupon_yshopping_item {}
.coupon_yshopping_thumb {margin: 0 0 5px;display: block;
  img {width: 100%}
}
.coupon_yshopping_name {margin: 0 0 5px;font-size: $font-size-s;
  a {color: $color-link}
}
.coupon_yshopping_date {font-weight: $font-medium;font-size: $font-size-xs;margin: 0 0 5px}
.coupon_yshopping_price {color: $color-orange}