#block_seller{
  .block_header {font-size: $font-size-xs;padding-bottom: 15px;border-bottom: dashed 1px $color-border}
}
.block_seller_content {display: flex;
  .block_seller_colleft {width: 270px;margin: 0 15px 0 0}
  .block_seller_colright {flex: 1}
}

.seller_category_menu {background: $color-bg-third;padding: 10px;
  @extend %reset-lst;
  & > .seller_category_item {margin: 0 0 10px;}
}
.seller_category_name {display: flex;justify-content: space-between;align-items: center;font-weight: $font-medium;margin: 0 0 3px;
  .categories_item_arrow {}
}
.seller_category_submenu {padding: 0 0 0 20px;
  @extend %reset-lst;
}
