#block_suggest_for_you {}
#tab_suggest {
  .tab_item {flex: 1;text-align: center;font-size: $font-size-m;
    a {padding: 8px 15px}
    img {width: 18px;vertical-align: middle}
    i {vertical-align: middle;font-size: $font-size-b;margin: 0 5px 0 0}
  }
}