#block_my_coupons {
  .block_body {min-height: 240px}
}
.my_coupons_lst {margin: 0 ;display: none;
  &.slick-initialized {display: block}
  .slick-arrow {display: none !important;}
}
.my_coupons_item {padding: 0 7.5px;
  a {display: block;margin-bottom: 10px}
  img {width: 100%}
}
.my_coupons_data {text-align: center;color: $color-orange;font-weight: $font-medium;border-bottom: dashed 1px $color-border;padding: 0 0 5px;margin-bottom: 5px;
  &:last-child {border-bottom: none}
}
.my_coupons_price {
  &--vn {}
  &--jp {font-weight: $font-medium;font-size: $font-size-xs}
  &--down {color: $color-text-secondary;text-decoration: line-through;font-weight: $font-medium;font-size: $font-size-xs}

}