#block_live_stream {}
.livestream_lst {}
.livestream_item {}
.livestream_thumb {display: block;margin-bottom: 5px;position: relative;
  img {width: 100%}
  .livestream_status {position: absolute;right: 0;top: 0;display: block;color: white;padding: 3px 5px;min-width: 60px;text-align: center;
    @include border-radius(0 0 0 10px);
    &.play {background: $color-red}
    &.finish {background: $color-gray}
  }
}
.livestream_name {font-size: $font-size-s;margin: 0 0 5px;
  a {color: $color-link}
}
.livestream_info {font-size: $font-size-xs;font-weight: $font-medium;display: flex;justify-content: space-between;margin: 0 0 5px;}
.livestream_date {}
.livestream_data {}
.livestream_data_item {}
.livestream_shop {font-size: $font-size-xs;display: flex;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
  img {margin: 0 5px 0 0}
}