#block_estimate {}
.estimate_container {}
.estimate_frm {
  .estimate_label {font-weight: $font-medium;display: block;cursor: pointer;margin: 0 0 5px}
  .estimate_input_text {max-width: 300px;flex: 1;margin-right: 15px;}
  #estimate_length,
  #estimate_width,
  #estimate_height {width: 30%}

  #estimate_city {max-width: 300px}
  #estimate_insurrance {margin-right: 10px}
  .estimate_btn {min-width: 160px;}

  .estimate_source_item {margin: 5px 0;
    input {margin: 0 5px 0 0}
    label {margin: 0;cursor: pointer}
  }
}
.estimate_frm_row {margin-bottom: 15px}
