#block_good_deals {position: relative;z-index: 1;
  .block_product_list {display: flex;flex-wrap: nowrap}
  .block_product_banner {width: 270px !important;margin-right: 15px;}
  .block_product_tab {width: calc( 100% - 285px)}
}