#block_services {
  .block_header {justify-content: center;margin: 0 0 15px;
    &::before {display: none}
  }
  .block_title {color: $color-orange;text-align: center;}

  .services_grp {display: flex;margin: 0 -10px}
  .services_item {background: $color-bg-third;flex: 1;margin: 0 10px;padding: 15px 10px;position: relative;overflow: hidden;
    @include border-radius(10px);
  }
  .services_name {font-size: $font-size-s;font-weight: $font-regular;margin: 0 0 15px}
  .services_body {font-size: $font-size-xs;;position: relative}
  .services_content {min-height: 65px}
  .services_link {color: $color-orange}
  .services_icon {position: absolute;bottom: 0;right: 0;width: 40px}
}
