.block-questions {}
.questions_lst {padding: 0 100px;
  @extend  %reset-lst;
  li {position: relative;padding-left: 20px;margin-bottom: 10px;
    i {position: absolute;left: 0;top: 3px}
    a {}
  }
}