//Block
.block_container {background: white;padding: 20px 15px;margin-bottom: 15px;
  @include border-radius(10px);
}
.block_header {display: flex;align-items: center;padding: 3px 0 3px 32px;margin: 0 0 24px;position: relative;
  &::before {content: '';background: $color-orange;display: block;width: 16px;height: 32px;position: absolute;left: 0;top: 0;
    @include border-radius(0px 16px 16px 0);
  }
}
.block_title {margin: 0;font-size: $font-size-b;font-weight: $font-medium}
.block_body {}

.block_product_common {
  .block_header {flex-direction: column;align-items: flex-start;}
  .block_title {width: 100%;display: flex;justify-content: space-between;align-items: center;
    a {font-size: $font-size-xs;font-weight: $font-medium;display: flex;align-items: center;color: $color-link;
      &:hover {color: $color-orange}
      i {margin-left: 5px;margin-top: 2px}
    }
  }
}
.block_pagination {display: flex;align-items: center;justify-content: center;padding: 10px 0;
  span {background: $color-gray;display: inline-block;margin: 0 5px;width: 10px;height: 10px;cursor: pointer;
    @include border-radius(10px);
    @include transition(all .3s ease);
    &:hover{background: $color-orange-secondary;}
    &.active {background: $color-orange-secondary;width: 20px;}
  }
}
