#block_store {

}
.store_tab {}
.store_tab_list {display: none;margin: 0 0 16px;padding: 0 30px;
  &.slick-initialized {display: block}
  div {
    a {background: white;border: solid 1px $color-orange;display: block;color: $color-orange;padding: 3px 5px;
      @include border-radius(4px);
    }
    &.active {
      a {background: $color-orange;color: white}
    }
  }
  .slick-slide {padding: 0 5px}
  .slick-prev::before,
  .slick-next::before {color: $color-orange}
  .slick-prev {left: 0}
  .slick-next {right: 0}
}
.store_items {display: flex;flex-wrap: wrap;margin: 0 -10px;font-size: $font-size-xs}
.store_item {width: 20%;padding: 0 10px;margin-bottom: 20px}
.store_item_inner {border: solid 1px $color-border;padding: 15px;height: 100%;
  @include transition(all .3s ease);
  @include border-radius(8px);
  &:hover {border-color: $color-orange}
}
.store_name {font-weight: $font-medium;font-size: $font-size-m;margin: 0}
.store_des {margin: 0}
.store_type {font-size: $font-size-xs;margin: 0;font-weight: $font-regular}
.store_thumb {margin-bottom: 10px;display: block;text-align: center;
  img {}
}