.rakuten_caroulsel {overflow: hidden;margin-bottom: 15px;min-height: 160px}
.rakuten_caroulsel_lst {margin: 0 -7.5px;display: none;
  &.slick-initialized {display: block;}
  .slick-arrow {z-index: 1;width: inherit;height: inherit;
    &.slick-next {right: 7.5px}
    &.slick-prev {left: 7.5px}
    &::before {color: $color-orange;font-size: $font-size-bb}
  }
}
.rakuten_caroulsel_item {padding: 0 7.5px;
  a {display: block;}
  img {width: 100%}
}