#breadcrums {background: $color-bg-secondary;padding: 10px 0;margin-bottom: 16px}
.breadcrum_lst {display: flex}
.breadcrum_item {margin-right: 10px;
  a {margin-right: 5px;color: $color-text-secondary}
  &--current {color: $color-orange}
}
.breadcrum_arrow {}
.breadcrum_category {position: relative;
  &:hover {
    .breadcrum_category_lst {top: inherit;opacity: 1;visibility: visible}
  }
}
.breadcrum_category_lst {background: white;position: absolute;z-index: 1;top: 10px;left: 0;opacity: 0;visibility: hidden;min-width: 200px;
  @extend %reset-lst;
  @include transition(all .3s ease);
}
.breadcrum_category_item {padding: 5px 10px;
  a {display: block;margin: 0;
    &:hover {color: $color-orange}
  }
  span {color: $color-text-secondary}
}