
.category_grid {display: flex;min-height: 410px;margin-bottom: 16px;
  img {position: absolute;width: 100%;height: 100%;object-fit: cover;left: 0;top: 0}
}

.category_grid_banner {min-width: 260px;margin: 0 16px 0 0}
.category_grid_banner_thumb {position: relative;display: block;width: 100%;height: 100%;
  &::before {
    &::before {@include responsive-ratio(230, 195);}
  }
}
.category_grid_row {display: flex;flex-wrap: wrap;flex: 1;margin: -8px}
.category_grid_col {width: 25%;padding: 8px}
.category_grid_item {display: block;position: relative;width: 100%;height: 100%;
  &::before {@include responsive-ratio(230, 195);}
}