
.filter_result {width: 100%}
.filter_result_row {margin-bottom: 15px}
.filter_result_display {
  a {display: inline-block;color: $color-text;padding: 2px 5px;
    &.active,
    &:hover {background: $color-orange;color: white}
  }
}
.filter_result_keywords {
  a {border: solid 1px $color-orange;padding: 2px 10px;margin: 0 3px;display: inline-block;color: $color-orange;font-size: $font-size-xs;
    @include border-radius(4px);
    &:hover {border-color: $color-orange}
    i {font-size: $font-size-s;vertical-align: -1px}
  }
}

.filter_display {display: flex;align-items: center;
  span {display: inline-block;margin-right: 10px}
}
.filter_display_item {background: white;display: inline-block;border: solid 1px $color-border;padding: 6px 10px;margin: 0 10px 0 0;font-size: $font-size-xs;position: relative;
  &:hover {border-color: $color-orange}
  @include border-radius(4px);
  a {color: $color-text-secondary;margin-left: 5px;
    &:hover {color: $color-orange}

  }
}

.filter_sort {display: flex;align-items: center;justify-content: flex-end;
  label {margin: 0 10px 0 0}
}
.filter_sort_product {}