.header_login {display: flex;align-items: center;justify-content: flex-end}
.header_login_item {margin-left: 15px;border: solid 1px $color-orange;
  @include transition(all .3s ease);
  &:hover {background: $color-orange-secondary;
    a {color: white}
  }
  @include border-radius(8px);
  .dropdown_menu_name {font-size: $font-size-s}
  .dropdow_menu .dropdown_menu_body {top: 28px}
  &:first-child {margin-left: 0}
  a {color: $color-orange;display: block;min-height: 40px;padding: 5px 12px;line-height: 30px}

  .header_login_form {
    label {font-size: $font-size-xs;margin: 0 0 5px;font-weight: $font-medium}
    a {color: white;}
  }
  .header_login_row {margin-bottom: 15px}
  .header_login_input {background: transparent;font-size: $font-size-xs;border: solid 1px white;color: white;display: block;width: 100%;padding: 5px;
    @include border-radius(20px);
    &::placeholder {color: white}
  }
  .header_login_grpbtn {display: flex;justify-content: space-between}
  .btn_login,
  .btn_reg {min-width: 100px;border: solid 1px white;font-size: $font-size-xs}
  p {margin: 0}

  .header_login_line {text-align: center;position: relative;
    &::before,
    &::after {content: '';background: white;display: block;width: 20%;height: 1px;position: absolute;top: 50%}
    &::after {right: 0}
    &::before {left: 0}
  }
  .header_login_social {border: solid 1px white;padding: 5px 10px;display: flex;align-items: center;justify-content: center;min-width: 100px;
    @include border-radius(15px);
    i {margin: 0 5px 0 0}
    &.header_login--facebook {}
    &.header_login--google {}
  }

}