.header_search {}
.header_search_form {background: white;display: flex;align-items: center;overflow: hidden;border: solid 1px $color-orange;
  @include border-radius(8px);
  .header_search_input {flex: 1;padding-left: 15px;font-size: $font-size-s;border: none}
  .header_search_select {background: transparent;border: none;cursor: pointer}
  .header_search_button {margin: 0 -2px 0 0;}
}
.header_search_field {flex: 1;display: flex;align-items: center}

.hotkey {padding: 10px 0}
.hotkey_lst {display: flex;flex-wrap: wrap;
  @extend  %reset-lst;
}
.hotkey_item {padding: 5px}
.hotkey_showmore {position: relative;padding-right: 15px;
  &::before {content: '';width: 0;height: 0;border-style: solid;border-width: 4px 4px 0 4px;border-color: $color-text transparent transparent transparent;position: absolute;right: 3px;top: 12px}
  &:hover {background: $color-bg-third;
    .hotkey_showmore_data {display: block}
  }
}
.hotkey_showmore_data {background: $color-bg-third;position: absolute;top: 26px;right: 0;width: 600px;padding: 5px;display: none;
  a {display: inline-block;margin: 3px 5px}
}