//Product list
.product_grid {}
.product_list {}
.product_row {margin: 0;
  &.product_col_5 {
    .product_col {width: 20%}
  }
  &.product_col_4 {
    .product_col {width: 25%}
  }
}
.product_col {position: relative;padding: 0;width: 25%;min-height: 330px}

//Product list auction
.product_list_auction {
  .product_list_auction_row {position: relative;display: flex;padding: 0 0 16px;margin: 0 0 16px;border-bottom: dashed 1px $color-bg-secondary}
  .product_list_auction_image {width: 160px;margin: 0 16px 0 0;
    a {display: block;font-size: 0}
  }
  .product_info {flex: 1}
  .product_name {font-size: $font-size-m;height: auto}
  .product_info_row {}
  .product_price,
  .product_time_countdown {background: $color-bg-secondary;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;min-height: 80px;color: inherit;
    @include border-radius(8px);
  }
  .product_grp_btn {flex-direction: column;
    a {margin: 0;width: 100%;padding: 5px 10px}
  }
}


//Product Item
.product_item {background: white;border: solid 1px transparent;padding: 10px;font-size: $font-size-xs;margin-bottom: 10px;z-index: 1;
  @include border-radius(10px);
  @include transition(all .3s ease);
  &:hover {border-color: $color-orange;position: absolute;top: 0;left: 0;width: 100%;
    .product_showmore {height: auto;}
  }
}
.product_header {color: white;padding: 2px 5px;position: relative;min-height: 20px;
  @include border-radius(5px 5px 0 0);
}
.product_body {}
.product_thumb {display: block;position: relative;margin-bottom: 5px;overflow: hidden;text-align: center;height: 195px;
  @extend %image-hover;
  img {width: 100%;height: 100%;object-fit: cover}
  .product_sale_percent {position: absolute;bottom: 0;left: 0;padding: 5px;color: white;font-size: $font-size-xs;text-align: center;font-weight: $font-medium;
    @include border-radius(0 10px 0 0);
  }
}
.product_stars {width: 50px;height: 10px}
.product_stars_icon {background: url("../../../images/icon-star.svg") repeat-x 0 50%;display: block;height: 100%}

.product_info {}
.product_info_row {margin-bottom: 5px;
  .button_auction {padding: 5px}
  .button_buynow {padding: 5px}
  .button_add_cart {padding: 5px}
}
.product_info_action {display: flex;justify-content: space-around;
  .button_buynow ,
  .button_auction {width: calc(50% - 4px);}
}

.product_info_top {display: flex;border: solid 1px $color-bg-secondary;margin-bottom: 5px;align-items: center;padding: 5px;
  @include border-radius(4px);
  span {display: block;width: 50%;height: 100%;text-align: center;
    &:first-child {border-right: solid 1px $color-bg-secondary;}
    &.product_info_discount {color: $color-red;}
    &.product_source_web {display: flex;align-items: center;
      img {width: 15px;margin: 0 10px}
    }
  }
}

.product_name {font-size: $font-size-xs;font-weight: $font-medium;height: 32px;overflow: hidden;margin: 0 0 5px;
  a {color: $color-link;}
}
.product_auctions_icon {}

.product_price {color: $color-orange;
  strong {}
  .product_price_japan {}
}
.product_showmore {height: 0;overflow: hidden;
  //@include transition(all .3s ease-in-out);
}

.product_return,
.product_status,
.product_assess {position: relative;padding-left: 15px;
  .fa-medal,
  .fa-undo-alt,
  .fa-grin {position: absolute;left: 0;top: 50%;margin-top: -6px}
}
.product_price_auction {display: flex;justify-content: space-around;text-align: center;
  div {background: $color-bg;width: calc( 50% - 4px);padding: 5px;
    @include border-radius(4px);
  }
  &--curent {}
  &--buynow {}
}

.product_assess_title {}
.product_assess_icons {}
.product_assess_icon {display: inline-block;margin-right: 3px;font-size: $font-size-xs;
  &:last-child {margin-right: 0}
  i.fa-sun {color: #FCBC00}
  i.fa-cloud {color: #999}
  i.fa-umbrella {color: #4DA6FF}
}
.product_status {}
.product_return {margin-bottom: 10px}


.product_grp_btn {margin-bottom: 5px;display: flex;align-items: center;justify-content: space-between;
  a {font-size: $font-size-xs;font-weight: normal;padding: 3px 10px;min-width: 90px;text-align: center;
    @include border-radius(4px);
  }
  .btn_product_heart {border: solid 1px $color-heart;color: $color-heart;
    &:hover {background: $color-heart;color: white}
  }
  .btn_product_share {border: solid 1px $color-facebook;color: $color-facebook;
    &:hover {background: $color-facebook;color: white}
  }
}
.product_note {margin-bottom: 10px}
.product_seller {text-align: center;
  a {color: $color-orange}
  i {vertical-align: middle;margin-right: 5px;color: $color-orange}
}


