.menu_categories {background: white;margin-bottom: 15px;
  a {display: inline-block;
    @include truncate(100%);
  }
  ul {@extend %reset-lst;}


  .menu_categories_header {background: $color-orange;color: white;;padding: 10px}
  .menu_categories_title {margin: 0;font-weight: $font-medium;font-size: $font-size-m;
    i {margin-right: 10px}
  }
  .categories_lst {position: relative;}
  .categories_item {padding: 0 10px;
    &:last-child a {border: none}
    &:hover {
      .mega_menu_container {opacity: 1;visibility: visible;right: -950px}
    }
  }
  .categories_item_title {display: flex;align-items: center;justify-content: space-between;position: relative;padding: 0 30px 0 0;
    &:first-child a {border: none}
    a {flex: 1;font-weight: $font-medium;padding: 5px 30px 5px 0;display: block;border-bottom: solid 1px $color-bg-secondary;position: relative;line-height: 24px;
      &:hover {color: $color-orange}
    }
    .categories_item_arrow {display: block;padding: 5px;cursor: pointer;position: absolute;right: 0;top: 50%;height: 100%;z-index: 1;
      @include translate(0,-50%)
    }
  }

  //Megamenu
  .mega_menu_container {background: white;padding: 10px 250px 10px 10px;position: absolute;z-index: 2;width: 950px;min-height: 100%;top: 0px;right: -940px;opacity: 0;visibility: hidden;
    @include box-shadow(2px,2px,5px,rgba(0,0,0, 0.2));
    @include transition(all .3s ease-in);
  }
  .mega_menu_inner {display: flex;flex-wrap: wrap}
  .mega_menu_banner {width: 230px;min-height: 390px;position: absolute;top: 10px;right: 10px;
    img {width: 100%;height: 100%;object-fit: cover}
  }
  .sub_menu {width: 25%;padding: 0 15px;margin-bottom: 15px;max-width: 200px}
  .sub_menu_title {font-size: $font-size-s;margin: 0 0 5px;}
  .sub_menu_lst {
    a {padding: 2px 0;display: block;}
  }

  //Sub category
  .categories_sub {display: none}
  .categories_sub_lst {padding: 0 0 0 15px;}
  .categories_sub_lst_item {
    a {line-height: 22px}
  }
}