.menu_fix {background: white;position: fixed;right: 5%;top: 325px;padding: 10px;z-index: 10}
.menu_fix_lst {
  @extend %reset-lst
}
.menu_fix_item {
  a {display: flex;align-items: center;border-bottom: solid 1px $color-text-secondary;padding: 5px 0}
  i {margin-right: 5px}
  &:last-child a {border-bottom: none}
}