.pagination_container {display: flex;align-items: center;
  & > span {display: inline-block;margin-right: 5px}
}
.pagination_lst {display: flex;align-items: center;margin: 0 16px 0 0}
.pagination_item {background: $color-bg-third;display: inline-block;margin: 0 2px;padding: 3px 5px;min-width: 25px;text-align: center;
  &.current {background: $color-orange-third;color: white;}
  &.break {}
  @include border-radius(3px);
}
.pagination_input {width: 50px}