.gallery {margin-bottom: 24px;min-height: 455px;position: relative;
  .gallery_label {background: $color-orange;color: white;font-size: $font-size-m;position: absolute;top: 0;left: 0;height: 32px;line-height: 32px;padding: 0 5px;text-align: center;z-index: 1;
    @include border-radius(4px);
  }
}
.gallery_full {margin-bottom: 15px;display: none;max-height: 370px;
  &.slick-initialized {display: block}
}
.gallery_full_thumb {background: $color-bg-secondary;display: block;width: 100%;height: 370px;overflow: hidden;border: solid 1px $color-gray-secondary;
  @include border-radius(8px);
  img {max-height: 100%;object-fit: cover;position: absolute;left: 50%;top: 50%;
    @include translate(-50%,-50%);
  }
}

.gallery_thumb_lst {margin: 0 -8px;padding: 0 22px;max-height: 70px;overflow: hidden;display: none;
  &.slick-initialized {display: block}
  .slick-arrow {
    &.slick-prev {left: 2px}
    &.slick-next {right: 2px}
    &::before {color: $color-orange}
  }
}
.gallery_thumb {display: block;overflow: hidden;padding: 0 8px;height: 70px;
  img {border: solid 1px $color-border;width: 100%;height: 100%;object-fit: cover;
    @include border-radius(10px);
  }
  &.slick-current {
    img {border-color: $color-orange}
  }
}