.source_seller_sort {display: flex;align-items: center;padding: 10px 0;
  & > div {margin: 0 30px 0 0}
}
.source_seller_select {display: flex;}
.source_seller_tbl {
  tr {
    th {font-weight: normal;border-bottom: solid 1px $color-orange;font-size: $font-size-m;padding: 10px }
  }
  td {padding: 10px 0}
}
.source_seller_name {margin: 0 0 5px;font-weight: normal;
  i {color: $color-orange}
}
.source_seller_btns {display: flex;flex-direction: column;align-items: flex-end;
  a {width: 160px}
}
