.wallet_box {background: white;padding: 25px 20px;min-height: 100px;
  @include border-radius(10px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.wallet_box_name {font-size: $font-size-m;font-weight: $font-regular}
.wallet_box_money {color: $color-orange;font-size: $font-size-bb;}