.process_order {text-align: center;margin: 0 0 30px}
.process_order_title {color: $color-orange;font-size: $font-size-b;margin: 0 0 15px}
.process_order_des {margin: 0 0 15px;}

.process_order_row {display: flex;margin: 0 -10px}
.process_order_col {flex: 1;width: 20%;padding: 0 8px;text-align: center;display: flex;align-items: center;flex-direction: column}
.process_order_thumb {margin: 0 0 15px;width: 120px;
  @include border-radius(50%);
}
.process_order_name {margin: 0 0 10px}
.process_order_content {margin: 0 0 16px;font-size: $font-size-s;}

.process_order_estimate {background: $color-bg;padding: 32px 8px;text-align: center;
  h4 {margin: 0 0 16px}
}
.process_order_button {margin-top: auto}