//Block
.section_container {margin-bottom: 30px;}
.section_header {display: flex;align-items: center;margin: 0 0 16px;position: relative;padding: 3px 0 3px 32px;min-height: 32px;
  &::before {content: '';background: $color-orange;display: block;width: 16px;height: 32px;position: absolute;left: 0;top: 0;
    @include border-radius(0px 16px 16px 0);
  }
}
.section_title {margin: 0;font-size: $font-size-b;font-weight: $font-medium}
.section_body {}
.section_top_filter {margin-bottom: 24px}
