#sidebar_filter {font-size: $font-size-xs}
.sidebar_filter_block {background: white;margin-bottom: 15px;padding: 10px;
  .sidebar_filter_label {margin-bottom: 5px;cursor: pointer;display: inline-block;
    &:hover {color: $color-orange}
  }
  .sidebar_filter_input {max-width: 100%;}
  .sidebar_filter_checkbox {margin-right: 5px;cursor: pointer;width: 15px;height: 15px;
    &:hover ~ label {color: $color-orange}
  }
}
.sidebar_filter_header {margin-bottom: 15px}
.sidebar_filter_title {font-size: $font-size-m;margin: 0;font-weight: $font-medium}
.sidebar_filter_body {}
.sidebar_filter_row {margin-bottom: 5px}

.filter_auction_row {font-size: $font-size-xs;margin-bottom: 5px;
  .sidebar_filter_input {max-width: 90px};
  span {flex: 1;display: block;margin-left: 5px}
  small {}
}

.filter_status_grp {}
.filter_status_item {
  &.active {background: $color-orange;color: white}
}

.filter_seller_grp {}
.filter_seller_item {
  &.active {background: $color-orange;color: white}
}

.filter_color_lst {display: flex;align-items: center;flex-wrap: wrap;margin: 0 -10px}
.filter_color_item {background: $color-border;display: block;width: 25px;height: 25px;margin: 0 16px 16px 16px;
  &:first-child {border: solid 1px $color-text-secondary}
}

.filter_size {display: flex;justify-content: space-between}
.filter_size_item {margin: 0 5px;display: flex;align-items: center;
  .sidebar_filter_label {margin: 0}
}

.filter_rating {
  .filter_rating_row {margin-bottom: 10px;display: flex;align-items: center}
  .sidebar_filter_checkbox {margin-right: 10px;width: 15px;height: 15px}
  .sidebar_filter_label {width: 75px;height: 15px;margin: 0 15px 0 0;
    span {background: url(../../images/icon-star.svg) repeat-x 0 50%;background-size: 15px;display: block;height: 100%;}
  }
  span {font-size: $font-size-xs;}
}