#subcribe {border-bottom: solid 1px $color-border;text-align: center;padding: 20px;margin: 0 0 25px}
.subcribe_title {font-size: $font-size-m;font-weight: $font-medium;margin: 0 0 15px}
.subcribe_summary {width: 55%;margin: 0 auto 15px}
.subcribe_form {margin: 0 0 15px;}
.subcribe_form_inner {background: white;max-width: 725px;overflow: hidden;min-height: 40px;border: solid 1px $color-border;margin: 0 auto;display: flex;
  @include border-radius(40px);
  .input_subcribe{flex: 1;padding: 0 15px;border-right: solid 1px $color-border;
    @include border-radius(0);
  }
  .btn_subcribe_submit {padding: 0 30px;
    @include border-radius(0 40px 40px 0);
  }
}
.subcribe_text {width: 55%;margin: 0 auto 15px}