/*
@font-face {
  font-family: 'fonts/AvenirNext-Regular';
  src: url('fonts/AvenirNext-Regular.eot');
  src: url('fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg'),
       url('fonts/AvenirNext-Regular.ttf') format('truetype'),
       url('fonts/AvenirNext-Regular.woff') format('woff'),
       url('fonts/AvenirNext-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fonts/AvenirNext-DemiBold';
  src: url('fonts/AvenirNext-DemiBold.eot');
  src: url('fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg'),
       url('fonts/AvenirNext-DemiBold.ttf') format('truetype'),
       url('fonts/AvenirNext-DemiBold.woff') format('woff'),
       url('fonts/AvenirNext-DemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fonts/AvenirNext-Bold';
  src: url('fonts/AvenirNext-Bold.eot');
  src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg'),
       url('fonts/AvenirNext-Bold.ttf') format('truetype'),
       url('fonts/AvenirNext-Bold.woff') format('woff'),
       url('fonts/AvenirNext-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*/

$font-base: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
