<div id="breadcrums">
    <div class="container-custom">
        <div class="row breadcrums_lst">
            <div class="breadcrum_item">
                <a href="" title=""><i class="fas fa-home"></i> Trang chủ</a>
                <span class="breadcrum_arrow"><i class="fas fa-angle-right"></i></span>
            </div>
            <div class="breadcrum_item">
                <a href="#" title="">Yahoo! Auction</a>
                <span class="breadcrum_arrow"><i class="fas fa-angle-right"></i></span>
            </div>
            <div class="breadcrum_item breadcrum_category">
                <a href="#" title="">Danh mục sản phẩm</a>
                <span class="breadcrum_arrow"><i class="fas fa-angle-right"></i></span>
                <ul class="breadcrum_category_lst">
                    <li class="breadcrum_category_item"><a href="#" title="">Máy tính <span>(48)</span></a></li>
                    <li class="breadcrum_category_item"><a href="#" title="">Mỹ phẩm <span>(14)</span></a></li>
                    <li class="breadcrum_category_item"><a href="#" title="">Điện thoại <span>(09)</span></a></li>
                    <li class="breadcrum_category_item"><a href="#" title="">Thời trang <span>(22)</span></a></li>
                </ul>
            </div>
            <div class="breadcrum_item">
                <a href="#" title="">Computer</a>
                <span class="breadcrum_arrow"><i class="fas fa-angle-right"></i></span>
            </div>
            <div class="breadcrum_item breadcrum_item--current">Tablet</div>
        </div>
    </div>
</div>