{% set nav = [
    { title: "Yahoo! auction", icon: "icon-ichiba-auction",url: '/yahoo-auction-list.html' },
    { title: "Yahoo! shopping", icon: "icon-yahoo-shopping",url: '/yshopping.html' },
    { title: "Amazon", icon: "fab fa-amazon",url: '/amazon.html' },
    { title: "Rakuten", icon: "icon-rakuten", url: 'rakuten.html' },
    { title: "Add-ons", icon: "icon-ichiba-plugin", url: 'add-to-ichiba.html' },
    { title: "List Website", icon: "far fa-list-alt", url: 'list-website.html' },
] %}

{#{% set nav2 = {
    about:    { title: "The Brewery", desc: "About Us" },
    services: { title: "How It’s Made", desc: "Services" },
    work:     { title: "What’s On Tap", desc: "Our Work" },
    news:     { title: "Brew News", desc: "The Latest" }
} %}#}

<!--=================================Navigation=================================-->
<nav id="navigation_main">
    <div class="container-custom navigation_container">
        <ul class="navigation_lst">
            {#{{ dump(nav) }}#}
            {% for item in nav %}
                <li class="navigation_item">
                    <a href="{{ item.url }}" title="{{ item.title }}"><i class="{{ item.icon }}"></i>{{ item.title }}</a>
                </li>
            {% endfor %}
            <li class="navigation_item">
                <a href="/ichiba-place.html" title="iChiba Place"><img src="../../images/icons/ichiba-icon-white.svg" alt="iChiba Place"/>iChiba Place</a>
            </li>
        </ul>
    </div>
</nav>
<!--=================================//Navigation=================================-->
