<!--Topbar-->
<div id="topbar">
    <div class="container-custom">
        <div class="row">
            <div class="col-5 topbar_col topbar_col--left">
                {% include '../components/languages.twig' %}
                {% include '../components/exchange_rate.twig' %}
            </div>
            <div class="col-7 topbar_col topbar_col--right">
                <div class="topbar_item topbar_item_location">
                    <div class="topbar_menu dropdow_menu ">
                        <div class="dropdown_menu_inner">
                            <div class="dropdown_menu_header">
                                <h6 class="dropdown_menu_name"><i class="fas fa-map-marker-alt"></i><span>Trụ sở </span></h6>
                            </div>
                            <div class="dropdown_menu_body">
                                <div class="dropdown_menu_data">
                                    <div class="dropdown_menu_item">
                                        <strong><i class="fas fa-map-marker-alt"></i>Địa chỉ:</strong>
                                        Ngõ 167, Đường Quang Tiến, Phường Đại Mỗ Nam, Từ Liêm, TP. Hà Nội
                                    </div>
                                    <div class="dropdown_menu_item">
                                        <strong><i class="fas fa-phone"></i>Hotline: </strong> 1900 988 950
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topbar_item topbar_item_tracking">
                    <div class="topbar_menu dropdow_menu">
                        <div class="dropdown_menu_header">
                            <h6 class="dropdown_menu_name"><i class="fas fa-file-alt"></i><span>Theo dõi đơn hàng</span></h6>
                        </div>
                        <div class="dropdown_menu_body">
                            <div class="dropdown_menu_data">
                                <div class="tracking_order">
                                    <form action="" class="tracking_form">
                                        <div class="tracking_form_row">
                                            <label for="tracking_input_code">Mã đơn hàng...</label>
                                            <input type="text" class="input_common input_common--tiny tracking_input" placeholder="Mã đơn" id="tracking_input_code" />
                                        </div>
                                        <div class="tracking_form_row">
                                            <label for="tracking_input_phone">Số điện thoại</label>
                                            <input type="text" class="input_common input_common--tiny tracking_input" placeholder="Số điện thoại" id="tracking_input_phone" />
                                        </div>
                                        <div class="tracking_form_row text_center">
                                            <button class="button_primary button_tiny tracking_btn" type="submit" disabled>Xem ngay</button>
                                        </div>
                                        <div class="tracking_form_row m-0">
                                            <p class="font_size_xs m-0">Nếu có điều gì thắc mắc, quý khách vui lòng gửi
                                                phàn hồi <a href="#">tại đây</a> hoặc hotline: 1900 988 950.
                                                Để được hỗ trợ nhanh nhất.</p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topbar_item topbar_item_customer">
                    <div class="topbar_menu dropdow_menu">
                        <div class="dropdown_menu_header">
                            <h6 class="dropdown_menu_name"><i class="fas fa-headset"></i><span>Chăm sóc khách hàng</span></h6>
                        </div>
                        <div class="dropdown_menu_body">
                            <div class="dropdown_menu_data">
                                <ul class="customer_care_lst">
                                    <li class="customer_care_item">
                                        <a href="#" title="Câu hỏi thường găp">Câu hỏi thường găp</a>
                                        <i class="fas fa-angle-double-right"></i>
                                    </li>
                                    <li class="customer_care_item">
                                        <a href="#" title="Trung tâm trợ giúp">Trung tâm trợ giúp</a>
                                        <i class="fas fa-angle-double-right"></i>
                                    </li>
                                    <li class="customer_care_item">
                                        <a href="#" title="Tổng đài tư vấn">Tổng đài tư vấn</a>
                                        <i class="fas fa-angle-double-right"></i>
                                    </li>
                                    <li class="customer_care_item">
                                        <a href="#" title="Giải quyết khiếu nại">Giải quyết khiếu nại</a>
                                        <i class="fas fa-angle-double-right"></i>
                                    </li>
                                    <li class="customer_care_item">
                                        <a href="#" title="Ưu đãi khuyến mãi">Ưu đãi khuyến mãi</a>
                                        <i class="fas fa-angle-double-right"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Topbar-->