//Tracking modal
.tracking_order {padding: 8px}
.tracking_form {}
.tracking_form_row {margin-bottom: 15px}
.tracking_label {margin: 0 0 5px}
.tracking_input {background: transparent;display: block;width: 100%;
  &::placeholder {}
}
.tracking_btn {}