.table_common {width: 100%;border-spacing: 0;
  thead {
    tr {}
    th {}
  }
  tbody {
    tr {}
    td {}
  }
  &.table_fixed {/*table-layout: fixed;*/}
  &.table_primary {background: white;overflow: hidden;margin-bottom: 25px;
    &:last-child {margin-bottom: 0}
    @include border-radius(8px);
    thead {font-size: $font-size-m;text-align: left;
      tr {}
      th {background: $color-bg-secondary;padding: 10px 15px;font-weight: normal;
        &.th_orange {background: $color-orange;color: white}
      }
    }
    tbody {
      tr {
        &:last-child {
          & > td {border-bottom: none}
        }
      }
      td {padding: 10px 15px;border-bottom: solid 1px $color-gray;
        &.no_border {border: none !important;}
      }
    }
  }
  &.table_secondary {
    td {padding: 5px}
  }
  &.table_striped {
      tr:nth-of-type(even) {background: $color-bg-third}
  }
}

.tbl_product_info {
//  margin-bottom: 8px;padding-bottom: 8px;border-bottom: dashed 1px $color-gray
}
.tbl_product_top {font-size: $font-size-m;margin-bottom: 5px}
.tbl_product_bot {position: relative; padding: 0 0 0 55px;}
.tbl_product_thumb {display: block;width: 40px;height: 40px;overflow: hidden;position: absolute;left: 0;top: 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.tbl_product_content {position: relative;
  &.have_saleoff {}
}
.tbl_product_name {font-weight: normal;font-size: $font-size-s;margin: 0 0 3px;/*white-space: nowrap;overflow: hidden;text-overflow: ellipsis*/}
.tbl_product_meta {display: flex;}
.tbl_product_meta_item {margin: 0 20px 0 0;font-size: $font-size-xs}

table.tbl_product_cost {background: $color-bg;font-size: $font-size-xs;
  tr {}
  td {padding: 5px 10px !important;}
}