{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Blog List - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_blog" class="page_main">
        {% include "../../layout/header/mobile/header_fourthy.twig" with {title: 'Tiêu đề bài viết'} %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="block_container">
                    <div class="block_header block_header_select">
                        <h2 class="block_title">Tin khuyến mãi</h2>
                        <div class="block_header_arrow">
                            <i class="fas fa-angle-down"></i>
                            <div class="block_header_options">
                                <a title="Tin tổng hợp" class="block_header_option_item">Tin tổng hợp</a>
                                <a title="Mua hàng Online" class="block_header_option_item">Mua hàng Online</a>
                                <a title="Thời trang và phong cách" class="block_header_option_item">Thời trang và phong cách</a>
                                <a title="Sức khỏe và làm đẹp" class="block_header_option_item">Sức khỏe và làm đẹp</a>
                                <a title="Công nghệ và đời sống" class="block_header_option_item">Công nghệ và đời sống</a>
                                <a title="Bí quyết kinh doanh" class="block_header_option_item">Bí quyết kinh doanh</a>
                                <a title="Hướng dẫn" class="block_header_option_item">Hướng dẫn</a>
                            </div>
                        </div>
                    </div>
                    <div class="block_body">
                        <div class="box_posts_top">
                            <a href="#" class="color_orange"><i class="fas fa-angle-left"></i> Quay lại</a>
                        </div>
                        <div class="posts_container">
                            <div class="posts_header">
                                <h1 class="posts_title">Tầm nhìn và sứ mệnh</h1>
                                <div class="posts_header_meta">
                                    <div class="posts_publised_date"><i class="fas fa-calendar-alt"></i> 2017-05-06 11:46:23</div>
                                    <div class="posts_seen"><i class="fas fa-eye"></i> 2017 lượt xem</div>
                                </div>
                                <div class="posts_header_summary">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                </div>
                            </div>
                            <posts class="posts_body clearfix">
                                <div class="posts_summary">
                                    <h5>Tóm tắt nội dung</h5>
                                    <ul>
                                        <li>
                                            <a href="#">1. Mục lục 1</a>
                                            <ul>
                                                <li>
                                                    <a href="#">1.1. Mục lục 1.1</a>
                                                </li>
                                                <li>
                                                    <a href="#">1.1. Mục lục 1.2</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">1.2.1 Mục lục 1.3</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">1. Mục lục 1</a>
                                            <ul>
                                                <li>
                                                    <a href="#">1.1. Mục lục 1.1</a>
                                                </li>
                                                <li>
                                                    <a href="#">1.1. Mục lục 1.2</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">1.2.1 Mục lục 1.3</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">1. Mục lục 1</a>
                                            <ul>
                                                <li>
                                                    <a href="#">1.1. Mục lục 1.1</a>
                                                </li>
                                                <li>
                                                    <a href="#">1.1. Mục lục 1.2</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">1.2.1 Mục lục 1.3</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                <img src="https://via.placeholder.com/600x300/" alt="" width="">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

                                <div class="posts_footer">
                                    <div class="row">
                                        <div class="col-md-6 posts_author">
                                            <strong>Tác giả:</strong> iChiba - Đấu giá &amp; Mua hộ hàng Nhật
                                        </div>
                                        <div class="col-md-6 posts_share">
                                            <strong>Chia sẻ bài viết:</strong>
                                            <div class="posts_share_icon">
                                                <a href="#"><img src="/images/icon-twitter.png" alt="" /></a>
                                                <a href="#"><img src="/images/icon-gg.png" alt="" /></a>
                                                <a href="#"><img src="/images/icon-fb.png" alt="" /></a>
                                                <a href="#"><img src="/images/icon-pinter.png" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </posts>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}
{% endblock %}