{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Blog List - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_blog" class="page_main">
        {% include "../../layout/header/mobile/header_thirdty.twig" with {title: 'Danh sách bài viết'} %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="block_container">
                    <div class="block_header block_header_select">
                        <h2 class="block_title">Tin khuyến mãi</h2>
                        <div class="block_header_arrow">
                            <i class="fas fa-angle-down"></i>
                            <div class="block_header_options">
                                <a title="Tin tổng hợp" class="block_header_option_item">Tin tổng hợp</a>
                                <a title="Mua hàng Online" class="block_header_option_item">Mua hàng Online</a>
                                <a title="Thời trang và phong cách" class="block_header_option_item">Thời trang và phong cách</a>
                                <a title="Sức khỏe và làm đẹp" class="block_header_option_item">Sức khỏe và làm đẹp</a>
                                <a title="Công nghệ và đời sống" class="block_header_option_item">Công nghệ và đời sống</a>
                                <a title="Bí quyết kinh doanh" class="block_header_option_item">Bí quyết kinh doanh</a>
                                <a title="Hướng dẫn" class="block_header_option_item">Hướng dẫn</a>
                            </div>
                        </div>
                    </div>
                    <div class="block_body">
                        <div class="box_posts_top">
                            <a href="#" class="color_orange"><i class="fas fa-angle-left"></i> Quay lại</a>
                        </div>
                        <div class="box_posts_container">
                            <div class="box_posts_header">
                                <h3 class="box_posts_title">Hỏi đáp linh tinh</h3>
                            </div>
                            <ul class="box_posts_list box_posts_customer_care">
                                {% for i in 0..9 %}
                                    <li class="box_posts_row">
                                        <a href="#" title="" class="color_orange"> Hỏi đáp linh tinh {{ i }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="box_posts_container">
                            <div class="box_posts_header">
                                <h3 class="box_posts_title">Hỏi đáp linh tinh</h3>
                            </div>
                            <ul class="box_posts_list box_posts_customer_care">
                                {% for i in 0..9 %}
                                    <li class="box_posts_row">
                                        <a href="#" title="" class="color_orange">Hỏi đáp linh tinh {{ i }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}
{% endblock %}