{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Filter {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_filter" class="page_main">
        {% include "../../layout/header/mobile/header_thirdty.twig" with { title : 'Tên sản phâm'}  %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <form action="">
                    <div class="filter_container">
                        <div class="filter_item">
                            <div class="filter_header">
                                <h3 class="filter_title">Lọc giá</h3>
                                <span class="filter_arrow"><i class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="filter_body">
                                <div class="filter_row mb-3">
                                    <label for="" class="filter_label">Giá hiện tại</label>
                                    <div class="row">
                                        <div class="col-5">
                                            <input type="number" placeholder="30.000" id="filter_price" class="input_common input_common--small filter_input_text" />
                                            <span class="filter_price_converted">10.000.000.000đ</span>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" placeholder="30.000" id="filter_price" class="input_common input_common--small filter_input_text" />
                                            <span class="filter_price_converted">10.000.000.000đ</span>
                                        </div>
                                        <div class="col-2">
                                            <span class="filter_unit">¥ Yen</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter_row">
                                    <label for="" class="filter_label">Giá hiện tại</label>
                                    <div class="row">
                                        <div class="col-5">
                                            <input type="number" placeholder="30.000" id="filter_price" class="input_common input_common--small filter_input_text" />
                                            <span class="filter_price_converted">10.000.000.000đ</span>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" placeholder="30.000" id="filter_price" class="input_common input_common--small filter_input_text" />
                                            <span class="filter_price_converted">10.000.000.000đ</span>
                                        </div>
                                        <div class="col-2">
                                            <span class="filter_unit">¥ Yen</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_item">
                            <div class="filter_header">
                                <h3 class="filter_title">Lọc người bán</h3>
                                <span class="filter_arrow"><i class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="filter_body">
                                <div class="filter_row">
                                    <label for="" class="filter_label">Giá hiện tại</label>
                                    <div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_buy_by" class="option_style_input" id="filter_shop" />
                                            <label for="filter_shop" class="option_style_label">Cửa hàng</label>
                                        </div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_buy_by" class="option_style_input" id="filter_personal" />
                                            <label for="filter_personal" class="option_style_label">Cá nhân</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_item">
                            <div class="filter_header">
                                <h3 class="filter_title">Đánh giá người bán</h3>
                                <span class="filter_arrow"><i class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="filter_body">
                                <div class="filter_row">
                                    <label for="" class="filter_label">Lớn hơn</label>
                                    <div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_percent" class="option_style_input" id="filter_70" />
                                            <label for="filter_70" class="option_style_label">70%</label>
                                        </div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_percent" class="option_style_input" id="filter_80" />
                                            <label for="filter_80" class="option_style_label">80%</label>
                                        </div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_percent" class="option_style_input" id="filter_90" />
                                            <label for="filter_90" class="option_style_label">90%</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_item">
                            <div class="filter_header">
                                <h3 class="filter_title">Tùy chọn</h3>
                                <span class="filter_arrow"><i class="fas fa-angle-down"></i></span>
                            </div>
                            <div class="filter_body">
                                <div class="filter_row">
                                    <div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_option" class="option_style_input" id="filter_option_1" />
                                            <label for="filter_option_1" class="option_style_label">Sản phẩm mới đăng</label>
                                        </div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_option" class="option_style_input" id="filter_option_2" />
                                            <label for="filter_option_2" class="option_style_label">Miễn phí Vận chuyển nội địa</label>
                                        </div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_option" class="option_style_input" id="filter_option_3" />
                                            <label for="filter_option_3" class="option_style_label">Có giá quyết định</label>
                                        </div>
                                        <div class="option_style">
                                            <input type="radio" name="filter_option" class="option_style_input" id="filter_option_4" />
                                            <label for="filter_option_4" class="option_style_label">Kèm Ảnh</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-2 col-md-4 col-6">
                            <button class="button_primary button_small button_full">Thiết lập lại</button>
                        </div>
                        <div class="col-md-4 col-6">
                            <button class="button_primary button_small button_full">Lọc</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}

{% endblock %}