{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Quên mật khẩu - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_lisu" class="page_main">
        {% include "../../layout/header/mobile/header_secondary.twig" with {title: 'Quên mật khẩu'} %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="row lisu_container">
                    <div class="col-12">
                        <div class="lisu_header">
                            <h2 class="lisu_logo">
                                <a href="#" title="{{ slogan }}" class=""><img src="../../../images/logo-2.svg" alt="{{ slogan }}"/></a>
                            </h2>
                        </div>
                        <div class="lisu_body">
                            <form action="" class="lisu_frm">
                                <div class="lisu_frm_row">
                                    <p class="text_center">Mã xác nhận khôi phục mật khẩu sẽ được gửi tới email hoặc điện thoại của bạn!</p>
                                </div>
                                <div class="lisu_frm_row">
                                    <input type="text" placeholder="Email hoặc số điện thoại ..." id="" class="input_common input_common--medium lisu_input" />
                                </div>
                                <div class="lisu_frm">
                                    <button class="button_primary button_full button_large lisu_submit"><i class="fab fa-telegram-plane"></i> Gửi</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}