{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_home" class="page_main">
        {% include "../../layout/header/mobile/header.twig" %}
        {% include '../../components/mobile/banner-home.twig' %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                {% include "../../components/mobile/block_suggest_for_you.twig" %}
                {% include "../../components/mobile/block_store.twig" %}
                {% include "../../components/mobile/process-order.twig" %}
            </div>
        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}

{% endblock %}