{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} List website buy - {{ slogan }}{% endblock %}
{% block page %}
{% set stores = [
    { name: "Yahoo! Shopping", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "Rakuten", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "Amazon Japan", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "Yahoo! Auction", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "Adidas", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "UNIQLO", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "ZARA Shopping", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "GAP Shopping", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "HM Shopping", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
    { name: "NIKE Shopping", type: "Hypermarket", des: "An online shopping mall by Yahoo! Japan" },
] %}

    <div id="" class="page_main">
        {% include "../../layout/header/mobile/header.twig" %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="tab_main store_tab">
                    <div class="store_tab_list scroll_mobile_h">
                        <div class="tab_item active"><a  href="javascript:void(0)" title="Yahoo! Auction" class="">Yahoo! Auction & Yahoo! Auction </a></div>
                        {% for i in stores %}
                            <div class="tab_item"><a  href="javascript:void(0)" title="{{ i.name }}" class="">{{ i.name }}</a></div>
                        {% endfor %}
                    </div>
                    <div class="tab_content">
                        {% for i in 0..9 %}
                            <div class="tab_content_item">
                                <div class="store_items">
                                    {% for item in stores %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="{{ itemm.name }}">
                                                    <img src="http://placehold.jp/200x100.png" alt="{{ item.name }}" />
                                                </a>
                                                <h5 class="store_name">{{ item.name }}</h5>
                                                <h6 class="store_type">{{ item.type }}</h6>
                                                <hr/>
                                                <p class="store_des">{{ item.des }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}


{% endblock %}