{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Login - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_lisu" class="page_main">
        {% include "../../layout/header/mobile/header_secondary.twig"  with {title: 'Đăng nhập'}  %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="row lisu_container">
                    <div class="col-12">
                        <div class="lisu_header">
                            <a href="#" title="{{ slogan }}"><img src="../../../images/logo-2.svg" alt="{{ slogan }}"/></a>
                        </div>
                        <div class="lisu_body">
                            <form action="" class="lisu_frm">
                                <div class="lisu_frm_row">
                                    <input type="text" placeholder="Email hoặc số điện thoại ..." id="lisu_input_account" class="input_common input_common--large lisu_input" />
                                </div>
                                <div class="lisu_frm_row">
                                    <input type="password" placeholder="Mật khẩu của bạn ..." id="lisu_input_password" class="input_common input_common--large lisu_input" />
                                </div>
                                <div class="lisu_frm_row d-flex justify-content-between align-items-center">
                                    <div class="lisu_remember">
                                        <input type="checkbox" id="lisu_remember_input" />
                                        <label for="lisu_remember_input">Nhớ đăng nhập</label>
                                    </div>
                                    <div class="lisu_forgot_password">
                                        <a href="#" title="Quên mật khẩu?" class="color_orange">Quên mật khẩu?</a>
                                    </div>
                                </div>
                                <div class="lisu_frm_row">
                                    <button class="button_primary button_large button_full lisu_submit">Đăng nhập</button>
                                </div>
                            </form>
                            <div class="lisu_other">
                                <div class="lisu_other_title">
                                    <span>Đăng nhập bằng</span>
                                </div>
                                <div class="lisu_other_btns">
                                    <a href="javascript:void(0)" title="Facebook" class="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Google" class="google">
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Mobile" class="mobile">
                                        <i class="fas fa-mobile-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="lisu_footer">
                            <div class="text_center">
                                Bạn chưa có tài khoản? <a class="color_orange" href="/mobile/sign-up.html">Đăng ký ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}