{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Price estimate - {{ slogan }}{% endblock %}
{% block page %}

    <div id="" class="page_main">
        {% include "../../layout/header/mobile/header.twig" %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="estimate_container">
                    <form action="" class="row estimate_frm">
                        <div class="estimate_frm_row col-sm-6">
                            <label for="estimate_price" class="estimate_label">Giá hàng hóa</label>
                            <div class="d-flex align-items-center">
                                <input type="number" placeholder="VD: 30.000" id="estimate_price" class="input_common input_common--small estimate_input_text" />
                                <span class="estimate_unit">¥ Yen</span>
                            </div>
                        </div>
                        <div class="estimate_frm_row col-sm-6">
                            <label for="estimate_shipping_fee" class="estimate_label">Phí vận chuyển nội địa Nhật dự kiến</label>
                            <div class="d-flex align-items-center">
                                <input type="number" placeholder="VD: 30.000 ¥ Yen" id="estimate_shipping_fee" class="input_common input_common--small estimate_input_text" />
                                <span class="estimate_unit">¥ Yen</span>
                            </div>
                        </div>
                        <div class="estimate_frm_row col-sm-6">
                            <label for="estimate_city" class="estimate_label">Vị trí</label>
                            <div class="select_wrap small" id="estimate_city">
                                <select name="" id="" class="select_common">
                                    <option value="">Hà Nội</option>
                                    <option value="">TPHCM</option>
                                    <option value="">Da Nang</option>
                                    <option value="">TPHCM</option>
                                </select>
                            </div>
                        </div>
                        <div class="estimate_frm_row col-sm-6">
                            <label for="estimate_weight" class="estimate_label">Cân nặng hàng hóa</label>
                            <div class="d-flex align-items-center">
                                <input type="number" placeholder="VD: 30.000" id="estimate_weight" class="input_common input_common--small estimate_input_text" /> G
                            </div>
                            <small class="color_red">* Xin hãy nhập trọng lượng tính bằng gam (1000g - 1kg)</small>
                        </div>
                        <div class="estimate_frm_row col-sm-6">
                            <label for="estimate_length" class="estimate_label">Kích thước gói </label>
                            <div class="d-flex justify-content-between align-items-center">
                                <input type="number" placeholder="Chiều dài" id="estimate_length" class="input_common input_common--small estimate_input_text" />
                                <input type="number" placeholder="Chiều rộng" id="estimate_width" class="input_common input_common--small estimate_input_text" />
                                <input type="number" placeholder="Chiều cao" id="estimate_height" class="input_common input_common--small estimate_input_text" />
                                <span class="estimate_unit">Cm</span>
                            </div>
                            <small class="color_red">* Xin hãy nhập kích thước tính bằng Cm</small>
                        </div>
                        <div class="estimate_frm_row col-sm-6">
                            <span class="estimate_label">Nguồn hàng</span>
                            <div class="estimate_source">
                                <div class="option_style">
                                    <input type="radio" name="estimate_source" class="option_style_input" id="estimate_yauction" />
                                    <label for="estimate_yauction" class="option_style_label">Y! Auction</label>
                                </div>
                                <div class="option_style">
                                    <input type="radio" name="estimate_source" class="option_style_input" id="estimate_yshopping" />
                                    <label for="estimate_yshopping" class="option_style_label">Y! Shopping</label>
                                </div>
                                <div class="option_style">
                                    <input type="radio" name="estimate_source" class="option_style_input" id="estimate_rakuten" />
                                    <label for="estimate_rakuten" class="option_style_label">Rakuten</label>
                                </div>
                                <div class="option_style">
                                    <input type="radio" name="estimate_source" class="option_style_input" id="estimate_amazon" />
                                    <label for="estimate_amazon" class="option_style_label">Amazon</label>
                                </div>
                                <div class="option_style">
                                    <input type="radio" name="estimate_source" class="option_style_input" id="estimate_ichiba" />
                                    <label for="estimate_ichiba" class="option_style_label">Ichiba</label>
                                </div>
                                <div class="option_style">
                                    <input type="radio" name="estimate_source" class="option_style_input" id="estimate_other" />
                                    <label for="estimate_other" class="option_style_label">Khác</label>
                                </div>
                            </div>
                        </div>
                        <div class="estimate_frm_row col-sm-6">
                            <span class="estimate_label">Đóng gói</span>
                            <div class="d-flex align-items-center">
                                <span class="option_style">
                                    <input type="radio" id="yes" class="option_style_input" name="option_pack" checked />
                                    <label for="yes" class="option_style_label">Có</label>
                                </span>
                                <span class="option_style">
                                    <input type="radio" id="no" class="option_style_input" name="option_pack" />
                                    <label for="no" class="option_style_label">Không</label>
                                </span>
                            </div>
                        </div>

                        <div class="estimate_frm_row col-12 text_center">
                            <a href="#modal_estimate" rel="modal:open" class="button_primary button_small estimate_btn"><span>Ước lượng</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}
    {% include "../../components/mobile/modal_estimate.twig" %}
{% endblock %}