{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Profile Setting {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_profile_setting" class="page_main page_profile">
        {% include "../../layout/header/mobile/header_thirdty.twig" with {title: 'Cài đặt'} %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="profile_setting">
                    <form class="profile_setting_form">
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="text" class="input_common input_common--large" id="" value="Nguyễn Quang Huy" placeholder="Nhập họ và tên của bạn ..."/>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="number" class="input_common input_common--large" id="" value="0778491700" placeholder="Nhập họ số điện thoại ..."/>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="text" class="input_common input_common--large" id="" value="huydzo88@gmail.com" placeholder="Nhập họ số email ..."/>
                                <div class="profile_setting_subcribe_mail">
                                    <input type="checkbox" id="subcribe_mail"/>
                                    <label for="subcribe_mail">
                                        Theo dõi iChiba để nhận được những thông báo giảm giá và phiếu mua hàng giảm giá đặc
                                        biệt dành riêng cho bạn.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                <input type="date" class="input_common input_common--large" id="" value="29/08/1988" placeholder="Ngày sinh ..."/>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row">
                                * Cập nhật thông tin ngày sinh của bạn để nhận được những ưu đãi từ iChiba dành riêng cho bạn.
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <div class="profile_setting_form_row profile_setting_gender text_center">
                                <div class="option_style">
                                    <input type="radio" name="gender" id="male" checked class="option_style_input"/>
                                    <label for="male" class="option_style_label">Nam</label>
                                </div>
                                <div class="option_style">
                                    <input type="radio" name="gender" id="female" class="option_style_input"/>
                                    <label for="female" class="option_style_label">Nữ</label>
                                </div>
                            </div>
                        </div>
                        <div class="fieldset_common">
                            <label for="">&nbsp;</label>
                            <div class="profile_setting_form_row d-flex justify-content-center">
                                <button class="button_primary button_large button_full profile_setting_submit">Cập nhật </button>
                            </div>
                        </div>
                    </form>
                    <div class="profile_address_lst">
                        <h4 class="profile_address_title">Địa chỉ của bạn</h4>
                        <div class="profile_address_item">
                            <div class="profile_address_info">
                                <div class="profile_address_detail">
                                    <strong>Nguyễn Văn A</strong> <br/>
                                    Địa chỉ: Số 8 Lê Quang Đạo, Phường Phú Đô, Quận Nam Từ Liêm, TP. Hà Nội, Việt Nam - 100000 <br/>
                                    Điện thoại: 1900 988 950
                                </div>
                                <div class=" d-flex justify-content-center flex-column">
                                    <div class="color_green mb-2"><i class="fas fa-check"></i> Địa chỉ mặc định</div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="button_secondary button_micro profile_address_edit_btn"><i class="fas fa-edit"></i> Sửa</a>
                                        <a href="#" class="button_secondary_gray button_micro"><i class="far fa-trash-alt"></i> Xoá</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for i in 0..1 %}
                            <div class="profile_address_item">
                                <div class="profile_address_info">
                                    <div class="profile_address_detail">
                                        <strong>Nguyễn Văn A</strong> <br/>
                                        <span class="fw_medium">Địa chỉ:</span>  Số 8 Lê Quang Đạo, Phường Phú Đô, Quận Nam Từ Liêm, TP. Hà Nội, Việt Nam - 100000 <br/>
                                        <span class="fw_medium">Điện thoại:</span>  1900 988 950
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="button_secondary button_micro profile_address_edit_btn"><i class="fas fa-edit"></i> Sửa</a>
                                        <a href="#" class="button_secondary_gray button_micro"><i class="far fa-trash-alt"></i> Xoá</a>
                                        <a href="#" class="button_secondary button_micro"><i class="fas fa-cog"></i>Mặc định</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="#modal_create_address" rel="modal:open" class="profile_address_more"><i class="fas fa-plus"></i> Thêm Địa chỉ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../../components/mobile/modal_create_address.twig' %}
{% endblock %}