{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Recommended - {{ slogan }}{% endblock %}
{% block page %}

    <div id="" class="page_main">
        {% include "../../layout/header/mobile/header.twig" %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <ul class="tab_nav_lst tab_nav_lst--primary scroll_mobile_h" id="">
                    <li class="tab_item active"><a href="javascript:void(0)" title="Yahoo! Auction" class="active">Yahoo! Auction</a></li>
                    <li class="tab_item"><a href="javascript:void(0)" title="Yahoo! Shopping">Yahoo! Shopping</a></li>
                    <li class="tab_item"><a href="javascript:void(0)" title="Amazon">Amazon</a></li>
                    <li class="tab_item"><a href="javascript:void(0)" title="Rakuten">Rakuten</a></li>
                    <li class="tab_item"><a href="javascript:void(0)" title="iChiba Place">iChiba Place</a></li>
                </ul>
                <div class="category_grid">
                    <div class="category_grid_row">
                        {% for i in 0..7 %}
                            <div class="category_grid_col">
                                <a href="#" class="category_grid_item">
                                    <img src="http://placehold.jp/230x195.png" alt=""/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}


{% endblock %}