{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Supplier recommended - {{ slogan }}{% endblock %}
{% block page %}

    <div id="" class="page_main">
        {% include "../../layout/header/mobile/header.twig" %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="category_grid">
                    <div class="category_grid_row">
                        {% for i in 0..7 %}
                            <div class="category_grid_col">
                                <a href="#" class="category_grid_item">
                                    <img src="http://placehold.jp/230x195.png" alt=""/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}


{% endblock %}