{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Supplier category all - {{ slogan }}{% endblock %}
{% block page %}

    <div id="" class="page_main">
        {% include "../../layout/header/mobile/header.twig" %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="block_container" id="block_supplier_category">
                    <div class="block_body">
                        <div class="supplier_category">
                            <div class="supplier_category_row">
                                {% for i in 0..11 %}
                                    <div class="supplier_category_col">
                                        <a href="#" title="Truyện tranh,phim hoạt hình" class="supplier_category_item">
                                            <img src="http://placehold.jp/100x100.png" class="supplier_category_thumb" alt="Truyện tranh,phim hoạt hình"/>
                                            <span class="supplier_category_name">Truyện tranh,phim hoạt hình</span>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#{% include "../layout/footer/footer.twig" %}#}
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}


{% endblock %}