{% extends "../../layout/mobile/layout.twig" %}
{% block pageTitle %} Supplier product list - {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_supplier_product" class="page_main">
        {% include "../../layout/header/mobile/header_fourthy.twig" with {title: 'Truyện tranh'} %}
        <div class="main_body">
            <div class="m-container-custom main_container">
                <div class="product_list">
                    <div class="product_list_filter">
                        <a href="#modal_sort" rel="modal:open" class="product_list_filter_item">
                            <i class="fas fa-sort"></i> Sắp xếp
                        </a>
                        <a href="filter.html" class="product_list_filter_item">
                            <i class="fas fa-filter"></i> Bộ lọc
                        </a>
                    </div>
                    <div class="row product_row">
                        {% for i in 0..9 %}
                        <div class="product_col">
                            <div class="product_item">
                                <a href="#" class="product_thumb">
                                    <img src="http://placehold.jp/320x320.png" alt=""/>
                                </a>
                                <div class="product_info">
                                    <div class="product_info_top">
                                        <div class="product_info_top--left">
                                            <span class="product_info_discount">Giảm 50%</span>
                                        </div>
                                        <div class="product_info_top--right">
                                            <span class="product_source_web">
                                                <img src="../../../images/icon-amazon.svg" alt="" width=""/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="product_name">
                                    <a href="#" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
                                </h3>
                                <div class="product_info_row">
                                    <div class="product_stars">
                                        <span class="product_stars_icon " style="width: 60%"></span>
                                    </div>
                                </div>
                                <div class="product_info_row">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="product_price">
                                            <span class="product_price_japan">60,000,000¥</span> <br/>
                                            <span class="product_price_vn">12,720,000,000đ</span>
                                        </div>
                                        <a href="#" class="button_primary button_micro product_button product_add_cart"><i class="fas fa-shopping-cart"></i> Thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../../layout/mobile/navigation_bottom.twig" %}
    {% include "../../layout/mobile/menu_mobile_left.twig" %}
    {% include "../../layout/mobile/menu_mobile_right.twig" %}
    {% include "../../components/mobile/modal_sort.twig" %}
{% endblock %}