{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_addon">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}
            {% include '../components/banner-home.twig' %}
            <div class="container-custom">
                {% include "../components/block_addon.twig" %}
                <div class="block_container">
                    <div class="block_header justify-content-center">
                        <h3 class="block_title">Danh sách website sử dụng “Add to iChiba”</h3>
                    </div>
                    <div class="block_body">
                        <div class="website_section_container">
                            <div class="website_section_header">
                                <ul class="tab_nav_lst tab_nav_lst--primary">
                                    <li class="tab_item active"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Auction" class="active"><span>General products & Department stores</span></a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Shopping">Yahoo! Shopping</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Amazon">Amazon</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">Rakuten</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">iChiba Place</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="#" title="">Chi tiết</a></li>
                                </ul>
                            </div>
                            <div class="website_section_body">
                                <div class="store_items">
                                    {% for i in 0..9 %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="">
                                                    <img src="http://placehold.jp/200x100.png" alt="Yahoo! Shopping">
                                                </a>
                                                <h5 class="store_name">Yahoo! Shopping</h5>
                                                <h6 class="store_type">Hypermarket</h6>
                                                <hr>
                                                <p class="store_des">An online shopping mall by Yahoo! Japan</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="block_pagination">
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include '../components/block_addon_guide.twig' %}
                {% include '../components/block_questions.twig' %}
                <div class="row">
                    <div class="col-12 position-relative">
                        <img src="images/banner/banner-add-to-ichiba.png" alt="add to ichiba" />
                        <a href="#" class="btn_add_to_ichiba"><i class="icon-icon-ichiba-addon"></i>Install add to ichiba</a>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}


