{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_amazon_list">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}
            <div class="container-custom">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/menu_category.twig' %}
                        {% include '../components/sidebar_filter.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="block_container">
                            {% include '../components/filter_result.twig' %}
                            <div class="block_body">
                                <div class="row product_row">
                                    {% for i in 0..7 %}
                                        <div class="col-md-3 product_col">
                                            <div class="product_item">
                                                <div class="product_body">
                                                    <a href="#" class="product_thumb">
                                                        <img src="images/product-item.jpg" alt="ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ..." />
                                                        <span class="product_sale_percent">50%</span>
                                                    </a>
                                                    <div class="product_info">
                                                        <div class="product_info_row">
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="product_stars">
                                                                    <span class="product_stars_icon" style="width: 60%"></span>
                                                                </div>
                                                                <a href="#" class="product_comment">142 bình luận</a>
                                                                <img src="images/icon-prime.png" alt=""/>
                                                            </div>
                                                        </div>
                                                        <h3 class="product_name">
                                                            <a href="" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
                                                        </h3>
                                                        <div class="product_info_row">
                                                            <span>Mã SP: 1495630609</span> <br/>
                                                            <span>Vận chuyển nội địa: <strong class="color_red ">Free</strong></span>
                                                        </div>
                                                        <div class="product_info_row">
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="product_price">
                                                                    <strong class="">233,982 Vnd</strong><br/>
                                                                    <span class="product_price_japan">1080.0 円</span>
                                                                </div>
                                                                <div class="">
                                                                    <a href=""><img src="images/icons/icon-auctions.svg" alt=""/></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mt-0 mb-2">* Chưa gồm phí phát sinh</p>
                                                        <div class="product_showmore">
                                                            <div class="product_info_row product_assess">
                                                                <i class="far fa-grin"></i>
                                                                <div class="product_assess_title"> Đánh giá người bán: </div>
                                                                <span class="product_assess_icon">100 <i class="far fa-sun"></i></span>
                                                                <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
                                                                <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
                                                            </div>
                                                            <div class="product_info_row product_status">
                                                                <i class="fas fa-medal"></i>
                                                                <div class="product_status_title"> Tình trạng sản phẩm:</div>
                                                                <div class="product_status_item"> New, unused</div>
                                                            </div>
                                                            <div class="product_info_row product_return">
                                                                <i class="fas fa-undo-alt"></i>
                                                                <div class="product_return_title">Trả hàng: <span> Không trả lại</span></div>
                                                            </div>
                                                            <div class="product_info_row product_grp_btn">
                                                                <a href="#" class="button_common btn_product_heart">
                                                                    <span><i class="fas fa-heart"></i> Yêu Thích</span>
                                                                </a>
                                                                <a href="#" class="button_common btn_product_share">
                                                                    <span><i class="fab fa-facebook-f"></i> Chia sẻ</span>
                                                                </a>
                                                            </div>
                                                            <div class="product_note">
                                                                *Sản phẩm sẽ được giao đến địa chỉ quý khách vào
                                                                khoảng <strong class=""><time datetime="09/11/2018">09/11/2018</time></strong> đến <strong class=""><time datetime="09/11/2018">09/11/2018</time></strong> nếu quý
                                                                khách thanh toán trong hôm nay.
                                                            </div>
                                                            <div class="product_seller">
                                                                <i class="fas fa-store"></i> Ngừoi bán: <a href="#" title="Yahoo! Auction">Yahoo! Auction</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% include '../components/block_product_related.twig' %}
                        {% include '../components/block_recent_view.twig' %}
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

