{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_ichiba_news">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <div class="row">
                    <aside id="sidebar">
                        <div class="menu_categories">
                            <div class="menu_categories_header">
                                <h4 class="menu_categories_title"><i class="fas fa-bars"></i> Danh mục tin tức</h4>
                            </div>
                            <ul class="categories_lst">
                                {% for values in 0..5 %}
                                    <li class="categories_item">
                                        <div class="categories_item_title">
                                            <a href="#" title="Danh mục tin tức">Danh mục tin tức</a>
                                        </div>
                                    </li>
                                {% endfor%}
                            </ul>
                        </div>
                        <div class="mb-2">
                            <img src="http://placehold.jp/500x500.png" alt=""/>
                        </div>
                        <div class="block_container">
                            <div class="block_header">
                                <h3 class="block_title"><a href="#" title="">Bài viết phổ biến</a></h3>
                            </div>
                            <div class="block_body">
                                <div class="box_news_group">
                                    <ul class="box_news_list">
                                        {% for i in 0..4 %}
                                            <li class="box_news_row">
                                                <a href="#" title="" class="box_news_thumb">
                                                    <img src="http://placehold.jp/100x80.png" alt=""/>
                                                </a>
                                                <div class="box_news_content">
                                                    <p class="box_news_des">
                                                        <a href="#" title="">Inadequate careers advice is exacerbating
                                                            skills gap report finds 7 Affordable Items
                                                            For Your Pinterest Worthy Hari Raya ...</a>
                                                    </p>
                                                    <div class="box_news_date">
                                                        <time datetime="">04/02/2019</time>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="main_colright">
                        <div class="block_container">
                            <div class="block_body">
                                <div class="article_container">
                                    <div class="article_header">
                                        <h1 class="article_title">Tầm nhìn và sứ mệnh</h1>
                                        <div class="article_header_meta">
                                            <div class="article_publised_date"><i class="fas fa-calendar-alt"></i> 2017-05-06 11:46:23</div>
                                            <div class="article_seen"><i class="fas fa-eye"></i> 2017 lượt xem</div>
                                        </div>
                                        <div class="article_header_summary">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                        </div>
                                    </div>
                                    <article class="article_body clearfix">
                                        <div class="article_summary">
                                            <h5>Tóm tắt nội dung</h5>
                                            <ul>
                                                <li>
                                                    <a href="#">1. Mục lục 1</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">1.1. Mục lục 1.1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">1.1. Mục lục 1.2</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">1.2.1 Mục lục 1.3</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">1. Mục lục 1</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">1.1. Mục lục 1.1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">1.1. Mục lục 1.2</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">1.2.1 Mục lục 1.3</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">1. Mục lục 1</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">1.1. Mục lục 1.1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">1.1. Mục lục 1.2</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">1.2.1 Mục lục 1.3</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                        <img src="https://via.placeholder.com/600x300/" alt="" width=""/>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

                                        <div class="article_footer">
                                            <div class="row">
                                                <div class="col-6 article_share">
                                                    <strong>Chia sẻ bài viết:</strong>
                                                    <div class="article_share_icon">
                                                        <a href="#"><img src="/images/icon-twitter.png" alt="" width="20"/></a>
                                                        <a href="#"><img src="/images/icon-gg.png" alt="" width="20"/></a>
                                                        <a href="#"><img src="/images/icon-fb.png" alt="" width="20"/></a>
                                                        <a href="#"><img src="/images/icon-pinter.png" alt="" width="20"/></a>
                                                    </div>
                                                </div>
                                                <div class="col-6 article_author">
                                                    <strong>Tác giả:</strong> iChiba - Đấu giá & Mua hộ hàng Nhật
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

