{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_ichiba_news">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <div class="row">
                    <aside id="sidebar">
                        <div class="menu_categories">
                            <div class="menu_categories_header">
                                <h4 class="menu_categories_title"><i class="fas fa-bars"></i> Danh mục tin tức</h4>
                            </div>
                            <ul class="categories_lst">
                                {% for values in 0..5 %}
                                    <li class="categories_item">
                                        <div class="categories_item_title">
                                            <a href="#" title="Danh mục tin tức">Danh mục tin tức</a>
                                        </div>
                                    </li>
                                {% endfor%}
                            </ul>
                        </div>
                        <div class="mb-2">
                            <img src="http://placehold.jp/500x500.png" alt=""/>
                        </div>
                        <div class="block_container">
                            <div class="block_header">
                                <h3 class="block_title"><a href="#" title="">Bài viết phổ biến</a></h3>
                            </div>
                            <div class="block_body">
                                <div class="box_news_group">
                                    <ul class="box_news_list">
                                        {% for i in 0..4 %}
                                            <li class="box_news_row">
                                                <a href="#" title="" class="box_news_thumb">
                                                    <img src="http://placehold.jp/100x80.png" alt=""/>
                                                </a>
                                                <div class="box_news_content">
                                                    <p class="box_news_des">
                                                        <a href="#" title="">Inadequate careers advice is exacerbating
                                                            skills gap report finds 7 Affordable Items
                                                            For Your Pinterest Worthy Hari Raya ...</a>
                                                    </p>
                                                    <div class="box_news_date">
                                                        <time datetime="">04/02/2019</time>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="main_colright">
                        {% include '../components/top_news.twig' %}
                        {% for i in 0..3 %}
                        <div class="block_container">
                            <div class="block_header">
                                <h3 class="block_title"><a href="#" title="">Tin khuyến mãi</a></h3>
                            </div>
                            <div class="block_body">
                                <div class="box_news_group">
                                    <div class="box_news_highlight">
                                        <a href="#" title="" class="box_news_thumb">
                                            <img src="http://placehold.jp/490x325.png" alt=""/>
                                        </a>
                                        <div class="box_news_content">
                                            <p class="box_news_des font_size_16">
                                                <a href="#" title="">Inadequate careers advice is exacerbating
                                                    skills gap report finds 7 Affordable Items
                                                    For Your Pinterest Worthy Hari Raya ...</a>
                                            </p>
                                            <div class="box_news_date">
                                                <time datetime="">Thứ 5 - 29 Thánh Sáu, 2019</time>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="box_news_list">
                                        {% for i in 0..4 %}
                                        <li class="box_news_row">
                                            <a href="#" title="" class="box_news_thumb">
                                                <img src="http://placehold.jp/100x80.png" alt=""/>
                                            </a>
                                            <div class="box_news_content">
                                                <p class="box_news_des">
                                                    <a href="#" title="">Inadequate careers advice is exacerbating
                                                        skills gap report finds 7 Affordable Items
                                                        For Your Pinterest Worthy Hari Raya ...</a>
                                                </p>
                                                <div class="box_news_date">
                                                    <time datetime="">Thứ 5 - 29 Thánh Sáu, 2019</time>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

