{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_ichiba_news">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <div class="row">
                    <aside id="sidebar">
                        <div class="menu_categories">
                            <div class="menu_categories_header">
                                <h4 class="menu_categories_title"><i class="fas fa-bars"></i> Danh mục tin tức</h4>
                            </div>
                            <ul class="categories_lst">
                                {% for values in 0..5 %}
                                    <li class="categories_item">
                                        <div class="categories_item_title">
                                            <a href="#" title="Danh mục tin tức">Danh mục tin tức</a>
                                        </div>
                                    </li>
                                {% endfor%}
                            </ul>
                        </div>
                        <div class="mb-2">
                            <img src="http://placehold.jp/500x500.png" alt=""/>
                        </div>
                        <div class="block_container">
                            <div class="block_header">
                                <h3 class="block_title"><a href="#" title="">Bài viết phổ biến</a></h3>
                            </div>
                            <div class="block_body">
                                <div class="box_news_group">
                                    <ul class="box_news_list">
                                        {% for i in 0..4 %}
                                            <li class="box_news_row">
                                                <a href="#" title="" class="box_news_thumb">
                                                    <img src="http://placehold.jp/100x80.png" alt=""/>
                                                </a>
                                                <div class="box_news_content">
                                                    <p class="box_news_des">
                                                        <a href="#" title="">Inadequate careers advice is exacerbating
                                                            skills gap report finds 7 Affordable Items
                                                            For Your Pinterest Worthy Hari Raya ...</a>
                                                    </p>
                                                    <div class="box_news_date">
                                                        <time datetime="">04/02/2019</time>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="main_colright">
                        <div class="block_container">
                            <div class="block_header">
                                <h3 class="block_title"><a href="#" title="">Bài viết phổ biến</a></h3>
                            </div>
                            <div class="block_body">
                                <div class="list_news">
                                    <div class="row list_news_row">
                                        {% for i in 0..8 %}
                                            <div class="col-4 list_news_col">
                                                <a href="#" class="list_news_thumb">
                                                    <img src="http://placehold.jp/280x190.png" alt=""/>
                                                </a>
                                                <div class="list_news_content">
                                                    <h3 class="list_news_title">
                                                        <a href="#" title="">Inadequate careers advice is exacerbating skills gap report finds</a>
                                                    </h3>
                                                    <div class="list_news_date">
                                                        <time>Thứ 5 - 29 Thánh Sáu, 2019</time>
                                                    </div>
                                                    <div class="list_news_des">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    {% include '../components/pagination.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

