{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_ichiba_place">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}
            <div class="container-custom">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/menu_category.twig' %}
                        <div class="sidebar_banner">
                            <a href=""><img src="http://placehold.jp/285x420.png" alt="" /></a>
                        </div>
                    </aside>
                    <div class="main_colright">
                        {% include "../components/banner-slide.twig" %}
                        {% include "../components/block_rakuten_caroulsel.twig" %}
                        {% include '../components/block_best_sale.twig' %}
                        {% include '../components/block_product_clear.twig' %}

                        {% include '../components/block_tool_estimate.twig' %}
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

