{% extends "../layout/layout.twig" %}
{% block pageTitle %} {{ slogan }}{% endblock %}
{% block page %}

    <div id="page_home">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../components/banner-home.twig' %}
            <div class="container-custom">
                {% include "../components/block_services.twig" %}
                {% include "../components/block_suggest_for_you.twig" %}
                {% include "../components/block_store.twig" %}
                {% include "../components/process-order.twig" %}
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>

{% endblock %}