{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_website">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}
            {% include '../components/banner-home.twig' %}
            <div class="container-custom">
                <div class="block_container" id="block_website">
                    <div class="block_header justify-content-center">
                        <h3 class="block_title">Danh sách website mua hàng Nhật Bản</h3>
                    </div>
                    <div class="block_body">
                        <div class="website_section_container">
                            <div class="website_section_header">
                                <h2 class="website_section_title">
                                    <span>General products & Department stores</span>
                                </h2>
                            </div>
                            <div class="website_section_body">
                                <div class="store_items">
                                    {% for i in 0..3 %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="">
                                                    <img src="http://placehold.jp/200x100.png" alt="Yahoo! Shopping">
                                                </a>
                                                <h5 class="store_name">Yahoo! Shopping</h5>
                                                <h6 class="store_type">Hypermarket</h6>
                                                <hr>
                                                <p class="store_des">An online shopping mall by Yahoo! Japan</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="website_section_container">
                            <div class="website_section_header">
                                <h2 class="website_section_title">
                                    <span>General products & Department stores</span>
                                </h2>
                            </div>
                            <div class="website_section_body">
                                <div class="store_items">
                                    {% for i in 0..9 %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="">
                                                    <img src="http://placehold.jp/200x100.png" alt="Yahoo! Shopping">
                                                </a>
                                                <h5 class="store_name">Yahoo! Shopping</h5>
                                                <h6 class="store_type">Hypermarket</h6>
                                                <hr>
                                                <p class="store_des">An online shopping mall by Yahoo! Japan</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="website_section_container">
                            <div class="website_section_header">
                                <h2 class="website_section_title">
                                    <span>General products & Department stores</span>
                                </h2>
                            </div>
                            <div class="website_section_body">
                                <div class="store_items">
                                    {% for i in 0..5 %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="">
                                                    <img src="http://placehold.jp/200x100.png" alt="Yahoo! Shopping">
                                                </a>
                                                <h5 class="store_name">Yahoo! Shopping</h5>
                                                <h6 class="store_type">Hypermarket</h6>
                                                <hr>
                                                <p class="store_des">An online shopping mall by Yahoo! Japan</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="website_section_container">
                            <div class="website_section_header">
                                <h2 class="website_section_title">
                                    <span>General products & Department stores</span>
                                </h2>
                            </div>
                            <div class="website_section_body">
                                <div class="store_items">
                                    {% for i in 0..14 %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="">
                                                    <img src="http://placehold.jp/200x100.png" alt="Yahoo! Shopping">
                                                </a>
                                                <h5 class="store_name">Yahoo! Shopping</h5>
                                                <h6 class="store_type">Hypermarket</h6>
                                                <hr>
                                                <p class="store_des">An online shopping mall by Yahoo! Japan</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="website_section_container">
                            <div class="website_section_header">
                                <h2 class="website_section_title">
                                    <span>General products & Department stores</span>
                                </h2>
                            </div>
                            <div class="website_section_body">
                                <div class="store_items">
                                    {% for i in 0..9 %}
                                        <div class="store_item">
                                            <div class="store_item_inner">
                                                <a href="#" class="store_thumb" title="">
                                                    <img src="http://placehold.jp/200x100.png" alt="Yahoo! Shopping">
                                                </a>
                                                <h5 class="store_name">Yahoo! Shopping</h5>
                                                <h6 class="store_type">Hypermarket</h6>
                                                <hr>
                                                <p class="store_des">An online shopping mall by Yahoo! Japan</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 position-relative">
                        <img src="images/banner/banner-add-to-ichiba.png" alt="add to ichiba" />
                        <a href="#" class="btn_add_to_ichiba"><i class="icon-icon-ichiba-addon"></i>Install add to ichiba</a>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}


