{% extends "../layout/layout.twig" %}
{% block pageTitle %} Đăng nhập - {{ slogan }}{% endblock %}
{% block page %}
    <div class="" id="page_lisu">
        <div class="container page_lisu_container">

            <div class="page_lisu_body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="page_lisu_col page_login--colleft">
                            <img src="images/bg-login.png" alt=""/>
                            <div class="page_lisu_introduce">
                                <h3>Đăng Nhập</h3>
                                <p>
                                    Đăng nhập để theo dõi đơn hàng, lưu danh sách sản phẩm yêu thích, nhận được tin tức
                                    khuyến mãi sớm nhất và những ưu đãi dành riêng cho tài khoản của bạn!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="page_lisu_col page_login--colright">
                            <div class="page_lisu_wrap_form">
                                <form action="" class="page_lisu_frm">
                                    <div class="lisu_frm_header">
                                        <div class="page_lisu_logo">
                                            <a href="#" title="{{ slogan }}"><img src="images/logo-2.svg" alt="{{ slogan }}"/></a>
                                        </div>
                                        <p class="lisunotice">
                                            *Sai tên đăng nhập hoặc mật khẩu
                                        </p>
                                    </div>
                                    <div class="lisu_frm_body">
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_user" class="lisu_frm_label">TÊN ĐĂNG NHẬP</label>
                                            <input type="text" class="input_common lisu_frm_input" id="input_user" />
                                        </div>
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_password" class="lisu_frm_label">MẬT KHẨU</label>
                                            <input type="password" class="input_common lisu_frm_input" id="input_password" />
                                        </div>
                                        <div class="lisu_frm_row d-flex justify-content-between align-items-center">
                                         <span class="lisu_remember">
                                             <input type="checkbox" id="input_remember"/>
                                             <label for="input_remember">Ghi nhớ đăng nhập</label>
                                         </span>
                                            <a href="#" class="lisu_forgot">Quên mật khẩu?</a>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <div class="lisu_frm_grpbtn">
                                                <button class="button_secondary btn_login"><span>Đăng nhập</span></button>
                                                <button class="button_secondary btn_signup"><span>Đăng ký</span></button>
                                            </div>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <div class="lisu_frm_line"><span>Hoặc đăng nhập bằng</span></div>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <div class="lisu_with_socials">
                                                <a href="#" class="lisu_with_fb"><i class="fab fa-facebook-f"></i>Facebook</a>
                                                <a href="#" class="lisu_with_gg"><i class="fab fa-google-plus-g"></i>Google</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

