{% extends "../layout/layout.twig" %}
{% block pageTitle %} Thanh toán - {{ slogan }}{% endblock %}

{% block page %}
    <div id="page_payment">
        <div class="page_payment_header">
            <div class="container-custom">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 id="logo">
                        <a href="#" title="Ichiba - Buy from japan for you"><img src="images/logo-2.svg" alt="Ichiba - Buy from japan for you"></a>
                        <strong>Ichiba - Buy from japan for you</strong>
                    </h1>
                    <div class="payment_support">
                        <p>Quý khách cần hỗ trợ? Gọi ngay</p>
                        <div class="payment_hotline">
                            <span><i class="fas fa-phone"></i></span>
                            <strong class="">1900 988 950</strong>
                            <br/>
                            8-22h, Từ thứ 2 đến Chủ Nhật
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_payment_body">
            <div class="container-custom">
                <div class="block_container">
                    <div class="block_header">
                        <h3 class="block_title">
                            Địa chỉ giao hàng
                            {#<a href="#" title="Quay lại giỏ hàng" class="d-flex align-items-center"><i class="fas fa-angle-left mr-1"></i> Quay lại giỏ hàng</a>#}
                        </h3>
                    </div>

                    <div class="block_body">
                        <div class="paymen_container">
                            <div class="payment_content_left">
                                {% include '../components/payment_section_delivery.twig' %}
                                {% include '../components/payment_section_type.twig' %}
                            </div>
                            <div class="payment_content_right">
                                {% include '../components/payment_block.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_payment_footer">
            <div class="page_payment_footer_link">
                <a href="#" class="">Điều khoản sử dụng</a>
                <span>|</span>
                <a href="#" class="">Chính sách đổi trả</a>
                <span>|</span>
                <a href="#" class="">Chính sách bảo mật</a>
            </div>
            {% include '../layout/footer/copyright.twig' %}
        </div>
    </div>
{% endblock %}

