{% extends "../layout/layout.twig" %}

{% block page %}

    <div id="page_product_detail">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <section class="product_detail">
                    <div class="product_detail_col product_detail_col--left">
                        {% include '../components/product_gallery.twig' %}
                        {% include '../components/product_detail_share.twig' %}
                    </div>
                    <div class="product_detail_col product_detail_col--right">
                        <div class="product_detail_info">
                            <div class="product_detail_header">
                                <h1 class="product_detail_name">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除  docomo softbank 1円スタート 最低落札なし jetblack</h1>
                            </div>

                            <div class="product_detail_body">
                                <div class="prodct_source_meta">
                                    <div class="row">
                                        <div class="col-12 mb-3 d-flex align-items-center">
                                            <strong class="source_stars">
                                                <span style="width: 100%"></span>
                                            </strong>
                                            <a href="#" class="color_link"> 294 customer reviews</a>
                                            <span class="d-inline-block ml-2 mr-2"> | </span>
                                            <a href="#" class="color_link"> 34 answered questions</a>
                                        </div>
                                        <div class="col-12">
                                            <span class="product_source_ribbon">#1 Best seller</span> mục <a href="#" class="color_blue">Men’s Working Shoes</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row product_source_price">
                                    <div class="source_price_col source_price_col--left col-5">
                                        <table class="table">
                                            <tr>
                                                <td>Giá:</td>
                                                <td align="right">
                                                    <div class="font_size_16 color_orange ">20.000.000 đ</div>
                                                    <div class="font_size_14 color_orange">2160.0 円</div>
                                                    <del class="font_size_14 text-truncate">200.000</del>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tiết kiệm:</td>
                                                <td align="right"><span class="color_orange">5.000.000đ</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="source_price_col source_price_col--right col-7">
                                        {% include '../components/product_detail_estimate_time.twig' %}
                                        <div class="source_price_buttons">
                                            <a href="#" class="button_secondary_gray button_micro">
                                                <i class="far fa-chart-bar"></i>  Xem biến động giá
                                            </a>
                                            <a href="#" class="button_secondary_gray button_micro">
                                                <i class="fas fa-calculator"></i>  Ước tính giá cuối
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% include '../components/product_detail_short_des.twig' %}

                                <div class="product_source_filter mb-3">
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <div class="source_filter_item">
                                                <label for="" class="">Size:</label>
                                                <div class="select_wrap">
                                                    <select name="" id="" class="select_common">
                                                        <option value="">Size M</option>
                                                        <option value="">Size L</option>
                                                        <option value="">Size XL</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="source_filter_item">
                                                <label for="" class="">Offer type:</label>
                                                <div class="select_wrap">
                                                    <select name="" id="" class="select_common">
                                                        <option value="">Size M</option>
                                                        <option value="">Size L</option>
                                                        <option value="">Size XL</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div class="source_filter_item flex-column align-items-start">
                                                <div class="mb-2">
                                                    <label for="" class="">Color:</label><span>Blue</span>
                                                </div>
                                                <div class="source_filter_color">
                                                    {% for i in 0..4 %}
                                                        <a href="#" title="">
                                                            <img src="http://placehold.jp/70x70.png" alt=""/>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        Số lượng :
                                        <div class="count_box mr-5 ml-2">
                                            <a href="javascript:void(0)" class="count_increment">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                            <input type="number" class="count_input" value="1" />
                                            <a href="" class="count_decrement">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <a href="" class="mr-5">Còn <strong class="">10.000</strong> sản phẩm </a>
                                        {#<a href="javascript:void(0)" class="button_secondary"><span><i class="fas fa-balance-scale"></i> Thêm vào so sánh</span></a>#}
                                    </div>
                                </div>
                                <div class="product_source_grp_btn">
                                    <a href="javascript:void(0)" class="button_primary button_large">
                                        <i class="icon-ichiba-add-cart"></i> Mua ngay
                                    </a>
                                    <a href="javascript:void(0)" class="button_secondary button_large">
                                        <i class="icon-ichiba-add-cart"></i> Thêm giỏ hàng
                                    </a>
                                </div>
                                {% include "../components/product_source_links.twig" %}
                            </div>
                        </div>
                        {% include '../components/product_detail_sidebar.twig' %}
                    </div>
                </section>

                {% include '../components/product_detail_tab.twig' %}
                {% include '../components/product_detail_source_seller.twig' %}
                <div class="block_container block_product_common" id="block_recent_view">
                    <div class="block_header">
                        <h3 class="block_title">Sản phẩm vừa xem<a href="#">Xem tiếp <i class="fas fa-chevron-right"></i></a></h3>
                    </div>
                    <div class="block_body">
                        <div class="block_product_list">
                            <div class="row product_row product_col_5">
                                {% for i in 0..4 %}
                                    <div class="product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="block_pagination">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block_container block_product_common" id="block_product_related">
                    <div class="block_header">
                        <h3 class="block_title">Sản phẩm liên quan<a href="#">Xem tiếp <i class="fas fa-chevron-right"></i></a></h3>
                    </div>
                    <div class="block_body">
                        <div class="block_product_list">
                            <div class="row product_row product_col_5">
                                {% for i in 0..4 %}
                                    <div class="product_col">
                                        {% include "../components/product_item.twig" %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="block_pagination">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

