{% extends "../layout/layout.twig" %}
{% block pageTitle %} Chi tiết sản phẩm - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_product_detail">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <section class="product_detail">
                    <div class="product_detail_col product_detail_col--left">
                        {% include '../components/product_gallery.twig' %}
                        {% include '../components/product_detail_share.twig' %}
                    </div>
                    <div class="product_detail_col product_detail_col--right">
                        <div class="product_detail_info">
                            <div class="product_detail_header">
                                <h1 class="product_detail_name">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除  docomo softbank 1円スタート 最低落札なし jetblack</h1>
                            </div>
                            <div class="product_detail_body">
                                <div class="row product_detail_row produc_detail_auction">
                                    <div class="col-4">
                                        <div class="product_detail_auction--bg">
                                            <h5>Số người đấu giá</h5>
                                            <strong class="color_orange">0</strong>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="product_detail_auction--bg">
                                            <h5>Thời gian còn lại</h5>
                                            <p class="color_orange">3d - 14h 59’ 59s</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-flex flex-column justify-content-between">
                                            <a href="#" class="button_secondary_gray mb-3"><i class="far fa-clock"></i> Lịch sử đấu giá</a>
                                            <a href="#" class="button_secondary_gray"><i class="fas fa-calculator"></i> Ước tính giá cuối</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_detail_row">
                                    <hr/>
                                </div>
                                <div class="product_detail_row">
                                    {% include '../components/product_detail_price.twig' %}
                                </div>
                                <div class="product_detail_row">
                                    {% include '../components/product_detail_estimate_time.twig' %}
                                </div>

                                <div class="product_detail_row">
                                    <div class="product_auction_btns">
                                        <a href="#" class="button_primary button_large"><i class="icon-ichiba-auction"></i> Đấu giá ngay</a>
                                        <button class="button_secondary button_large disabled"><i class="icon-ichiba-icon-1"></i> Mua ngay</button>
                                        <a href="#" class="button_secondary button_large ">Săn phút chót</a>
                                    </div>
                                </div>
                                <div class="product_detail_row">
                                    {% include "../components/product_source_links.twig" %}
                                </div>
                            </div>
                        </div>
                        {% include '../components/product_detail_sidebar_auction.twig' %}
                        {% include '../components/product_auction_tbl_info.twig' %}
                    </div>
                </section>
                <div class="tab_main product_detail_tab">
                    <ul class="tab_nav_lst tab_nav_lst--secondary">
                        <li class="tab_item active">
                            <a href="javascript:void(0)" title="Mô tả sản phẩm">Mô tả sản phẩm</a>
                        </li>
                    </ul>
                    <div class="tab_content">
                        <div class="tab_content_item active">
                            {% include '../components/product_detail_des.twig' %}
                        </div>
                    </div>
                </div>

                {% include '../components/block_product_freeship.twig' %}
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

