{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ưu đãi của tôi - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        {% include '../components/section_profile_coupons.twig' %}
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

