{% extends "../layout/layout.twig" %}
{% block pageTitle %} Đấu giá - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container">
                            <div class="section_header">
                                <h3 class="section_title">Đấu giá </h3>
                            </div>
                            <div class="section_body">
                                <div class="row section_top_filter">
                                    <div class="col-6">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Tìm kiếm</label>
                                            <input type="text" class="input_common input_common--medium" placeholder="Nhập tên sản phẩm..."/>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Sắp xếp</label>
                                            <div class="select_wrap medium">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Tất cả</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="tab_main" id="profile_auction_tab">
                                        <div class="tab_nav_lst tab_nav_lst--secondary font_size_16">
                                            <div class="tab_item active">
                                                <a href="#" title=""><i class="icon-ichiba-auction"></i> Đang đấu giá</a>
                                            </div>
                                            <div class="tab_item">
                                                <a href="#" title=""><i class="icon-ichiba-auction-success"></i> Đấu thành công</a>
                                            </div>
                                        </div>
                                        <div class="tab_content">
                                            <div class="tab_content_item">
                                                <div class="profile_auction_container">
                                                    <div class="profile_auction_header">
                                                        <h4 class="profile_auction_title">Đang đấu</h4>
                                                    </div>
                                                    <div class="profile_auction_body">
                                                        <div class="profile_auction_row">
                                                            <a href="#" class="profile_auction_thumb">
                                                                <img src="http://placehold.jp/250x250.png" alt=""/>
                                                            </a>
                                                            <div class="profile_auction_info">
                                                                <h3 class="profile_auction_name">
                                                                    <a href="#" title="">Completely maintained SONY MDS-JA22ES high-quality MD deck works well dedicated exclusive ...</a>
                                                                </h3>
                                                                <div class="profile_auction_meta">
                                                                    <span>ID Phiên đấu: IDl526435128</span>
                                                                    <span>Số lượng: 1</span>
                                                                    <span>Người đấu: 8</span>
                                                                    <span>Người đặt giá cao nhất: ichibavn1</span>
                                                                </div>
                                                                <div class="profile_auction_boxes">
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Thời gian còn lại</h5>
                                                                        <span class="color_orange">3h59’00’’</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Giá hiện tại</h5>
                                                                        <span class="color_orange fw_bold">60,000,000¥</span>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Giá bạn đặt</h5>
                                                                        <span class="color_orange fw_bold">60,000,000¥</span>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Người bán</h5>
                                                                        <span class="color_orange">aerisrecycle0801</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title color_green">Bạn là người trả giá cao nhất!</h5>
                                                                        <button disabled class="button_primary button_disable button_tiny"><i class="icon-ichiba-auction"></i> Đấu lại</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="profile_auction_row">
                                                            <a href="#" class="profile_auction_thumb">
                                                                <img src="http://placehold.jp/250x250.png" alt=""/>
                                                            </a>
                                                            <div class="profile_auction_info">
                                                                <h3 class="profile_auction_name">
                                                                    <a href="#" title="">Completely maintained SONY MDS-JA22ES high-quality MD deck works well dedicated exclusive ...</a>
                                                                </h3>
                                                                <div class="profile_auction_meta">
                                                                    <span>ID Phiên đấu: IDl526435128</span>
                                                                    <span>Số lượng: 1</span>
                                                                    <span>Người đấu: 8</span>
                                                                    <span>Người đặt giá cao nhất: ichibavn1</span>
                                                                </div>
                                                                <div class="profile_auction_boxes">
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Thời gian còn lại</h5>
                                                                        <span class="color_orange">3h59’00’’</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Giá hiện tại</h5>
                                                                        <span class="color_orange fw_bold">60,000,000¥</span>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Giá bạn đặt</h5>
                                                                        <span class="color_orange fw_bold">60,000,000¥</span>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Người bán</h5>
                                                                        <span class="color_orange">aerisrecycle0801</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title color_red">Giá cao hơn đã được cập nhật!</h5>
                                                                        <button class="button_primary button_tiny"><i class="icon-ichiba-auction"></i> Đấu lại</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-end">
                                                            {% include './../components/pagination.twig' %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="profile_auction_container">
                                                    <div class="profile_auction_header">
                                                        <h4 class="profile_auction_title">Đang săn phút trót</h4>
                                                    </div>
                                                    <div class="profile_auction_body">
                                                        {% for i in 0..1 %}
                                                            <div class="profile_auction_row">
                                                                <a href="#" class="profile_auction_thumb">
                                                                    <img src="http://placehold.jp/250x250.png" alt=""/>
                                                                </a>
                                                                <div class="profile_auction_info">
                                                                    <h3 class="profile_auction_name">
                                                                        <a href="#" title="">Completely maintained SONY MDS-JA22ES high-quality MD deck works well dedicated exclusive ...</a>
                                                                    </h3>
                                                                    <div class="profile_auction_meta">
                                                                        <span>ID Phiên đấu: IDl526435128</span>
                                                                        <span>Số lượng: 1</span>
                                                                        <span>Người đấu: 8</span>
                                                                        <span>Người đặt giá cao nhất: ichibavn1</span>
                                                                    </div>
                                                                    <div class="profile_auction_boxes">
                                                                        <div class="profile_auction_box">
                                                                            <h5 class="profile_auction_box_title">Thời gian còn lại</h5>
                                                                            <span class="color_orange">3h59’00’’</span>
                                                                        </div>
                                                                        <div class="profile_auction_box">
                                                                            <h5 class="profile_auction_box_title">Giá hiện tại</h5>
                                                                            <span class="color_orange fw_bold">60,000,000¥</span>
                                                                            <span class="color_orange">60,000,000¥</span>
                                                                        </div>
                                                                        <div class="profile_auction_box">
                                                                            <h5 class="profile_auction_box_title">Giá bạn đặt</h5>
                                                                            <span class="color_orange fw_bold">60,000,000¥</span>
                                                                            <span class="color_orange">60,000,000¥</span>
                                                                        </div>
                                                                        <div class="profile_auction_box">
                                                                            <h5 class="profile_auction_box_title">Người bán</h5>
                                                                            <span class="color_orange">aerisrecycle0801</span>
                                                                        </div>
                                                                        <div class="">
                                                                            <button class="button_primary button_full button_tiny mb-3"><i class="far fa-edit"></i> Thay đổi</button>
                                                                            <button disabled class="button_secondary_gray button_full button_tiny disabled"><i class="far fa-trash-alt"></i> Xoá</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        <div class="d-flex justify-content-end">
                                                            {% include './../components/pagination.twig' %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab_content_item active">
                                                <div class="profile_auction_container">
                                                    <div class="profile_auction_body">
                                                        {% for i in 0..3 %}
                                                        <div class="profile_auction_row">
                                                            <a href="#" class="profile_auction_thumb">
                                                                <img src="http://placehold.jp/250x250.png" alt=""/>
                                                            </a>
                                                            <div class="profile_auction_info">
                                                                <h3 class="profile_auction_name">
                                                                    <a href="#" title="">Completely maintained SONY MDS-JA22ES high-quality MD deck works well dedicated exclusive ...</a>
                                                                </h3>
                                                                <div class="profile_auction_meta">
                                                                    <span>ID Phiên đấu: IDl526435128</span>
                                                                    <span>Số lượng: 1</span>
                                                                    <span>Người đấu: 8</span>
                                                                    <span>Người đặt giá cao nhất: ichibavn1</span>
                                                                </div>
                                                                <div class="profile_auction_boxes">
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Giá đấu thắng</h5>
                                                                        <span class="color_orange">3h59’00’’</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Thuế tại Nhật</h5>
                                                                        <span class="color_orange fw_bold">60,000,000¥</span>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Vận chuyển tại Nhật</h5>
                                                                        <span class="color_orange fw_bold">60,000,000¥</span>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Phí mua hộ</h5>
                                                                        <span class="color_orange">aerisrecycle0801</span>
                                                                    </div>
                                                                    <div class="profile_auction_box">
                                                                        <h5 class="profile_auction_box_title">Vận chuyển quốc tế</h5>
                                                                        <span class="color_orange">60,000,000¥</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row py-2">
                                                                <div class="col-6 font_size_12">
                                                                    Ngày kết thúc: May 28, 22 at 51 minutes <br/>
                                                                    (Thanh toán muộn nhất sau 7 ngày)
                                                                </div>
                                                                <div class="col-6 text_right">
                                                                    <div class="font_size_18">Tổng cộng: <span class="color_orange fw_medium">12,720,000,000đ</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-end">
                                                                <button class="button_secondary_gray mr-2">Huỷ</button>
                                                                <button class="button_primary">Thanh toán</button>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        <div class="d-flex justify-content-end">
                                                            {% include './../components/pagination.twig' %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

