{% extends "../layout/layout.twig" %}
{% block pageTitle %} Khiếu nại đơn hàng - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container">
                            <div class="section_header">
                                <h3 class="section_title">Khiếu nại đơn hàng</h3>
                            </div>
                            <div class="section_body">
                                <div class="row section_top_filter">
                                    <div class="col-6">
                                        <div class="input_wrap input_wrap--row">
                                            <label class="">Tìm kiếm</label>
                                            <div class="input_search">
                                                <input type="text" class="input_common input_common--medium" placeholder="Nhập mã đơn hàng ..."/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Bộ lọc</label>
                                            <div class="select_wrap medium mr-3">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Nguồn hàng</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                            <div class="select_wrap medium">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Trạng thái</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for i in 0..2 %}
                                    <table class="table_common table_primary section_profile_table" id="">
                                        <thead>
                                        <tr>
                                            <th class="th_orange"><i class="icon-ichiba-auction"></i> Yahoo! Auction - Tên Shop Yahoo! Auction</th>
                                            <th class="text_center">Trạng thái khiếu nại</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <div class="">
                                                    Mã đơn hàng: <a href="#" class="color_orange">#ICB2911994</a> - 04:23 - 20/03/2019 - <span class="color_orange">Đang xử lý</span>
                                                </div>
                                            </td>
                                        </tr>
                                        {% for i in 0..2 %}
                                            <tr>
                                                <td class="">
                                                    <div class="tbl_product_info">
                                                        <div class="tbl_product_bot">
                                                            <a href="#" class="tbl_product_thumb">
                                                                <img src="http://placehold.jp/100x100.png" alt=""/>
                                                            </a>
                                                            <div class="tbl_product_content">
                                                                <h4 class="tbl_product_name">
                                                                    <a href="#" title="">PMD Clean | Smart Facial Cleansing Brush and Face Massager Device for Youthful ...</a>
                                                                </h4>
                                                                <div class="tbl_product_meta">
                                                                    <div class="tbl_product_meta_item">Mã sản phẩm: <a href="#" class="color_orange">#ICB2911994</a></div>
                                                                    <div class="tbl_product_meta_item">Số lượng: 01</div>
                                                                    <div class="tbl_product_meta_item">Giá: 10.000.000đ</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text_center">
                                                    <span class="color_orange">
                                                        Đang cập nhật
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            <tr>
                                                <td colspan="2">
                                                    <p class="font_size_12 m-0 mb-2">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                                    </p>
                                                    <div>
                                                        <img src="http://placehold.jp/70x70.png" alt=""/>
                                                        <img src="http://placehold.jp/70x70.png" alt=""/>
                                                        <img src="http://placehold.jp/70x70.png" alt=""/>
                                                        <img src="http://placehold.jp/70x70.png" alt=""/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

