{% extends "../layout/layout.twig" %}
{% block pageTitle %} Giỏ hàng Shopping - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container" id="section_profile_cart">
                            <div class="section_header">
                                <h3 class="section_title">Giỏ hàng Shopping</h3>
                            </div>
                            <div class="section_body">
                                <div class="row section_top_filter">
                                    <div class="col-6">
                                        <a href="#" class="button_primary button_large button_purchase_all">Đặt hàng tất cả</a>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Bộ lọc</label>
                                            <div class="select_wrap medium">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Tất cả</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for i in 0..2 %}
                                    <table class="table_common table_primary table_fixed" id="">
                                        <thead>
                                            <tr>
                                                <th class="th_orange" width="50%"><i class="icon-rakuten"></i> Yahoo! Auction - Tên Shop Yahoo! Auction</th>
                                                <th class="text_center">Đơn giá</th>
                                                <th class="text_center">Số lượng</th>
                                                <th class="text_center">Thành tiền</th>
                                                <th class="text_right">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in 0..2 %}
                                                <tr>
                                                    <td class="" width="50%">
                                                        <div class="tbl_product_info">
                                                            <div class="tbl_product_bot">
                                                                <a href="#" class="tbl_product_thumb">
                                                                    <img src="http://placehold.jp/100x100.png" alt=""/>
                                                                </a>
                                                                <div class="tbl_product_content">
                                                                    <h4 class="tbl_product_name">
                                                                        <a href="#" title="">PMD Clean | Smart Facial Cleansing Brush and Face Massager Device for Youthful ...</a>
                                                                    </h4>
                                                                    <div class="tbl_product_meta">
                                                                        <div class="tbl_product_meta_item">Mã sản phẩm: <a href="#" class="color_orange">#ICB2911994</a></div>
                                                                        <div class="tbl_product_meta_item">Số lượng: 01</div>
                                                                        <div class="tbl_product_meta_item">Giá: 10.000.000đ</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text_center color_orange">
                                                        <strong class="font_size_14">60,000,000¥</strong> <br/>
                                                        <span class="font_size_12">12,720,000,000đ</span>
                                                    </td>
                                                    <td class="text_center">
                                                        <div class="count_box">
                                                            <button type="button" id="" class="button_minus" data-field="quantity">
                                                                <i class="fas fa-minus"></i>
                                                            </button>
                                                            <input type="number" id="1" value="1" min="1" class="count_box_input" name="quantity" />
                                                            <button type="button" id="" class="button_plus" data-field="quantity">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="text_center color_orange">
                                                        <strong class="font_size_14">60,000,000¥</strong> <br/>
                                                        <span class="font_size_12">12,720,000,000đ</span>
                                                    </td>
                                                    <td class="text_right">
                                                        <a href="#" class="button_secondary_gray button_micro">
                                                            <i class="far fa-trash-alt m-0"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="no_border">
                                                    &nbsp;
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    <strong>Tổng giá sản phẩm</strong>
                                                </td>
                                                <td colspan="2" class="text_right color_orange">
                                                    <strong>12,720,000,000đ</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no_border">
                                                    &nbsp;
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    Phí mua hộ
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    12,720,000,000đ
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no_border">
                                                    &nbsp;
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    Phí chuyển hàng tại Nhật
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    12,720,000,000đ
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no_border">
                                                    &nbsp;
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    Phí chuyển hàng quốc tế
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    12,720,000,000đ
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no_border">
                                                    &nbsp;
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    Phí giao hàng tại Việt Nam
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    12,720,000,000đ
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="no_border">
                                                    &nbsp;
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    Cần thanh toán trước tối thiểu
                                                </td>
                                                <td colspan="2" class="text_right">
                                                    <span class="color_orange font_size_16 fw_medium">
                                                        12,720,000,000đ
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text_right">
                                                    <a href="#" class="button_secondary_gray button_large">Huỷ</a>
                                                    <a href="#" class="button_primary button_large button_purchase">Đặt hàng</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                                <div class="d-flex justify-content-end">
                                    {% include '../components/pagination.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

