{% extends "../layout/layout.twig" %}
{% block pageTitle %} Cập nhật tài khoản - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container" id="section_profile_setting">
                            <div class="section_header">
                                <h3 class="section_title">Cài đặt tài khoản</h3>
                            </div>
                            <div class="section_body">
                                <div class="profile_setting">
                                    <form class="profile_setting_form">
                                        <div class="fieldset_common">
                                            <label for="">Họ và tên</label>
                                            <div class="profile_setting_form_row">
                                                <input type="text" class="input_common input_common--large" id="" value="Nguyễn Quang Huy" placeholder="Nhập họ và tên của bạn ..."/>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="">Số Điện thoại</label>
                                            <div class="profile_setting_form_row">
                                                <input type="number" class="input_common input_common--large" id="" value="0778491700" placeholder="Nhập họ số điện thoại ..."/>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="">Email</label>
                                            <div class="profile_setting_form_row">
                                                <input type="text" class="input_common input_common--large" id="" value="huydzo88@gmail.com" placeholder="Nhập họ số email ..."/>
                                                <div class="profile_setting_subcribe_mail">
                                                    <input type="checkbox" id="subcribe_mail"/>
                                                    <label for="subcribe_mail">
                                                        Theo dõi iChiba để nhận được những thông báo giảm giá và phiếu mua hàng giảm giá đặc
                                                        biệt dành riêng cho bạn.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="">Ngày sinh</label>
                                            <div class="profile_setting_form_row">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <input type="date" class="input_common input_common--large" id="" value="29/08/1988" placeholder="Ngày sinh ..."/>
                                                    </div>
                                                    <div class="col-7">
                                                        * Cập nhật thông tin ngày sinh của bạn để nhận được những ưu đãi từ iChiba dành riêng cho bạn.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="">Giới tính</label>
                                            <div class="profile_setting_form_row profile_setting_gender">
                                                <label for="mael" class=""><input type="radio" name="gender" id="mael" checked/> Nam</label>
                                                <label for="femael" class=""><input type="radio" name="gender" id="femael"/>Nữ</label>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="">&nbsp;</label>
                                            <div class="profile_setting_form_row d-flex justify-content-center">
                                                <button class="button_primary button_large">Cập nhật</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="profile_address_lst">
                                        <h5 class="text_heading_5">Địa chỉ của bạn</h5>
                                        <div class="profile_address_item">
                                            <div class="profile_address_info">
                                                <div class="col-9">
                                                    <strong>Nguyễn Văn A</strong> <br/>
                                                    Địa chỉ: Số 8 Lê Quang Đạo, Phường Phú Đô, Quận Nam Từ Liêm, TP. Hà Nội, Việt Nam - 100000 <br/>
                                                    Điện thoại: 1900 988 950
                                                </div>
                                                <div class="col-3 d-flex justify-content-center flex-column">
                                                    <div class="color_green mb-2"><i class="fas fa-check"></i> Địa chỉ mặc định</div>
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="button_secondary button_micro profile_address_edit_btn">Sửa</a>
                                                        <a href="#" class="button_secondary button_secondary_gray button_micro">Xoá</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% for i in 0..1 %}
                                            <div class="profile_address_item">
                                                <div class="profile_address_info">
                                                    <div class="col-9">
                                                        <strong>Nguyễn Văn A</strong> <br/>
                                                        <span class="fw_medium">Địa chỉ:</span>  Số 8 Lê Quang Đạo, Phường Phú Đô, Quận Nam Từ Liêm, TP. Hà Nội, Việt Nam - 100000 <br/>
                                                        <span class="fw_medium">Điện thoại:</span>  1900 988 950
                                                    </div>
                                                    <div class="col-3 d-flex align-items-center">
                                                        <a href="#" class="button_secondary button_micro profile_address_edit_btn">Sửa</a>
                                                        <a href="#" class="button_secondary_gray button_micro">Xoá</a>
                                                        <a href="#" class="button_secondary button_micro">Mặc định</a>
                                                    </div>
                                                </div>
                                                <div class="profile_address_form">
                                                    <form class="profile_setting_form">
                                                        <div class="fieldset_common">
                                                            <label for="">Họ và tên*</label>
                                                            <div class="profile_setting_form_row">
                                                                <input type="text" class="input_common input_common--large" id="" value="Nguyễn Quang Huy" placeholder="Nhập họ và tên của bạn ..."/>
                                                            </div>
                                                        </div>
                                                        <div class="fieldset_common">
                                                            <label for="">Số Điện thoại*</label>
                                                            <div class="profile_setting_form_row">
                                                                <input type="number" class="input_common input_common--large" id="" value="0778491700" placeholder="Nhập họ số điện thoại ..."/>
                                                            </div>
                                                        </div>
                                                        <div class="fieldset_common">
                                                            <label for="">Địa chỉ*</label>
                                                            <div class="profile_setting_form_row">
                                                                <input type="text" class="input_common input_common--large mb-3" id="" value="" placeholder="Nhập địa chỉ chi tiết ..."/>
                                                                <div class="select_wrap large mb-3">
                                                                    <select name="" id="" class="select_common">
                                                                        <option value="">Quận/Huyện</option>
                                                                        <option value="">Quận/Huyện</option>
                                                                        <option value="">Quận/Huyện</option>
                                                                    </select>
                                                                </div>
                                                                <div class="select_wrap large mb-3">
                                                                    <select name="" id="" class="select_common">
                                                                        <option value="">Tỉnh/Thành Phố</option>
                                                                        <option value="">Tỉnh/Thành Phố</option>
                                                                        <option value="">Tỉnh/Thành Phố</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fieldset_common">
                                                            <label for="">&nbsp;</label>
                                                            <div class="profile_setting_form_row d-flex justify-content-center">
                                                                <button class="button_primary button_large">Xác Nhận </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <a href="#" class="profile_address_more"><i class="fas fa-plus"></i> Thêm Địa chỉ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

