{% extends "../layout/layout.twig" %}
{% block pageTitle %} Sản phẩm yêu thích - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container">
                            <div class="section_header">
                                <h3 class="section_title">Sản phẩm yêu thích</h3>
                            </div>
                            <div class="section_body">
                                <div class="row section_top_filter">
                                    <div class="col-6">
                                        <a href="#" class="button_primary button_small">Đặt hàng tất cả</a>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Bộ lọc</label>
                                            <div class="select_wrap medium">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Tất cả</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table_common table_primary table_fixed" id="">
                                    <thead>
                                    <tr>
                                        <th class="th_orange" width="50%"><i class="icon-ichiba-auction"></i> Yahoo! Auction</th>
                                        <th class="text_center">Giá đấu</th>
                                        <th class="text_center">Giá mua ngay</th>
                                        <th class="text_right">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in 0..2 %}
                                        <tr>
                                            <td class="" width="50%">
                                                <div class="tbl_product_info">
                                                    <div class="tbl_product_bot">
                                                        <a href="#" class="tbl_product_thumb">
                                                            <img src="http://placehold.jp/100x100.png" alt=""/>
                                                        </a>
                                                        <div class="tbl_product_content">
                                                            <h4 class="tbl_product_name">
                                                                <a href="#" title="">PMD Clean | Smart Facial Cleansing Brush and Face Massager Device for Youthful ...</a>
                                                            </h4>
                                                            <div class="tbl_product_meta">
                                                                <div class="tbl_product_meta_item">
                                                                    Thời gian còn lại: <span class="color_orange">3h59’00’’</span>
                                                                </div>
                                                                <div class="tbl_product_meta_item">
                                                                    Người bán: <a href="#" class="color_orange">Yahoo! Auction</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text_center color_orange">
                                                <span class="font_size_14">60,000,000¥</span> <br/>
                                                <span class="font_size_12">12,720,000,000đ</span>
                                            </td>
                                            <td class="text_center color_orange">
                                                <span class="font_size_14">60,000,000¥</span> <br/>
                                                <span class="font_size_12">12,720,000,000đ</span>
                                            </td>
                                            <td class="text_right">
                                                <a href="#" class="button_secondary_gray button_micro">
                                                    <i class="far fa-trash-alt m-0"></i>
                                                </a>
                                                <a href="#" class="button_primary button_micro">
                                                    <i class="icon-ichiba-plugin"></i> Thêm
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <table class="table_common table_primary" id="">
                                    <thead>
                                    <tr>
                                        <th class="th_orange"><i class="fab fa-amazon"></i> Amazon</th>
                                        <th class="text_center">Giá sản phẩm</th>
                                        <th class="text_right">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in 0..2 %}
                                        <tr>
                                            <td class="" width="50%">
                                                <div class="tbl_product_info">
                                                    <div class="tbl_product_bot">
                                                        <a href="#" class="tbl_product_thumb">
                                                            <img src="http://placehold.jp/100x100.png" alt=""/>
                                                        </a>

                                                        <div class="row tbl_product_content">
                                                            <div class="col-10">
                                                                <h4 class="tbl_product_name">
                                                                    <a href="#" title="">PMD Clean | Smart Facial Cleansing Brush and Face Massager Device for Youthful ...</a>
                                                                </h4>
                                                                <div class="tbl_product_meta">
                                                                    <div class="tbl_product_meta_item d-flex align-items-center">
                                                                        <strong class="source_stars">
                                                                            <span style="width: 100%"></span>
                                                                        </strong>
                                                                        <a href="#">20.000 Bình luận</a>
                                                                    </div>
                                                                    <div class="tbl_product_meta_item">
                                                                        Người bán: <a href="#" class="color_orange">Amazon</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <span class="button_primary button_micro white_space_nowarp">giảm 50%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text_center color_orange">
                                                <span class="font_size_14">60,000,000¥</span> <br/>
                                                <span class="font_size_12">12,720,000,000đ</span>
                                            </td>
                                            <td class="text_right">
                                                <a href="#" class="button_secondary_gray button_micro">
                                                    <i class="far fa-trash-alt m-0"></i>
                                                </a>
                                                <a href="#" class="button_primary button_micro">
                                                    <i class="icon-ichiba-plugin"></i> Thêm
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

