{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ví của tôi - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        {% include '../components/section_profile_wallet.twig' %}

                        <table class="table_common table_primary table_fixed">
                            <thead>
                                <tr>
                                    <th width="50%">Thông tin giao dịch</th>
                                    <th>Kiểu giao dịch</th>
                                    <th>Trạng thái</th>
                                    <th>Lượng giao dịch</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in 0..5 %}
                                <tr>
                                    <td>
                                        <div class="mb-1">
                                            Mã giao dịch: <span class="color_orange">#ICB2911994</span> - 04:23 - 20/03/2019
                                        </div>
                                        <div>Nạp tiền vào tài khoản</div>
                                    </td>
                                    <td>
                                        Nạp tiền
                                    </td>
                                    <td>
                                        <span class="color_blue">Đang xử lý</span>
                                    </td>
                                    <td>
                                        <span class="color_orange font_size_16 fw_medium">
                                            60,000,000đ
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mb-1">
                                            Mã giao dịch: <span class="color_orange">#ICB2911994</span> - 04:23 - 20/03/2019
                                        </div>
                                        <div>Thanh toán đơn hàng <span class="color_orange">#ICB2911994 </span></div>
                                    </td>
                                    <td>
                                        Nạp tiền
                                    </td>
                                    <td>
                                        <span class="color_green">Đã xác nhận</span>
                                    </td>
                                    <td>
                                        <span class="color_orange font_size_16 fw_medium">
                                            60,000,000đ
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            {% include '../components/pagination.twig' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

