{% extends "../layout/layout.twig" %}
{% block pageTitle %} Cửa hàng yêu thích - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container">
                            <div class="section_header">
                                <h3 class="section_title">Cửa hàng yêu thích </h3>
                            </div>
                            <div class="section_body">
                                <div class="row section_top_filter">
                                    <div class="col-6">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Tìm kiếm</label>
                                            <input type="text" class="input_common input_common--medium" placeholder="Nhập tên cửa hàng..."/>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Bộ lọc</label>
                                            <div class="select_wrap medium">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Tất cả</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row profile_favorite_lst">
                                    {% for i in 0..5 %}
                                        <div class="col-4 profile_favorite_col">
                                            <div class="profile_favorite_item">
                                                <a href="#" class="button_secondary button_micro profile_favorite_btn"><i class="far fa-trash-alt"></i></a>
                                                <div class="profile_favorite_header">
                                                    <a class="profile_favorite_thumb">
                                                        <img src="http://placehold.jp/56x56.png" alt=""/>
                                                    </a>
                                                    <div class="profile_favorite_info">
                                                        <h4 class="profile_favorite_name">
                                                            <a href="#" title="Peter Mckinnon">Peter Mckinnon</a>
                                                        </h4>
                                                        <div class="mb-1">
                                                            Độ uy tín: <span class="color_orange">100%</span>
                                                        </div>
                                                        <div class="profile_assess_icons">
                                                            <span class="product_assess_icon">100 <i class="far fa-sun color_orange"></i></span>
                                                            <span class="product_assess_icon">100 <i class="fas fa-cloud color_gray"></i> </span>
                                                            <span class="product_assess_icon">100 <i class="fas fa-umbrella color_blue"></i> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="profile_favorite_footer">
                                                    <p>Cửa hàng nhập khẩu giày Adidas chính hãng giá rẻ</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

