{% extends "../layout/layout.twig" %}
{% block pageTitle %} Đổi mật khẩu - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container" id="section_profile_change_password">
                            <div class="section_header">
                                <h3 class="section_title">Đổi mật khẩu</h3>
                            </div>
                            <div class="section_body">
                                <div class="profile_change_password">
                                    <form class="profile_setting_form">
                                        <div class="fieldset_common">
                                            <label for="input_name">Mật khẩu hiện tại*</label>
                                            <div class="profile_setting_form_row">
                                                <input type="password" class="input_common input_common--large" id="" value="" placeholder="Mật khẩu hiện tại"/>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="input_name">Mật khẩu mới*</label>
                                            <div class="profile_setting_form_row">
                                                <input type="password" class="input_common input_common--large" id="" value="" placeholder="Mật khẩu mới"/>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="input_name">Nhập lại mật khẩu mới*</label>
                                            <div class="profile_setting_form_row">
                                                <input type="password" class="input_common input_common--large" id="" value="" placeholder="Nhập lại mật khẩu mới"/>
                                            </div>
                                        </div>
                                        <div class="fieldset_common">
                                            <label for="input_name">&nbsp;</label>
                                            <div class="profile_setting_form_row d-flex justify-content-center">
                                                <button class="button_secondary_gray button_large button_cancel_password">Huỷ</button>
                                                <button class="button_primary button_large button_save_password">Xác nhận <i class="fas fa-angle-double-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

