{% extends "../layout/layout.twig" %}
{% block pageTitle %} Quản lý đơn hàng - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_profile">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="container-custom main_content">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/sidebar_profile.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="section_container" id="section_profile_orders">
                            <div class="section_header">
                                <h3 class="section_title">Đơn hàng của tôi</h3>
                            </div>
                            <div class="section_body">
                                <div class="row section_top_filter">
                                    <div class="col-6">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Tìm kiếm</label>
                                            <input type="text" class="input_common input_common--medium" placeholder="Nhập mã đơn hàng ..."/>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <div class="input_wrap input_wrap--row">
                                            <label for="" class="">Bộ lọc</label>
                                            <div class="select_wrap medium mr-3">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Nguồn hàng</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                            <div class="select_wrap medium">
                                                <select name="" id="" class="select_common">
                                                    <option value="">Trạng thái</option>
                                                    <option value="">Yahoo Shopping</option>
                                                    <option value="">Yahoo Auctions</option>
                                                    <option value="">Amazon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for i in 0..2 %}
                                    <table class="table_common table_primary section_profile_table" id="">
                                        <thead>
                                            <tr>
                                                <th class="th_orange"><i class="icon-ichiba-auction"></i> Yahoo! Auction - Tên Shop Yahoo! Auction</th>
                                                <th class="text_center">Trạng thái sản phẩm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in 0..2 %}
                                                <tr>
                                                    <td class="">
                                                        <div class="tbl_product_info">
                                                            <div class="tbl_product_top">
                                                                Mã đơn hàng: <a href="#" class="color_orange">#ICB2911994</a> - 04:23 - 20/03/2019 - <span class="color_orange">Đang xử lý</span>
                                                            </div>
                                                            <div class="tbl_product_bot">
                                                                <a href="#" class="tbl_product_thumb">
                                                                    <img src="http://placehold.jp/100x100.png" alt=""/>
                                                                </a>
                                                                <div class="tbl_product_content">
                                                                    <h4 class="tbl_product_name">
                                                                        <a href="#" title="">PMD Clean | Smart Facial Cleansing Brush and Face Massager Device for Youthful ...</a>
                                                                    </h4>
                                                                    <div class="tbl_product_meta">
                                                                        <div class="tbl_product_meta_item">Mã sản phẩm: <a href="#" class="color_orange">#ICB2911994</a></div>
                                                                        <div class="tbl_product_meta_item">Số lượng: 01</div>
                                                                        <div class="tbl_product_meta_item">Giá: <span class="color_orange">10.000.000đ</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text_center">
                                                    <span class="color_orange">
                                                        Đang cập nhật
                                                    </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>
                                                    <table class="table_common tbl_product_cost">
                                                        <tr>
                                                            <td>Tổng sản phẩm</td>
                                                            <td class="text_right color_orange">10.000.000đ</td>
                                                            <td>Phí giao hàng tại Việt Nam</td>
                                                            <td class="text_right color_orange">10.000.000đ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phí mua hộ</td>
                                                            <td class="text_right color_orange">10.000.000đ</td>
                                                            <td>Đã tạm ứng</td>
                                                            <td class="text_right color_green">10.000.000đ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Vận chuyển nội địa Nhật</td>
                                                            <td class="text_right color_orange">Đang cập nhật</td>
                                                            <td class="text_right no_border" colspan="2">
                                                                <strong class="fw_medium font_size_16">Tổng cần tất toán</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Vận chuyển quốc tế</td>
                                                            <td class="text_right color_orange">Đang cập nhật</td>
                                                            <td class="text_right" colspan="2">
                                                                <strong class="color_orange font_size_18">10.000.000đ</strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="text_center">
                                                    <div class="">
                                                        <a href="#" class="button_full button_primary button_small mb-3">
                                                            Tất toán đơn hàng
                                                        </a>
                                                        <div class="d-flex justify-content-between">
                                                            <a href="#" class="button_secondary_gray button_small">Huỷ</a>
                                                            <a href="#" class="button_secondary button_small">Khiếu nại</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                                <div class="d-flex justify-content-end">
                                    {% include '../components/pagination.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

