{% extends "../layout/layout.twig" %}
{% block pageTitle %} Đăng ký - {{ slogan }}{% endblock %}
{% block page %}
    <div class="" id="page_lisu">
        <div class="container page_lisu_container">

            <div class="page_lisu_body">
                <div class="row">
                    <div class="col-lg-6 d-md-none d-lg-block">
                        <div class="page_lisu_col page_login--colleft">
                            <img src="images/bg-login.png" alt=""/>
                            <div class="page_lisu_introduce">
                                <h3>Đăng Ký</h3>
                                <p>
                                    Tạo tài khoản để theo dõi đơn hàng,
                                    lưu danh sách sản phẩm yêu thích, nhận được
                                    tin tức khuyến mãi sớm nhất và những ưu đãi dành riêng cho tài khoản của bạn!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="page_lisu_col page_login--colright">
                            <div class="page_lisu_wrap_form">
                                <form action="" class="page_lisu_frm">
                                    <div class="lisu_frm_header">
                                        <div class="page_lisu_logo">
                                            <a href="#" title="{{ slogan }}"><img src="images/logo.svg" alt="{{ slogan }}"/></a>
                                        </div>
                                        <p class="lisunotice">
                                            *Sai tên đăng nhập hoặc mật khẩu
                                        </p>
                                    </div>
                                    <div class="lisu_frm_body">
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_username" class="lisu_frm_label">Họ và tên</label>
                                            <input type="text" class="input_common lisu_frm_input" id="input_username" />
                                        </div>
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_email" class="lisu_frm_label">Email</label>
                                            <input type="email" class="input_common lisu_frm_input" id="input_email" />
                                        </div>
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_phone" class="lisu_frm_label">SỐ ĐIỆN THOẠI</label>
                                            <input type="number" class="input_common lisu_frm_input" id="input_phone" />
                                        </div>
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_password" class="lisu_frm_label">MẬT KHẨU</label>
                                            <input type="number" class="input_common lisu_frm_input" id="input_password" />
                                        </div>
                                        <div class="lisu_frm_row lisu_frm_grpinput">
                                            <label for="input_repassword" class="lisu_frm_label">XÁC NHẬN MẬT KHẨU</label>
                                            <input type="number" class="input_common lisu_frm_input" id="input_repassword" />
                                        </div>

                                        <div class="lisu_frm_row">
                                         <span class="lisu_remember">
                                             <input type="checkbox" id="input_subcribe"/>
                                             <label for="input_subcribe">Nhận các thông tin và chương trình khuyến mãi qua email</label>
                                         </span>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <div class="lisu_frm_grpbtn">
                                                <button class="button_secondary btn_signup"><span>Đăng nhập</span></button>
                                                <button class="button_secondary btn_signup"><span>Đăng ký</span></button>
                                            </div>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <div class="lisu_frm_line"><span>Hoặc đăng nhập bằng</span></div>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <div class="lisu_with_socials">
                                                <a href="#" class="lisu_with_fb"><i class="fab fa-facebook-f"></i>Facebook</a>
                                                <a href="#" class="lisu_with_gg"><i class="fab fa-google-plus-g"></i>Google</a>
                                            </div>
                                        </div>
                                        <div class="lisu_frm_row">
                                            <p>Khi bạn nhấn Đăng ký, bạn đã đồng ý thực hiện mọi giao dịch mua bán
                                                theo <a href="#" class="color_orange">điều kiện sử dụng và chính sách</a> của iChiba.</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

