{% extends "../layout/layout.twig" %}

{% block page %}

    <div id="page_yahoo_auction_action" class="page_yahoo_auction">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <div class="block_container">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <div class="row yh_auction_notice">
                                <div class="col-2 text_right">
                                    <span class="font_size_20 color_orange">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </div>
                                <div class="col-10">
                                    I was not able to bid. Please enter a valid bid price. <br/>
                                    I'm sorry. <br/>
                                    Bidding exceeding your bid price was done by automatic bidding.
                                </div>
                            </div>
                            <div class="row  product_detail_seller">
                                <div class="col-3 produc_seller_col">
                                    <a href="#" class="product_thumb mb-0">
                                        <img src="images/product-item.jpg" alt="ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...">
                                    </a>
                                </div>
                                <div class="col-9 d-flex align-items-center">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product_detail_header">
                                                <h1 class="product_detail_name">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除  docomo
                                                    softbank 1円スタート 最低落札なし jetblack</h1>
                                            </div>
                                        </div>
                                        <div class="col-6 d-flex align-items-start produc_seller_col">
                                            <img src="images/icons/icon-store.svg" alt="" width="42" class="mr-2"/>
                                            <div class="">
                                                <div>Người bán: <a href="" class="color_blue" title="Yahoo! Auction">Yahoo! Auction</a></div>
                                                <div class="product_assess_icon_grp">
                                                    <span class="product_assess_icon">100 <i class="far fa-sun"></i> </span>
                                                    <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
                                                    <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
                                                </div>
                                                <br/>
                                                <div>Trạng thái: Mới, chưa sử dụng</div>
                                            </div>
                                        </div>
                                        <div class="col-6  d-flex flex-column justify-content-center">
                                            <div>Tổng số đánh giá: <span class=" color_blue">42</span></div>
                                            <div>Phần trăm đánh giá tốt: <span class=" color_blue">97%</span></div>
                                            <br/>
                                            <div>Số lượng: 5</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <table class="table">
                                        <tr>
                                            <td>Giá hiện tại</td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Giá mua ngay</td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <div class="mb-3">
                                                    <strong class="">Đặt giá đấu</strong>
                                                </div>
                                                <div class="mb-3">
                                                    <strong class=" font_size_16 color_blue">10.000.000 VND</strong>
                                                </div>
                                                <p class="font_size_12 text_left">
                                                    * Hãy đặt “đấu giá tự động” với giá cuối cùng bạn muốn mua sản phẩm này.
                                                    Điều này giúp bạn không mất nhiều thời gian để đấu giá lại.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Thuế tiêu dùng
                                            </td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tổng số tiền thuế
                                            </td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Số lượng
                                            </td>
                                            <td align="right">
                                                <input type="number" value="1" class="input_common yh_auction_input"/> <br/>
                                                <small class="">Cái (lên đến 5 cái)</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí vận chuyển nội địa
                                            </td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí vận chuyển Quốc tế
                                            </td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Phí dịch vụ iChiba
                                            </td>
                                            <td align="right">
                                                <strong class="">5.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="">Tổng cộng ước tính</strong>
                                            </td>
                                            <td align="right">
                                                <strong class="">10.000.000 VNĐ</strong> <br/>
                                                <small class="color_orange">1080.0 円</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="text-center">
                                                    <button class="button_secondary yh_auction_button">
                                                        <span><i class="icon-icon-yahoo-auction"></i> Đặt giá</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row yh_auction_notice">
                                <div class="col-2 text_right">
                                    <span class="font_size_20 color_orange">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </div>
                                <div class="col-10">
                                    I was not able to bid. Please enter a valid bid price. <br/>
                                    I'm sorry. <br/>
                                    Bidding exceeding your bid price was done by automatic bidding.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

