{% extends "../layout/layout.twig" %}
{% block pageTitle %} Yahoo Auctions - {{ slogan }}{% endblock %}

{% block page %}
    <div id="page_yauction_list">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include "../layout/breadcrums.twig" %}

            <div class="main_content container-custom">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/menu_category.twig' %}
                        {% include '../components/sidebar_filter.twig' %}
                    </aside>
                    <div class="main_colright">
                        <div class="block_container">
                            {% include '../components/filter_result.twig' %}
                            <div class="block_body">
                                <div class="product_list_auction">
                                    {% for i in 0..3 %}
                                        <div class="product_list_auction_row">
                                            <div class="product_list_auction_image">
                                                <a href="#" class="">
                                                    <img src="http://placehold.jp/160x160.png" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product_info">
                                                <h3 class="product_name">
                                                    <a href="" title="">ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...</a>
                                                </h3>
                                                <div class="product_info_row">
                                                    Lượt đấu: <span class="color_orange">8</span>
                                                    Vận chuyển nội địa: <span class="color_orange">Miễn Phí</span>
                                                    Người bán: <span class="color_orange">aerisrecycle0801</span> (<span class="product_assess_icon">100 <i class="far fa-sun color_orange"></i></span> Đánh giá tốt: <span class="color_orange">97.8%</span> )
                                                </div>
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="product_time_countdown">
                                                            <span>Thời gian còn lại</span>
                                                            <span class="color_orange">
                                                                3h59’00’’
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="product_price">
                                                            <span>Giá hiện tại</span>
                                                            <strong class="color_orange">233,982 Vnd</strong>
                                                            <span class="color_orange product_price_japan">1080.0 円</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="product_price">
                                                            <span>Giá bạn đặt</span>
                                                            <strong class="color_orange">233,982 Vnd</strong>
                                                            <span class="color_orange product_price_japan">1080.0 円</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-2 product_grp_btn">
                                                        <a href="#" class="button_secondary btn_product_heart mr-1">
                                                            <span><i class="fas fa-heart"></i> Yêu Thích</span>
                                                        </a>
                                                        <a href="#" class="button_secondary btn_product_share">
                                                            <span><i class="fab fa-facebook-f"></i> Chia sẻ</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-2 product_grp_btn">
                                                        <a href="#" class="button_primary button_micro button_auction"><i class="icon-ichiba-auction"></i> Đấu giá</a>
                                                        <a href="#" class="button_secondary button_micro button_buynow"><i class="icon-ichiba-plugin"></i> Mua ngay</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row product_row">
                                    {% for i in 0..7 %}
                                        <div class="col-md-3 product_col">
                                            {% include '../components/product_item_auction.twig' %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

