{% extends "../layout/layout.twig" %}


{% block page %}

    <div id="page_yahoo_auction_category">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            <div class="container-custom">
                <div class="block_container" id="block_yauction_category">
                    <div class="block_header">
                        <h3 class="block_title">
                            Danh mục Yahoo! Auction
                        </h3>
                    </div>
                    <div class="block_body">
                        <div class="yauction_category">
                            <div class="row">
                                {% for i in 0..23 %}
                                <div class="col-md-3">
                                    <a href="#" title="Hobby, culture" class="yauction_category_item">
                                        Hobby, culture <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="yauction_box_container">
                            <div class="row">
                                {% for i in 0..9 %}
                                    <div class="col-3 yauction_box_item">
                                        <a href="#" class="yauction_box_thumb" title="">
                                            <img src="http://placehold.jp/270x100.png" alt="Yahoo! Shopping"/>
                                        </a>
                                        <ul class="yauction_box_lst">
                                            <h4 class="yauction_box_name">
                                                <a href="#" title="Computers">Computers</a>
                                            </h4>
                                            {% for i in 0..6 %}
                                                <li><a href="#" title="Smartphone, mobile phone">Smartphone, mobile phone</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

