{% extends "../layout/layout.twig" %}
{% block pageTitle %}Yahoo Auction Home{% endblock %}
{% block page %}

    <div id="page_auction_home">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="main_content container-custom">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/menu_category.twig' %}
                    </aside>
                    <div class="main_colright">
                        {% include "../components/banner-supplier.twig" %}
                        <div class="block_container" id="">
                            <div class="block_header">
                                <h3 class="block_title">Gợi ý dành cho bạn</h3>
                            </div>
                            <div class="block_body">
                                <ul class="tab_nav_lst tab_nav_lst--primary" id="tab_suggest">
                                    <li class="tab_item active"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Auction" class="active">Yahoo! Auction</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Yahoo! Shopping">Yahoo! Shopping</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Amazon">Amazon</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">Rakuten</a></li>
                                    <li class="tab_item"><a data-toggle="tab" href="javascript:void(0)" title="Rakuten">iChiba Place</a></li>
                                </ul>
                                {% for i in 0..1 %}
                                    <div class="category_grid">
                                        <div class="category_grid_row">
                                            {% for i in 0..7 %}
                                                <div class="category_grid_col">
                                                    <a href="#" class="category_grid_item">
                                                        <img src="http://placehold.jp/224x184.png" alt=""/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include "../components/process-order.twig" %}
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>

{% endblock %}