{% extends "../layout/layout.twig" %}

{% block page %}

    <div id="" class="page_yahoo_auction">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            <div class="container-custom">
                {% include '../layout/breadcrums.twig' %}
                <div class="block_container">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <div class="row yh_auction_notice yh_auction_notice--success">
                                <div class="col-2 text_right">
                                    <span class="font_size_32 text-success">
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                </div>
                                <div class="col-10 font_size_20">
                                    Chúc mừng bạn đã đấu giá thành công. <br/>
                                    Bạn đang là người trả giá cao nhất
                                </div>
                            </div>
                            <div class="row  product_detail_seller">
                                <div class="col-3 produc_seller_col">
                                    <a href="#" class="product_thumb mb-0">
                                        <img src="images/product-item.jpg" alt="ASUS VivoBook F510UA 15.6” Full HD Nanoedge Laptop, Intel ...">
                                    </a>
                                </div>
                                <div class="col-9 d-flex align-items-center">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product_detail_header">
                                                <h1 class="product_detail_name">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除  docomo
                                                    softbank 1円スタート 最低落札なし jetblack</h1>
                                            </div>
                                        </div>
                                        <div class="col-6 d-flex align-items-start produc_seller_col">
                                            <img src="images/icons/icon-store.svg" alt="" width="42" class="mr-2">
                                            <div class="">
                                                <div>Người bán: <a href="" class="color_blue" title="Yahoo! Auction">Yahoo! Auction</a></div>
                                                <div class="product_assess_icon_grp">
                                                    <span class="product_assess_icon">100 <i class="far fa-sun"></i> </span>
                                                    <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
                                                    <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
                                                </div>
                                                <br/>
                                                <div>Trạng thái: Mới, chưa sử dụng</div>
                                            </div>
                                        </div>
                                        <div class="col-6  d-flex flex-column justify-content-center">
                                            <div>Tổng số đánh giá: <span class=" color_blue">42</span></div>
                                            <div>Phần trăm đánh giá tốt: <span class=" color_blue">97%</span></div>
                                            <br/>
                                            <div>Số lượng: 5</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

