{% extends "../layout/layout.twig" %}
{% block pageTitle %} Yahoo Shopping - {{ slogan }}{% endblock %}

{% block page %}

    <div id="page_yahoo_shooping">
        <div class="main_body">
            {% include "../layout/topbar.twig" %}
            {% include "../layout/header/header.twig" %}
            {% include "../layout/navigation.twig" %}
            {% include '../layout/breadcrums.twig' %}
            <div class="container-custom">
                <div class="row">
                    <aside id="sidebar">
                        {% include '../components/menu_category.twig' %}
                        <div class="sidebar_banner">
                            <a href=""><img src="http://placehold.jp/285x420.png" alt="" /></a>
                        </div>
                    </aside>
                    <div class="main_colright">
                        {% include "../components/banner-supplier.twig" %}
                        {% include "../components/block_recent_view.twig" %}
                        {% include "../components/block_you_like.twig" %}
                        {% include "../components/block_recent_sell.twig" %}
                        {% include "../components/block_update_everyday.twig" %}
                        {% include "../components/block_livestream.twig" %}
                        {% include "../components/block_coupon_yshopping.twig" %}
                        {% include "../components/block_tool_estimate.twig" %}
                    </div>
                </div>
            </div>
            {% include "../layout/footer/footer.twig" %}
        </div>
    </div>
{% endblock %}

