// Contain floats / clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//Reset Ul Li
%reset-lst {
  list-style: none;
  margin: 0;
  padding: 0
}

//Image Hover
%image-hover {overflow: hidden;
  img {
    @include transition(all 0.3s ease-in-out);
    @include transform(scale(1));
  }
  &:hover {
    img {@include transform(scale(1.05));}
  }
}

//Parallax
%parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
