<div class="row footer">
    <div class="col-6 col-md-3 footer_col address_col">
        <h4 class="footer_col_name">Văn phòng tại Hà Nội</h4>
        <div class="footer_body">
            <div class="footer_info">
                <strong class=""><i class="fas fa-headset"></i> Hotline:</strong>
                <a href="#" class="footer_phone">1900 988 950</a>
            </div>
            <div class="footer_info">
                <strong class=""><i class="fas fa-map-marker-alt"></i>Trụ sở:</strong>
                <p>
                    Ngõ 167, Đường Quang Tiến, Phường Đại Mỗ Nam, Từ Liêm, TP. Hà Nội
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 footer_col address_col">
        <h4 class="footer_col_name">Văn phòng tại TP. Hồ Chí Minh</h4>
        <div class="footer_body">
            <div class="footer_info">
                <strong class=""><i class="fas fa-headset"></i>Hotline:</strong>
                <a href="#" class="footer_phone">1900 988 950</a>
            </div>
            <div class="footer_info">
                <strong class=""><i class="fas fa-map-marker-alt"></i>Trụ sở:</strong>
                <p>
                    Số 5B Lam Sơn , Phường 2, Quận Tân Bình, TP. Hồ Chí Minh
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 footer_col address_col">
        <h4 class="footer_col_name">Trụ sở tại Tokyo</h4>
        <div class="footer_body">
            <div class="footer_info">
                <strong class=""><i class="fas fa-headset"></i>Hotline:</strong>
                <a href="#" class="footer_phone">1900 988 950</a>
            </div>
            <div class="footer_info">
                <strong class=""><i class="fas fa-map-marker-alt"></i>Trụ sở:</strong>
                <p>
                    〒136-0082  Tokyo Koto-Ku, Shinkiba, 2-6-4
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 footer_col address_col">
        <h4 class="footer_col_name">Trụ sở tại Osaka</h4>
        <div class="footer_body">
            <div class="footer_info">
                <strong class=""><i class="fas fa-headset"></i>Hotline:</strong>
                <a href="#" class="footer_phone">1900 988 950</a>
            </div>
            <div class="footer_info">
                <strong class=""><i class="fas fa-map-marker-alt"></i>Trụ sở:</strong>
                <p>
                    〒136-0082  Tokyo Koto-Ku, Shinkiba, 2-6-4
                </p>
            </div>
        </div>
    </div>
</div>