<div class="row footer_info">
    <div class="col-6 col-md-3 footer_col">
        <h2 class="footer_logo">
            <a href="#" title="{{ slogan }}"><img src="images/logo-orange.svg" alt="{{ slogan }}"></a>
        </h2>
        <div class="address_col">
            <h4 class="footer_col_name">Văn phòng tại Hà Nội</h4>
            <div class="footer_body">
                <div class="footer_info">
                    <strong class=""><i class="fas fa-headset"></i> Hotline:</strong>
                    <a href="#" class="footer_phone">1900 988 950</a>
                </div>
                <div class="footer_info">
                    <strong class=""><i class="fas fa-map-marker-alt"></i> Trụ sở:</strong>
                    <p>
                        Ngõ 167, Đường Quang Tiến, Phường Đại Mỗ Nam, Từ Liêm, TP. Hà Nội
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 footer_col">
        <h4 class="footer_col_name">Dành cho khách hàng</h4>
        <div class="footer_body">
            <ul class="footer_menu">
                <li class="footer_menu_item"><a href="#" title="">Câu hỏi thường gặp</a></li>
                <li class="footer_menu_item"><a href="#" title="">Phương thức thanh toán</a></li>
                <li class="footer_menu_item"><a href="#" title="">Hướng dẫn mua hàng</a></li>
                <li class="footer_menu_item"><a href="#" title="">Hình thức vận chuyển</a></li>
                <li class="footer_menu_item"><a href="#" title="">Chính sách đổi trả hàng</a></li>
                <li class="footer_menu_item"><a href="#" title="">Chính sách hỗ trợ khách hàng</a></li>
                <li class="footer_menu_item"><a href="#" title="">Khuyễn mãi</a></li>
            </ul>
        </div>
    </div>
    <div class="col-6 col-md-3 footer_col">
        <h4 class="footer_col_name">Dành cho khách hàng</h4>
        <div class="footer_body">
            <ul class="footer_menu">
                <li class="footer_menu_item"><a href="#" title="">Giới thiệu về iChiba</a></li>
                <li class="footer_menu_item"><a href="#" title="">Tin tức</a></li>
                <li class="footer_menu_item"><a href="#" title="">Chính sách bảo mật</a></li>
                <li class="footer_menu_item"><a href="#" title="">Giải quyết khiếu nại</a></li>
                <li class="footer_menu_item"><a href="#" title="">Điều khoản dịch vụ</a></li>
                <li class="footer_menu_item"><a href="#" title="">Quy chế hoạt động </a></li>
                <li class="footer_menu_item"><a href="#" title="">Tuyển dụng</a></li>
            </ul>
        </div>
    </div>
    <div class="col-6 col-md-3 footer_col">
        <h4 class="footer_col_name">Về chúng tôi</h4>
        <div class="footer_body">
            <!--Fanpage-->
            <div class="fanpage">
                <img src="images/fanpage.png" alt="" />
            </div>
        </div>
    </div>
</div>